{% extends 'admin_base.html.twig' %}

{% block title %}{{ parent() }} - Gestion Utilisateurs{% endblock %}

{% block content %}
    <table border="1" id="users_table_id" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>username</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>username</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function () {
            /*-------------Reclamations DataTable-------------*/
            $('#users_table_id').DataTable({
                    ajax: "{{ path('admin_user_get_dataTables') }}",
                    columnDefs: [
                        {
                            "targets": 3,
                            "render": function (data, type, row) {
                                $dom = "";
                                if (row[4] == 0){
                                    $dom = '<form method="post" action="{{ path("admin_user_debannir") }}"><button type="submit" class="btn btn-success traiter_reclamation_btn_class" value="'+data+'" name="id">Debannir</button></form>';
                                }else{
                                    $dom = '<form method="post" action="{{ path("admin_user_bannir") }}"><button type="submit" class="btn btn-danger traiter_reclamation_btn_class" value="'+data+'" name="id">Bannir</button></form>';
                                }

                                return $dom;
                            }
                        }]
                }
            );
            /*-------------------------------------------------*/
        });
    </script>
{% endblock %}
