{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}
    <!-- eof .page_header -->

    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Archives: </span>La liste de mes services Vétérinaires</h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item">
                            <a href="{{ path('template_homepage') }}">Acceuil</a></li>
                    </ol>

                </div>
            </div>
        </div>
    </section>


    <section class="">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 col-md-12">
                    <form method="POST" >
                        <div class="lis-relative">
                            <h5 class="mb-2">Vous cherchez quoi?</h5>
                            <p>Chercher par le nom du service:</p>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form-group lis-relative">

                                        <input type="text" name="name" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="Vous cherchez quoi?">
                                        <div class="lis-search"> <i class="fa fa-search lis-primary lis-left-0"></i> </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row my-4">
                                <div class="col-12 col-md-12"> <input type="submit" class="btn btn-primary btn-default" value="Chercher"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </section>

    <!--End Page Inner -->
    <!-- Blog -->
    <section>
        <div class="container">

            <div class="row">
                {% for services in services %}
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <a href="#">
                                <div class="item-media">
                                    <img width="50" height="50" src="{{ asset('Pictures/') }}{{ services.image }}"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
                                         sizes="(max-width: 150px) 100vw, 150px"/>  </div>                                                                <div class="lis-absolute lis-right-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14"><a href="{{ path('deleteserviceuser', {'id':services.id}) }}" class="text-white "><i class="fa fa-trash">  </i> Delete</a> </div>
                                </div>
                                <div class="lis-absolute lis-left-20 lis-top-20">
                                    <div class="lis-post-meta border border-white text-white rounded lis-f-14"><a href="{{ path('updateserviceuser',{'id':services.id}) }}" class="text-white"><i class="fa fa-pencil"></i>  Edit</a> </div>
                                </div>

                            </a>

                            <div class="item-meta content-justify">
                                <span class="entry-date post-date highlight3"><span class="lis-light">{{ services.createDt|date('d/m/Y') }}</span></span>				<!-- .item cats -->
                                <!-- .item cats -->
                            </div>
                            <div class="pt-4">  <a href="{{ path('Servicedetailsuser',{'id':services.id}) }}" class="lis-dark"><h6 class="mt-2">{{ services.title }}</h6></a>
                                <p>{{ services.adresseS }}</p>
                            </div>
                            <a href="{{ path('Servicedetailsuser',{'id':services.id}) }}" class="read-more"></a>




                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="navigation text-center" >
            {{ knp_pagination_render(services) }}
        </div>
    </section>


{% endblock %}

