<div class="col-sm-4 header_right_buttons text-center text-sm-right hidden-xs">

        {% if is_granted('ROLE_DRE') %}
                <a href="{{ path('listedre') }}"><span style="color: #133a4a">Mes rendez-vous</span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
        {% endif %}

    {% if is_granted('ROLE_VET') %}
        <a href="{{ path('listevet') }}"><span style="color: #133a4a">Mes rendez-vous</span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
    {% endif %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                <span> {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |</span>
        {% else %}
                <a href="{{ path('fos_user_security_login') }}">Login</a>
                <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
        {% endif %}

</div>