<nav class="mainmenu_wrapper primary-navigation">
    <ul id="menu-main-menu" class="sf-menu nav-menu nav">
        {% for menu in menus %}
        <li id="menu-item-126" class="menu-item {{ menu.active }}"><a href="{{ path(menu.path) }}" >{{ menu.title }} </a></li>
        {% endfor %}

        <li id="menu-item-126" class="menu-item "><a href="{{ path('rendezVous_add') }}" >{{ 'RDV' }} </a>
        </li>
    </ul>
</nav>


