{% extends 'TemplateBundle:Default:Layout.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">

            <div class="col-md-3">


            </div>

            <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
                     style="background-image: url({{ asset('wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg') }});">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center breadcrumbs_inner">
                            <h2 class="highlight">
                                <span class="taxonomy-name-title">Services Category: </span>La liste des rendez-vous disponibles</h2>
                            <ol class="breadcrumb darklinks">
                                <li class="first-item"><br>
                                    <a href="{{ path('template_homepage') }}">Home</a></li>
                                <li class="last-item">liste Rendez-vous</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>


            <div class="x_content">

                <table id="datatable-fixed-header" class="table table-striped table-bordered">
                    <thead style ="color:#150290;">
                    <tr>
                        <th class="col-xs-1"> N° RDV </th>
                        <th class="col-xs-2" align="center">Description</th>
                        <th class="col-xs-2" align="center">Date du RDV</th>
                        <th class="col-xs-2" align="center">Heure du RDV</th>
                        <th class="col-xs-2" align="center">Personne a voir</th>
                        <th class="col-xs-2" align="center">habitation</th>



                    </tr>
                    </thead>


                    <tbody>

                    {% for i in m %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.message[:50]|raw }}</td>
                            <td>{{ i.date   }}</td>
                            <td>{{ i.heure }}</td>
                            <td>{{ i.demandeur.nom }} {{ i.demandeur.prenom }}</td>
                            <td>{{ i.demandeur.habitation }}</td>
                            <td><a href="{{ path('valider',{'id':i.id}) }}">Valider</a></td>
                            <td><a href="{{ path('update',{'id':i.id}) }}">Reporter</a></td>
                            <td><a href="{{ path('delete',{'id':i.id}) }}">Annuler</a></td>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(m) }}
            </div>


























        </div>

    </div>

    </div>
{% endblock %}

