<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body class="gray-bg">

<div class="loginColumns animated fadeInDown">
    <div class="row">

        <div class="col-md-6">
            <h2 class="font-bold">Bonjour {{ user.nom }} {{ user.prenom }}</h2>

            <p>
                {{ message }}
            </p>


            <p>

            </p>

            <p>
                Pour plus de détails, veuillez vous connecter à votre espace <u>AnimauxTN</u>
            </p>

            <p>
                Cordialement
            </p>
            <p>
                L'administration AnimauxTN
            </p>


        </div>

    </div>
    <hr>

</div>


</body>


</html>