{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}

    <!-- eof .page_header -->
    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url({{ asset('wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Services Category: </span>Prendre un rendez-vous </h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item"><br>
                            <a href="{{ path('template_homepage') }}">Home</a></li>
                        <li class="last-item">Prendre un Rendez-vous</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <br><br>



    <div class="col-xs-12 col-lg-12 offset-lg-1" id="kwikCalenderId">
        <div id="kwik-calendar-holder" class="kwik-calendar-holder" data-position="pos-top"></div>
    </div>





    <section class="fw-main-row  ds section_padding_top_100 section_padding_bottom_75 columns_padding_15 parallax" style="background-image: url({{ asset('wp-content/uploads/2017/08/progress.jpg') }}); background-position: 50% -14px;">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 to_animate text-center animated fadeInUp" data-animation="fadeInUp">

                    <div class="fw-divider-space " style="padding-top: 5px;"></div>
                    <div class="shortcode-icon">
                        <div class="icon-wrap size_normal default_icon color_3">
                            <i class="fa fa-paw"></i>
                        </div>
                    </div>

                    <div class="fw-divider-space " style="padding-top: 20px;"></div>
                    <div class="special-heading text-center">


                    </div>

                    <div id="notification">
                    </div>
                    <input type="hidden" id="iduser" value="{{ id }}">



                        <form data-fw-form-id="fw_form" method="post" action="{{ path('rendez_vous_make',{'id' : id}) }}" class="fw_form_fw_form" data-fw-ext-forms-type="contact-forms"><input type="hidden" name="fwf" value="fw_form"><input type="hidden" id="_nonce_382829a97405f2cabd73ccd6d692d1a2" name="_nonce_382829a97405f2cabd73ccd6d692d1a2" value="ac246c5913"><input type="hidden" name="_wp_http_referer" value="/pet-space/"><input type="hidden" name="fw_ext_forms_form_type" value="contact-forms"><input type="hidden" name="fw_ext_forms_form_id" value="8cd15195cfd9741851034a3651935b94"><div class="wrap-forms">
                                <div class="row"></div><div class="row"><div class="col-xs-12 col-md-4 form-builder-item color3">
                                    </div><div class="col-xs-12 col-md-2 form-builder-item">
                                        <div class="form-group has-placeholder">
                                            <div class="field-date">
                                                <label for="id-date-3">Date			<sup>*</sup>
                                                </label>
                                                <i class="fa fa-calendar color3"></i>
                                                {{ form_widget(form.date,{'attr' : {'class' : 'form-control','name' : 'date_time_2cb8244','data-pick-date' : 'true','data-pick-time' : 'false','data-language' : 'en','id' : 'id-date-3','placeholder' : 'Date'}}) }}

                                            </div>
                                        </div>
                                    </div><div class="col-xs-12 col-md-2 form-builder-item">
                                        <div class="form-group has-placeholder">
                                            <div class="field-date">
                                                <label for="id-date-4">Time			<sup>*</sup>
                                                </label>
                                                <i class="fa fa-clock-o color3"></i>
                                                {{ form_widget(form.heure,{'attr' : {'class' : ''}}) }}

                                            </div>
                                        </div>
                                    </div></div><div class="row"><div class="col-xs-12 form-builder-item">
                                        <div class="form-group has-placeholder">
                                            <label for="id-5">Message			<sup>*</sup>		</label>
                                            <i class="fa fa-comment color3"></i>
                                            {{ form_widget(form.message, {'attr' : {'class' : 'ckeditor', 'rows' : '3', 'name' : 'textarea_16bd6a9', 'placeholder' : 'Votre message'}}) }}

                                        </div>

                                        <input type="hidden" id="ch">
                                    </div></div><div class="row"></div></div><div class="wrap-forms wrap-forms-buttons topmargin_10">
                                <div class="row">
                                    <div class="col-sm-12 wrap-buttons text-center">
                                        {{ form_rest(form) }}
                                        {{ form_widget(form._token) }}
                                        <input type="sumbit" onclick="return check()" class="theme_button color3 wide_button" value="Vérifier disponibilité">
                                        <br><br>
                                        <input id="subForm" class="theme_button color3 wide_button" type="submit"  onclick="return check()" style="display: none; margin:auto;"  >
                                    </div>
                                </div>
                            </div></form></div>
                    <div class="fw-divider-space " style="padding-top: 15px;"></div>
                </div>
            </div>
        </div>
    </section>
    <br><br>

    <script>
        $(document).ready(function() {
            $.ajax({
                type: 'GET',
                url: '{{ path('getCalendrierData',{'id' : id}) }}',
                data: '',

                success: function (response) {
                    $tableauRendezvous = [];
                    response.listRendezVous.map(function(item) {
                        $tableauRendezvous.push({
                            "eventDate"             : item.date,
                            //"eventImage"            : '{{ asset('image.png') }}',
                            "eventDescription"      : item.description,
                            "eventCategory"         : item.categorie,
                           // "eventLocation"         : "",
                            "eventTitle"            : item.titre,
                            "eventCost"             : 0,
                            //"eventLatLng": {'lat': '51.52290101280822', 'lng': '-0.1549250146117629'},
                            "eventBookingURL": ""

                        });
                    });
                    $listeCategories = {};
                    response.listCategories.map(function(item) {
                        //$.each( response.listCategories, function( key, value ) {
                        $listeCategories[item.libelle] = item.couleur ;
                    });
                    jQuery('.kwik-calendar-holder').kwikEventsCalendar({
                        callback: function () {
                            //$("#kwikCalenderId").attr('style',' font-size: 500%;');
                        },
                        featuredPosition: 'pos-top',
                        defaultLang: 'fr',
                        defaultView: 'month',
                        featuredBackground: '#009640',
                        featuredEventID: '0',
                        featuredWidth: '30',
                        eventCategories: $listeCategories,
                        eventsList: $tableauRendezvous
                    })
                }

            })
        })

    </script>


{% endblock %}




