{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}

    <!-- eof .page_header -->
    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url({{ asset('wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Services Category: </span>Prendre un rendez-vous </h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item"><br>
                            <a href="{{ path('template_homepage') }}">Home</a></li>
                        <li class="last-item">Prendre un Rendez-vous</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <br><br>

    <section class="fw-main-row  ds section_padding_top_100 section_padding_bottom_75 columns_padding_15 parallax" style="background-image: url({{ asset('wp-content/uploads/2017/08/progress.jpg') }}); background-position: 50% -14px;">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 to_animate text-center animated fadeInUp" data-animation="fadeInUp">

                    <div class="fw-divider-space " style="padding-top: 5px;"></div>
                    <div class="shortcode-icon">
                        <div class="icon-wrap size_normal default_icon color_3">
                            <i class="fa fa-paw"></i>
                        </div>
                    </div>

                    <div class="fw-divider-space " style="padding-top: 20px;"></div>
                    <div class="special-heading text-center">


                    </div>

                    {#MAPPPP#}

                    <h4 style="color: black">Point de départ</h4>
                    <input type="text" name="depart" placeholder="Départ" id="depart" style="width: 75%" required/><br><br>
                    <input type="hidden" name="l1"  id="l1" />
                    <input type="hidden" name="la1"  id="la1" />



                    <input  hidden type="text" name="destination" placeholder="Destination" id ="destination" style="width: 75%"  required/>

                    <input type="hidden" name="l2"  id="l2" value={{lat}} >
                    <input type="hidden" name="la2"  id="la2"  value ={{ lon}}>


                    <br>

                    <input type="text" name="total" id="total" value=""></input>
                    <br><br>

                    <div id="floating-panel" hidden>
                        <select id="mode" hidden="true">
                            <option value="DRIVING" selected>Driving</option>
                            <option value="WALKING">Walking</option>
                            <option value="BICYCLING">Bicycling</option>
                            <option value="TRANSIT">Transit</option>
                        </select>
                    </div>

                    <div id="map"></div>

                    <script>
                        var infowindow;
                        var map;
                        function initMap() {

                            google.maps.event.addDomListener(window,'load', initialize);



                            var directionsDisplay = new google.maps.DirectionsRenderer;
                            var directionsService = new google.maps.DirectionsService;

                            map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 7,
                                center: {lat: 35.6759137, lng: 10.0919243}
                            });
                            directionsDisplay.setMap(map);



                            /*   calculateAndDisplayRoute(directionsService, directionsDisplay,"35.6759137","10.0919243","36.72783","10.70979");
                             document.getElementById('mode').addEventListener('change', function() {
                             calculateAndDisplayRoute(directionsService, directionsDisplay,"35.6759137","10.0919243","36.72783","10.70979");
                             });*/

                            document.getElementById('depart').addEventListener('change', function() {
                                setTimeout(function(){

                                    var x1 = document.getElementById('l1').value;
                                    var x2 = document.getElementById('la1').value;
                                    var y1 = document.getElementById('l2').value;
                                    var y2 = document.getElementById('la2').value;
                                    var beachMarker = new google.maps.Marker({
                                        position: {lat: parseFloat(x1), lng:  parseFloat(x2)},
                                        map: map,

                                    });

                                    calculateAndDisplayRoute(directionsService, directionsDisplay,x1,x2,y1,y2);
                                }, 500);


                            });



                            document.getElementById('destination').addEventListener('change', function() {
                                setTimeout(function(){
                                    var x1 = document.getElementById('l1').value;
                                    var x2 = document.getElementById('la1').value;
                                    var y1 = document.getElementById('l2').value;
                                    var y2 = document.getElementById('la2').value;
                                    calculateAndDisplayRoute(directionsService, directionsDisplay,x1,x2,y1,y2);
                                }, 500);
                            });


                        }



                        function calculateAndDisplayRoute(directionsService, directionsDisplay,v1,v2,d1,d2) {
                            var selectedMode = document.getElementById('mode').value;

                            directionsService.route({
                                origin: {lat: parseFloat(v1), lng: parseFloat(v2)},  // Haight.
                                destination: {lat: parseFloat(d1), lng: parseFloat(d2)},  // Ocean Beach.
                                travelMode: google.maps.TravelMode[selectedMode]
                            }, function (response, status) {
                                if (status == google.maps.DirectionsStatus.OK) {
                                    directionsDisplay.setDirections(response);
                                    computeTotalDistance(response);
                                } else {
                                    window.alert('Directions request failed due to ' + status);
                                }
                            });



                        }


                        function createMarker(place) {
                            var placeLoc = place.geometry.location;


                            var marker = new google.maps.Marker({
                                Map: map,
                                position: place.geometry.location
                            });

                            google.maps.event.addListener(marker, 'click', function() {
                                infowindow.setContent(place.name);
                                infowindow.open(map, this);
                            });
                        }





                    </script>






                    <script>




                        function initialize (){
                            var autocomplete = new google.maps.places.Autocomplete(document.getElementById('depart'));
                            google.maps.event.addListener(autocomplete,'place_changed',function(){

                                var places =autocomplete.getPlace();

                                var l1= places.geometry.location.lat() ;

                                var la1= places.geometry.location.lng() ;


                                document.getElementById('l1').value=l1;
                                document.getElementById('la1').value=la1;
                                console.log("teest1");

                            });

                        }


                        function computeTotalDistance(result) {
                            var total = 0;
                            var myroute = result.routes[0];
                            for (i = 0; i < myroute.legs.length; i++) {
                                total += myroute.legs[i].distance.value;
                            }
                            total = total / 1000.
                            document.getElementById('total').value=total;
                        }

                    </script>




                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1wZzIFPGSXt8oyLk_y1BxJJvzmQZoRLU&libraries=places&callback=initMap"
                            async defer></script>

                    <div class="form-wrapper  columns_padding_15">
                    </div>
                    <div class="fw-divider-space " style="padding-top: 15px;"></div>
                </div>
            </div>
        </div>
    </section>
    <br><br>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('map/map.css') }}" />
    {% endblock %}

{% endblock %}