{% extends 'TemplateBundle:Default:Layout.html.twig' %}

{% block body %}
    <!-- eof .page_header -->
    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url({{ asset('wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Services Category: </span>Prendre un rendez-vous </h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item"><br>
                            <a href="{{ path('template_homepage') }}">Home</a></li>
                        <li class="last-item">Prendre un Rendez-vous</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <br><br>

    <section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
        <div class="container">
            <div class="row">
                <div id="content" class="services-grid col-sm-12">
                    <div class="isotope_container isotope row masonry-layout" style="position: relative; height: 980.224px;">
                        <div class="isotope-item bottommargin_20 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 0%; top: 0px;">
                            <div class="service_item vertical-item content-padding with_shadow text-center rounded overflow-hidden">
                                <div class="item-media">
                                    <a href="{{ path('rdv_pagedressage') }}"><img width="775" height="517" src="../wp-content/uploads/2017/08/01-1-775x517.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/01-1-775x517.jpg 775w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/01-1-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/01-1-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/01-1-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/01-1.jpg 1170w" sizes="(max-width: 775px) 100vw, 775px">			</div></a>
                                <div class="item-content">
                                    <h4 class="entry-title hover-color3">
                                        <a href="{{ path('rdv_pagedressage') }}">
                                            Dressage			</a>
                                    </h4>
                                    <div class="excerpt">
                                        <p>Le dressage est une discipline olympique des sports équestres issue de la tradition de l'équitation classique. Il est souvent considéré comme un art, car la recherche esthétique du mouvement y prend une place prépondérante.</p>
                                    </div>
                                </div><!-- eof .item-content -->
                            </div><!-- eof .teaser -->
                        </div>
                        <div class="isotope-item bottommargin_20 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 33.3333%; top: 0px;">
                            <div class="service_item vertical-item content-padding with_shadow text-center rounded overflow-hidden">
                                <div class="item-media">
                                    <a href="{{ path('rdv_pagemedical') }}"><img width="775" height="517" src="../wp-content/uploads/2017/08/12-775x517.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/12-775x517.jpg 775w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/12-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/12-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/12-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/12.jpg 1170w" sizes="(max-width: 775px) 100vw, 775px"></a>			</div>
                                <div class="item-content">
                                    <h4 class="entry-title hover-color3">
                                        <a href="{{ path('rdv_pagemedical') }}">
                                            Médical			</a>
                                    </h4>
                                    <div class="excerpt">
                                        <p>La médecine est la science et la pratique étudiant l'organisation du corps humain, son fonctionnement normal, et cherchant à préserver la santé par la prévention et le traitement des pathologies.</p>
                                    </div>
                                </div><!-- eof .item-content -->
                            </div><!-- eof .teaser -->
                        </div>
                        <div class="isotope-item bottommargin_20 col-lg-4 col-md-4 col-sm-6 col-xs-12" style="position: absolute; left: 66.6667%; top: 0px;">
                            <div class="service_item vertical-item content-padding with_shadow text-center rounded overflow-hidden">
                                <div class="item-media">
                                    <a href="{{ path('rdv_pagegarde') }}"><img width="775" height="517" src="../wp-content/uploads/2017/08/06-1-775x517.jpg" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/06-1-775x517.jpg 775w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/06-1-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/06-1-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/06-1-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/06-1.jpg 1170w" sizes="(max-width: 775px) 100vw, 775px"></a>			</div>
                                <div class="item-content">
                                    <h4 class="entry-title hover-color3">
                                        <a href="{{ path('rdv_pagegarde') }}">
                                            Garde d'animaux			</a>
                                    </h4>
                                    <div class="excerpt">
                                        <p>Le Pet Sitter, comme une Baby Sitter avec des enfants, est la personne qui prend soin de vos animaux pendant votre absence..</p>
                                    </div>
                                </div><!-- eof .item-content -->
                            </div><!-- eof .teaser -->
                        </div>


                    </div><!-- eof services -->
                </div><!--eof #content -->

            </div><!-- eof .row-->
        </div><!-- eof .container -->
    </section>
    <br><br>



{% endblock %}