{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}

    <link href="{{ asset('wp-content/plugins/DataTable/aa.min.css') }}" rel="stylesheet">

    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        Dressage				</h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item">
                            <a href="{{ path('template_homepage') }}">Home</a></li>
                        <li class="0-item">
                            <a href="{{ path('rendezVous_add') }}">Rendez-vous</a></li>
                        <li class="last-item">Dressage</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
        <div class="container">
            <div class="row">
                <div id="content" class="single-service">
                    <article id="post-2996" class="post-2996 fw-services type-fw-services status-publish has-post-thumbnail hentry fw-services-category-services">
                        <!-- .entry-header -->
                        <div class="vertical-item">
                            <div class="item-content entry-content">
                                <div class="fw-page-builder-content">
                                    <section class="fw-main-row  ls section_padding_top_5 section_padding_bottom_5 columns_padding_25">
                                        <h3 class="hidden">5a737633b6892</h3>

                                        <div class="x_content">

                                            <script src="{{ asset('jquery-3.2.1.min.js') }}"></script>
                                            <form hidden method="post">
                                                Nom: <input type="text" id="nom" name="nom"/><br>
                                            </form>


                                            <div id="affichage">

                                                <table id="annoncesTable" class="display" cellspacing="0" width="100%" >
                                                    <thead >
                                                    <tr>
                                                        <th>N°</th>
                                                        <th>Nom</th>
                                                        <th>Prenom</th>
                                                        <th>N° telephone</th>
                                                        <th>E-mail</th>
                                                        <th>Adresse</th>
                                                        <th></th>
                                                        <th></th>






                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    {% for i in m %}
                                                        <tr>
                                                            <td>{{ i.id }}</td>
                                                            <td>{{ i.nom }}</td>
                                                            <td>{{ i.prenom }}</td>
                                                            <td>{{ i.numtel }}</td>
                                                            <td>{{ i.email }}</td>
                                                            <td>{{ i.habitation}}</td>
                                                            <td class="col-xs-3"><a href="{{ path('rendez_vous_make',{'id':i.id}) }}">Prendre un rendz-vous</a></td>
                                                            <td><a href="{{ path('mappage',{'id':i.id}) }}">Destination</a></td>

                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>
                                            <div class="navigation">
                                                {{ knp_pagination_render(m) }}
                                            </div>


                                            <div id="div" name="div">

                                            </div>

                                        </div>


                                    </section>
                                </div>
                            </div>
                            <!-- .entry-content -->
                        </div>
                        <!-- .entry-content -->
                    </article><!-- #post-## -->


                </div><!--eof #content -->
            </div><!-- eof .row-->
        </div><!-- eof .container -->
    </section>
    <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable').DataTable({
                "bPaginate": false,
                "ordering": false,
                "info":     false,
                "sDom": '<"pull-left"f><"pull-right"l>tip',


                "aoColumns": [ {"bSearchable": false}, {"bSearchable": true}, {"bSearchable": false}, {"bSearchable": false}, {"bSearchable": false}, {"bSearchable": false}, {"bSearchable": false}, {"bSearchable": false},]
            });


        });
    </script>



    <script type='text/javascript' src='{{ asset('wp-content/plugins/DataTable/jquery.dataTables.min.js') }}'></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('wp-content/plugins/DataTable/jquery.dataTables.min.css') }}" />

    <script>
        $("#nom").keyup(
                function () {

                    var nom = $("#nom").val();
                    //  alert(nom);
                    // console.log(nom);
                    var DATA = 'nom='+nom;
                    //alert(DATA);
                    $.ajax({
                        type: "POST",
                        url: "{{ path('rdv_pagedressage') }}",
                        data: DATA,
                        success: function (data) {
                            console.log(data);
                            $("#div").html("<table id='res' border = '1' >" +
                                    "<tr><td>nom</td> <td>Prenom</td>" +
                                    " <td>N° telephone</td><td>E-mail</td><td>Adresse</td></tr></table>");
                            $.each(data, function (k, el) {
                                $("#affichage").hide();
                                $('#res').append(
                                        "<tr>" +
                                        "<td>" + el.nom + "</td>" +
                                        "<td>" + el.prenom + "</td>" +
                                        "<td>" + el.numtel + "</td>" +
                                        "<td>" + el.email + "</td>" +
                                        "<td>" + el.habitation + "</td>"
                                        + "</tr>"
                                );

                            })

                        }
                    })
                    //alert(DATA);
                }
        )
    </script>




{% endblock %}