{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}

    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        Médical				</h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item">
                            <a href="{{ path('template_homepage') }}">Home</a></li>
                        <li class="0-item">
                            <a href="{{ path('rendezVous_add') }}">Rendez-vous</a></li>
                        <li class="last-item">Médical</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
        <div class="container">
            <div class="row">
                <div id="content" class="single-service">
                    <article id="post-2996" class="post-2996 fw-services type-fw-services status-publish has-post-thumbnail hentry fw-services-category-services">
                        <!-- .entry-header -->
                        <div class="vertical-item">
                            <div class="item-content entry-content">
                                <div class="fw-page-builder-content">
                                    <section class="fw-main-row  ls section_padding_top_5 section_padding_bottom_5 columns_padding_25">
                                        <h3 class="hidden">5a737633b6892</h3>

                                        <div class="x_content">


                                            <form method="post" action="{{ path('bundle') }}"   >
                                                <input type="hidden" name="recherche_form_nom" id="recherche_form_nom"></form>
                                            </form>



                                            <table id="annoncesTable" border="1" class="table table-striped table-bordered">
                                                <thead style ="color:#150290;">
                                                <tr>
                                                    <th class="col-xs-1" align="center">N°</th>
                                                    <th class="col-xs-1" align="center">Nom</th>
                                                    <th class="col-xs-1" align="center">Prenom</th>
                                                    <th class="col-xs-2" align="center">N° telephone</th>
                                                    <th class="col-xs-2" align="center">E-mail</th>
                                                    <th class="col-xs-2" align="center">Adresse</th>
                                                    <th class="col-xs-2" align="center"></th>
                                                    <th class="col-xs-2" align="center"></th>





                                                </tr>
                                                </thead>


                                                <tbody>

                                                {% for i in m %}
                                                    <tr>
                                                        <td>{{ i.id }}</td>
                                                        <td>{{ i.nom }}</td>
                                                        <td>{{ i.prenom }}</td>
                                                        <td>{{ i.email }}</td>
                                                        <td>{{ i.numtel }}</td>
                                                        <td>{{ i.habitation}}</td>
                                                        <td><a href="{{ path('rendez_vous_make',{'id':i.id}) }}">Prendre un rendz-vous</a></td>
                                                        <td><a href="{{ path('mappage',{'id':i.id}) }}">Destination</a></td>


                                                    </tr>
                                                {% endfor %}

                                                </tbody>
                                            </table>

                                            <div id="div" name="div">
                                                <br>
                                                <div class="navigation">
                                                    {{ knp_pagination_render(m) }}
                                                </div>
                                                <script src="{{ asset ('jquery-3.2.1.min.js') }}"></script>
                                                <script>
                                                    $("#recherche_form_nom").keyup(

                                                            function () {

                                                                var nom=$('#recherche_form_nom').val();

                                                                var DATA='nom='+nom;

                                                                $.ajax(
                                                                        {
                                                                            type:"POST",
                                                                            url:"{{ path('rdv_pagedressage') }}",
                                                                            data:DATA,
                                                                            success:function (data)
                                                                            {
                                                                                console.log(data);
                                                                                $("#div").html("<table id='res' border='1'>"+
                                                                                        "<td> N° RDV </td><td> Nom </td><td>Prenom</td>"+"<td> habitation </td></table>");
                                                                                $.each(data,function (k,el) {
                                                                                    $("#affichage").hide();
                                                                                    $('#res').append(
                                                                                            "<tr>"+
                                                                                            "<td>"+el.id+"</td>"+
                                                                                            "<td>"+el.nom+"</td>"+
                                                                                            "<td>"+el.prenom+"</td>"+
                                                                                            "<td>"+el.habitation+"</td>"+
                                                                                            "</tr>"
                                                                                    );

                                                                                });
                                                                            }
                                                                        }
                                                                );
                                                            }
                                                    );
                                                </script>






                                            </div>

                                        </div>


                                    </section>
                                </div>
                            </div>
                            <!-- .entry-content -->
                        </div>
                        <!-- .entry-content -->
                    </article><!-- #post-## -->


                </div><!--eof #content -->
            </div><!-- eof .row-->
        </div><!-- eof .container -->
    </section>
    <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable').DataTable({
                        "bPaginate": false,
                        "ordering": false,
                        "info":     false,
                        "sDom": '<"pull-left"f><"pull-right"l>tip',
                        "aoColumns": [ {"bSearchable": false}, {"bSearchable": true}, {"bSearchable": false}, {"bSearchable": false}, {"bSearchable": false}, {"bSearchable": false}, {"bSearchable": false}, {"bSearchable": false},]
                    }




            );
        });
    </script>


    <script type='text/javascript' src='{{ asset('wp-content/plugins/DataTable/jquery.dataTables.min.js') }}'></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('wp-content/plugins/DataTable/jquery.dataTables.min.css') }}" />
{% endblock %}



