{% trans_default_domain 'FOSUserBundle' %}

<div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">

            <form action="{{ path("fos_user_registration_register") }}" method="post">
<br>
            <div class="form-group form-group-default">
                <label>Username</label>
                <div class="controls">
                    {{ form_widget(form.username,{'attr' : {'class' : 'form-control' , 'placeholder' : 'Username'}}) }}
                </div>
            </div>


            <div class="form-group form-group-default">
                <label>E-mail</label>
                <div class="controls">
                    {{ form_widget(form.email,{'attr' : {'class' : 'form-control' , 'placeholder' : 'E-mail'}}) }}
                </div>
            </div>

            <div class="form-group form-group-default">
                <label>Passowrd</label>
                <div class="controls">
                    {{ form_widget(form.plainPassword.first,{'attr' : {'class' : 'form-control' , 'placeholder' : 'Mot de passe'}}) }}
                </div>
            </div>


            <div class="form-group form-group-default">
                <label>Passowrd</label>
                <div class="controls">
                    {{ form_widget(form.plainPassword.second,{'attr' : {'class' : 'form-control' , 'placeholder' : 'Confirmez mot de passe'}}) }}
                </div>
            </div>

                <div class="form-group form-group-default">
                    <label>Nom</label>
                    <div class="controls">
                        {{ form_widget(form.nom,{'attr' : {'class' : 'form-control' , 'placeholder' : 'Votre nom'}}) }}
                    </div>
                </div>

                <div class="form-group form-group-default">
                    <label>Prenom</label>
                    <div class="controls">
                        {{ form_widget(form.prenom,{'attr' : {'class' : 'form-control' , 'placeholder' : 'Votre prenom'}}) }}
                    </div>
                </div>

                <div class="form-group form-group-default">
                    <label>N° telephone</label>
                    <div class="controls">
                        {{ form_widget(form.numtel,{'data-inputmask' : "'mask' : '99-999-999'"} , {'attr' : {'class' : 'form-control' , 'placeholder' : 'Votre numéro de téléphone' , 'minlength' : '8'}}) }}
                    </div>
                </div>

                <div class="form-group form-group-default">
                    <label>Adresse</label>
                        <div class="field_container">

                        {{ form_widget(form.habitation,{'id' : 'destination'} , {'attr' : {'class' : 'form-control'}} , {'name' : 'Destination'} ) }}

                            {{ form_widget(form.latitude,{'id' : 'l2'} , {'attr' : {'class' : 'form-control'}} , {'name' : 'l2'} ) }}
                            {{ form_widget(form.longitude,{'id' : 'la2'} , {'attr' : {'class' : 'form-control'}} , {'name' : 'la2'} ) }}



                    </div>
                </div>

                <div class="form-group form-group-default">
                    <label>Votre Role</label>
                    <div class="controls">
                        {{ form_widget(form.roles,{'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>



                <div class="hidden" >
                    <label></label>
                    <div class="controls">
                        {{ form_widget(form.role,{'attr' : {'type' : 'hidden' , 'value' : 'utilisateur simple'}}) }}
                    </div>
                </div>


            {{ form_rest(form) }}
            {{ form_widget(form._token) }}

            <input type="submit" value="{{ 'registration.submit'|trans }}"class="btn btn-primary btn-cons m-t-10" />
        </form>


    </div>
</div>
    <script>

        var infowindow;
        var map;
        function initMap() {

            google.maps.event.addDomListener(window,'load', initialize2); /////


            var directionsDisplay = new google.maps.DirectionsRenderer;
            var directionsService = new google.maps.DirectionsService;

            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 7,
                center: {lat: 35.6759137, lng: 10.0919243}
            });
            directionsDisplay.setMap(map);



            /*   calculateAndDisplayRoute(directionsService, directionsDisplay,"35.6759137","10.0919243","36.72783","10.70979");
             document.getElementById('mode').addEventListener('change', function() {
             calculateAndDisplayRoute(directionsService, directionsDisplay,"35.6759137","10.0919243","36.72783","10.70979");
             });*/





            document.getElementById('destination').addEventListener('change', function() {
                setTimeout(function(){

                    var y1 = document.getElementById('l2').value;
                    var y2 = document.getElementById('la2').value;
                    calculateAndDisplayRoute(directionsService, directionsDisplay,x1,x2,y1,y2);
                }, 500);
            });


        }

        function initialize2 (){
            var autocomplete = new google.maps.places.Autocomplete(document.getElementById('destination'));
            google.maps.event.addListener(autocomplete,'place_changed',function(){

                var places =autocomplete.getPlace();

                var l2= places.geometry.location.lat() ;

                var la2= places.geometry.location.lng() ;


                document.getElementById('l2').value=l2;
                document.getElementById('la2').value=la2;

            });

        }

    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC1wZzIFPGSXt8oyLk_y1BxJJvzmQZoRLU&libraries=places&callback=initMap"
            async defer></script>





<script src='{{ asset('js/jquery.inputmask.bundle.min.js') }}'></script>
