{% extends "::base.html.twig" %}

{% block title %}ServicesBundle:CategorieapiController:listapi{% endblock %}

{% block body %}
<h1>Welcome to the CategorieapiController:listapi page</h1>
{% endblock %}
