{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body  %}
<div class="woocommerce-tabs wc-tabs-wrapper">

    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
        <br id="reviews" class="woocommerce-Reviews">
        <div id="comments">

            <h2 class="woocommerce-Reviews-title">Les Commentaire</h2>



        </div>


        <div id="review_form_wrapper">
            <div id="review_form">

                {{ form_start(forms) }}
                <p class="comment-form-comment"><label for="comment">Commenter<span class="required">*</span></label>                            {{ form_widget(forms.commentaire, {'attr':{'class':'form-control','placeholder':'Blogs'}}) }}
                </p>
                <p class="form-submit">           {{ form_widget(forms.Ajouter) }}                                                                                           <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                </p>
                {{ form_end(forms) }}
            </div>

        </div>








    </div>
</div>

{% endblock%}