{% extends 'ForumBundle:Default:Layout.html.twig' %}
{% block body %}

    <h3 class="hidden"> Contacts</h3>
    <div class="container">
        <div class="row">
    <div>


        <center><h3>Ajouter un Sujet</h3></center>
        {{ form_start(form) }}
        <input type="hidden" name="fwf" value="fw_form" /><input type="hidden" id="_nonce_58c577620657fca0553560bd67c789a1" name="_nonce_58c577620657fca0553560bd67c789a1" value="ac246c5913" /><input type="hidden" name="_wp_http_referer" value="/pet-space/contacts/" /><input type="hidden" name="fw_ext_forms_form_type" value="contact-forms" /><input type="hidden" name="fw_ext_forms_form_id" value="df3081fcf40a16f5b9b9570c61283646" />
        <div class="wrap-forms">
                <div class="row"></div><div class="row"><div class="col-xs-12 col-md-6 form-builder-item color3">
                        <div class="form-group has-placeholder">
                            <label for="id-1">Titre			<sup>*</sup>		</label>

                            {{ form_widget(form.titre, {'attr':{'class':'form-control','placeholder':'votre Titre'}}) }}
                        </div>
                    </div><div class="col-xs-12 col-md-6 form-builder-item color3">
                        <div class="form-group has-placeholder">
                            <label for="id-2">Tags			<sup>*</sup>		</label>
                            {{ form_widget(form.tags, {'attr':{'class':'form-control','placeholder':'Les tags'}}) }}
                        </div>
                    </div></div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 form-builder-item color3">
                        <div class="form-group has-placeholder">
                            <label for="id-4">Image			<sup>*</sup>		</label>

                            {{ form_widget(form.image) }}
                        </div>
                    </div></div><div class="row"><div class="col-xs-12 form-builder-item">
                        <div class="form-group has-placeholder">
                            <label for="id-5">			<sup>*</sup>		</label>

                            {{ form_widget(form.blog, {'attr':{'class':'form-control','placeholder':'Blogs'}}) }}
                        </div>
                    </div></div><div class="row"></div></div><div class="wrap-forms wrap-forms-buttons topmargin_10">
                <div class="row">
                    <div class="col-sm-12 wrap-buttons text-center">
                        {{ form_widget(form.Ajouter) }}
                    </div>
                </div>
            </div>
        {{ form_end(form) }}



    </div></div>
</div>
</div>
{% endblock %}