
{% extends 'TemplateBundle:Default:Layout.html.twig' %}


{% block body %}

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight">
                    Forum			</h2>
                <ol class="breadcrumb darklinks">
                    <li class="first-item">
                        <a href="">Home</a></li>
                    <li class="last-item">Forum</li>
                </ol>
            </div>
        </div>
    </div>
</section>
    <section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
        <div class="container">
            <div class="row">
                <div class="blog-slider col-xs-12">
                    <section class="intro_section page_mainslider">
                        <div class="flexslider">
                            <ul class="slides">
                                <li class="ds text-center">
                                    <img src="../wp-content/uploads/2017/08/01-1.jpg" alt="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="slide_description_wrapper">
                                                    <div class="slide_description">
                                                        <div class="intro-layer "
                                                             data-animation="slideUp">
                                                            <h2											class=" light normal 											">
                                                                Every Pet Deserves										</h2>
                                                        </div>
                                                        <div class="intro-layer "
                                                             data-animation="slideUp">
                                                            <h2											class=" light bold 											">
                                                                Celebrity Care										</h2>
                                                        </div>
                                                        <div class="intro-layer"
                                                             data-animation="">
                                                            <a href="#"
                                                               class=""></a>
                                                        </div>

                                                    </div> <!-- eof .slide_description -->
                                                </div> <!-- eof .slide_description_wrapper -->
                                            </div> <!-- eof .col-* -->
                                        </div><!-- eof .row -->
                                    </div><!-- eof .container -->
                                </li>
                                <li class="ds text-center">
                                    <img src="../wp-content/uploads/2017/08/02-1.jpg" alt="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="slide_description_wrapper">
                                                    <div class="slide_description">
                                                        <div class="intro-layer "
                                                             data-animation="pullDown">
                                                            <h2											class=" light normal 											">
                                                                Qualified Personal Care										</h2>
                                                        </div>
                                                        <div class="intro-layer "
                                                             data-animation="pullUp">
                                                            <h2											class=" light bold 											">
                                                                For Your Pets										</h2>
                                                        </div>
                                                        <div class="intro-layer"
                                                             data-animation="fadeInRight">
                                                            <a href="#"
                                                               class=""></a>
                                                        </div>

                                                    </div> <!-- eof .slide_description -->
                                                </div> <!-- eof .slide_description_wrapper -->
                                            </div> <!-- eof .col-* -->
                                        </div><!-- eof .row -->
                                    </div><!-- eof .container -->
                                </li>
                                <li class="ds text-center">
                                    <img src="../wp-content/uploads/2017/08/03-1.jpg" alt="">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="slide_description_wrapper">
                                                    <div class="slide_description">
                                                        <div class="intro-layer "
                                                             data-animation="slideLeft">
                                                            <h2											class=" light normal 											">
                                                                Every Pet Deserves										</h2>
                                                        </div>
                                                        <div class="intro-layer "
                                                             data-animation="slideRight">
                                                            <h2											class=" light bold 											">
                                                                Celebrity Care										</h2>
                                                        </div>
                                                        <div class="intro-layer"
                                                             data-animation="fadeInRight">
                                                            <a href="#"
                                                               class=""></a>
                                                        </div>

                                                    </div> <!-- eof .slide_description -->
                                                </div> <!-- eof .slide_description_wrapper -->
                                            </div> <!-- eof .col-* -->
                                        </div><!-- eof .row -->
                                    </div><!-- eof .container -->
                                </li>
                            </ul>
                        </div> <!-- eof flexslider -->
                        <div class="scroll_button_wrap">
                            <a href="#" class="scroll_button">
                                <span class="sr-only">scroll down</span>
                            </a>
                        </div>
                    </section> <!-- eof intro_section -->
                </div>
                <div class="before-loop-area col-xs-12">
                </div>

                <div id="content" class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">
                    <!----------------------------------------------------------->
                    <!----------------------------------------------------------->
                    <!----------------------------------------------------------->

                    <button> {{ knp_pagination_sortable(forum,'sort','a.id') }}</button>
                    {% for i in forum %}

                        <article id="post-2768" class="vertical-item content-padding big-padding with_shadow rounded overflow-hidden post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                            <div class="item-media-wrap">
                                <div
                                        class="item-media entry-thumbnail post-thumbnail">
                                    <div class="entry-meta-corner">
						<span class="date">
									<time class="entry-date" datetime="2017-08-11T13:52:21+00:00">
										<strong>{{ i.cree|date('Y-m-d') }}</strong>
									</time>
								</span>					</div>
                                    <div class="embed-responsive embed-responsive-3by2">
                                        <a href="{{ path('forum_topic',{'id':i.id}) }}" data-iframe="&lt;iframe width=&quot;1170&quot; height=&quot;658&quot;" class="embed-placeholder">
                                            <img src="{{ asset(i.image) }}" alt="image" class="img-responsive">
                                        </a><!-- eof image link -->
                                    </div>
                                </div> <!-- .item-media -->
                            </div> <!-- .item-media-wrap -->


                            <div class="item-content">

                                <header class="entry-header">
                                    <div class="item-meta content-justify">
                                        <span class="entry-date post-date highlight3"><a href="../shankle-doner-ribeye-ham-hock-shank/index.html" rel="bookmark"><time class="entry-date" datetime="2017-08-11T13:52:21+00:00">{{ i.cree|date('Y-m-d') }}</time></a></span>				<!-- .item cats -->
                                        <!-- .item cats -->
                                    </div>
                                    <a href="{{ path('forum_topic',{'id':i.id}) }}"> <h4 class="entry-title hover-color3">{{ i.titre }}</h4></a>
                                    <h6 class="entry-title hover-color2">{{ i.auteur }}</h6>	</header><!-- .entry-header -->

                                <div class="entry-content">
                                    <p> {{ i.blog }}<br />


                                </div><!-- .entry-content -->
                                <div class="entry-content">

                                    <a href="{{ path('forum_Update',{'id':i.id}) }}"  class="more-link">Update</a></p>
                                    <a href="{{ path('forum_Delete',{'id':i.id}) }}"  class="more-link">Delete</a></p>


                                </div><!-- .entry-content -->
                                <div class="entry-content">
                                    <p> Tags: {{ i.tags }}<br />

                                        {% for a in rating %}
                                            {% if i.id == a.sujet %}
                                                {{ a.1|rating(5, "fa-1x")  }}
                                            {% endif %}
                                        {% endfor %}
                                </div><!-- .entry-content -->
                            </div><!-- eof .item-content -->
                        </article><!-- #post-## -->


                    {% endfor %}
                    <!----------------------------------------------------------->
                    <!----------------------------------------------------------->
                    <!----------------------------------------------------------->
                    <!----------------------------------------------------------->
                    <!----------------------------------------------------------->



                </div><!--eof #content -->
                <!-- main aside sidebar -->

                <aside class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
                    <div class="pull-right postreply">
                        {% if is_granted('ROLE_ADMIN') == true %}

                            <div class="pull-left smile"><a href="{{ path('forum_homepage') }}"><i class="fa fa-smile-o">  <div class="pull-left">  <input type="submit" class="btn btn-primary" value="Ajouter un sujet"></div></i></a></div>
                            <div class="pull-left smile"><a href="{{ path('forum_homepage') }}"><i class="fa fa-smile-o">  <div class="pull-left">  <input type="submit" class="btn btn-primary" value="liste de mes Sujet"></div></i></a></div>
                        {% else %}
                            <div class="pull-left smile"><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-smile-o">  <div class="pull-left"> Connectez vous pour ajouter et gerer vos sujets </div></i></a></div>

                        {% endif %}
                        <div class="clearfix"></div>
                    </div>
                  <div id="mc4wp_form_widget-3" class="widget-odd widget-7 widget widget_mc4wp_form_widget"><h3 class="widget-title">Newsletter</h3><script type="text/javascript">(function() {
                                if (!window.mc4wp) {
                                    window.mc4wp = {
                                        listeners: [],
                                        forms    : {
                                            on: function (event, callback) {
                                                window.mc4wp.listeners.push({
                                                    event   : event,
                                                    callback: callback
                                                });
                                            }
                                        }
                                    }
                                }
                            })();
                        </script><!-- MailChimp for WordPress v4.1.10 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-445" method="post" data-id="445" data-name="Form" ><div class="mc4wp-form-fields"><p class="mc4wp-form-inner">
                                    <label>Email Address </label>
                                    <input class="form-control" type="email" name="EMAIL" placeholder="Email address" required />
                                    <button type="submit" value="Sign up"></button>
                                </p>
                                <p class="sidebar-visible">
                                    Subscribe to our Newsletter right now to be updated. We promice not to spam!
                                </p><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1517516064" /><input type="hidden" name="_mc4wp_form_id" value="445" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-2" /></div><div class="mc4wp-response"></div></form><!-- / MailChimp for WordPress Plugin --></div><div id="text-4" class="widget-even widget-8 widget widget_text"><h3 class="widget-title"><span class="first-word">Instagram</span> <span class="last-word">widget</span></h3>			<div class="textwidget"><div id="sb_instagram" class="sbi sbi_col_2" style="width:100%; padding-bottom: 10px; " data-id="524549267" data-num="4" data-res="auto" data-cols="2" data-options='{&quot;sortby&quot;: &quot;none&quot;, &quot;showbio&quot;: &quot;true&quot;, &quot;headercolor&quot;: &quot;&quot;, &quot;imagepadding&quot;: &quot;5&quot;}'>
                                <div id="sbi_images" style="padding: 5px;">
                                    <div class="sbi_loader fa-spin"></div>
                                </div>
                                <div id="sbi_load"></div>
                            </div>
                        </div>
                    </div>	<div id="pet_space_theme_posts-2" class="widget-odd widget-9 widget widget_popular_entries">	<h3 class="widget-title"><span class="first-word">Recent</span> <span class="last-word">Posts</span></h3>	<ul id="theme_posts_5a737520b87aa" class="media-list">
                            <li class="media post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                <a href="../shankle-doner-ribeye-ham-hock-shank/index.html" class="media-left">
                                    <img width="150" height="150" src="../wp-content/uploads/2017/08/11-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />					</a>
                                <div class="media-body">
                                    <h6 class="title"><a href="../shankle-doner-ribeye-ham-hock-shank/index.html">Shankle doner ribeye ham hock shank</a></h6>
                                    <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 11, 2017                            </span>
                                    </div>
                                </div>
                            </li>
                            <li class="media post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                <a href="../t-bone-capicola-kevin-pancetta/index.html" class="media-left">
                                    <img width="150" height="150" src="../wp-content/uploads/2017/08/04-1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />					</a>
                                <div class="media-body">
                                    <h6 class="title"><a href="../t-bone-capicola-kevin-pancetta/index.html">T-bone capicola kevin pancetta</a></h6>
                                    <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 7, 2017                            </span>
                                    </div>
                                </div>
                            </li>
                            <li class="media post-2773 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                <a href="../beef-tri-tip-brisket-jerky-boudin/index.html" class="media-left">
                                    <img width="150" height="150" src="../wp-content/uploads/2017/08/08-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />					</a>
                                <div class="media-body">
                                    <h6 class="title"><a href="../beef-tri-tip-brisket-jerky-boudin/index.html">Beef tri-tip brisket jerky boudin</a></h6>
                                    <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 6, 2017                            </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>	<div id="search-3" class="widget-even widget-10 widget widget_search"><h3 class="widget-title"><span class="first-word">Search</span> on <span class="last-word">Website</span></h3>
                        <form role="search" method="get" class="search-form form-inline" action="http://webdesign-finder.com/pet-space/">
                            <div class="form-group">
                                <label>
                                    <input type="search" class="search-field form-control"
                                           placeholder="Search"
                                           value="" name="s"
                                           title="Search for:"/>
                                </label>
                            </div>
                            <button type="submit" class="search-submit theme_button">
                                <span class="screen-reader-text">Search</span>
                            </button>
                        </form>
                    </div>	</aside>
                <!-- eof main aside sidebar -->
            </div><!-- eof .container --> <div class="navigation">
                {{ knp_pagination_render(forum) }}
            </div>
        </div><!-- eof .row-->

    </section><!-- eof .page_content -->

{% endblock %}

