
{% extends 'TemplateBundle:Default:Layout.html.twig' %}

{% block body %}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/starrating/css/rating.css') }}" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="{{ asset('bundles/starrating/js/rating.js') }}"></script>

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas" class="wide">
    <div id="box_wrapper">
        <!-- template sections -->

      ><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center breadcrumbs_inner">
                        <h2 class="highlight">
                            {{ titre }}			</h2>
                        <ol class="breadcrumb darklinks">
                            <li class="first-item">
                                <a href="">Home</a></li>
                            <li class="0-item">
                                <a href="../category/uncategorized/index.html">{{ tag }}</a></li>


                        </ol>
                    </div>
                </div>
            </div>
        </section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
            <div class="container">
                <div class="row">


                    <div id="content" class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">
                        <article id="post-2768" class="vertical-item content-padding with_shadow big-padding rounded overflow-hidden post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                            <div class="item-media-wrap">
                                <div
                                        class="item-media entry-thumbnail post-thumbnail">
                                    <div class="embed-responsive embed-responsive-3by2">
                                        <a href="#" data-iframe="&lt;iframe width=&quot;1170&quot; height=&quot;658&quot; src=_https_/www.youtube.com/embed/mcixldqDIEQ250f.html?feature=oembed%22 frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;" class="embed-placeholder">
                                            <img width="1170" height="780" src="{{ asset(image) }}"  sizes="(max-width: 1170px) 100vw, 1170px" />							</a><!-- eof image link -->
                                    </div>
                                </div> <!-- .item-media -->
                            </div> <!-- .item-media-wrap -->


                            <div class="item-content">
                                <header class="entry-header">
                                    <div class="item-meta content-justify">
                                        <div class="entry-date">
                                            <span class="entry-date post-date highlight3"><a href="index.html" rel="bookmark"><time class="entry-date" datetime="2017-08-11T13:52:21+00:00">{{ Cree|date('Y-m-d') }}</time></a></span>					</div><!-- .entry-date -->
                                        <!-- .item cats -->
                                        <!-- .item cats -->
                                    </div>
                                </header><!-- .entry-header -->

                                <p>{{blog }}




                                    <br />

                                <!-- .item tags -->
                                <!-- .item tags -->
                            </div><!-- .entry-content -->
                        </article><!-- #post-## -->
                        <div class="author-meta side-item content-padding with_shadow rounded overflow-hidden">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="item-content">
                                        <h4 class="author-name">{{auteur}}</h4>


                                   </div><!-- eof .item-content -->
                                </div>
                            </div>
                        </div>

                                    <div class="item-content">
                                        <div id="canvas" class="wide">
                                            <div id="box_wrapper">
                                                <!-- template sections -->







                                                {% if is_granted('ROLE_ADMIN') == true %}


                                                            <div class="woocommerce-tabs wc-tabs-wrapper">

                                                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                                                                    <br id="reviews" class="woocommerce-Reviews">
                                                                        <div id="comments">



                                                                            <h2 class="woocommerce-Reviews-title">Les Commentaire</h2>



                                                                        </div>


                                                                        <div id="review_form_wrapper">
                                                                            <div id="review_form">

                                                                                        {{ form_start(forms) }}
                                                                                        <p class="comment-form-comment"><label for="comment">Commenter<span class="required">*</span></label>                            {{ form_widget(forms.commentaire, {'attr':{'class':'form-control','placeholder':'Blogs'}}) }}
                                                                                          </p>
                                                                                        <p class="form-submit">           {{ form_widget(forms.Ajouter) }}                                                                                           <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                                                        </p>
                                                                                    {{ form_end(forms) }}
                                                                                </div>

                                                                        </div>









                                                                </div>
                                                            </div>


 {% endif %}
                                                <div class="woocommerce-tabs wc-tabs-wrapper">

                                                    <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews">
                                                        <br id="reviews" class="woocommerce-Reviews">
                                                        <div id="comments">

<h3>Commentaire</h3>

                                                            <h2 class="woocommerce-Reviews-title">Les Commentaire</h2>



                                                        </div>


                                                        <div id="review_form_wrapper">
                                                            <div id="review_form">

                                                                {{ form_start(forms) }}
                                                                <p class="comment-form-comment"><label for="comment"> {% for i in comment %}

                                                                        {% if i.blog == id %}
                                                            <p><h4>{{ i.user }}</h4></p>
                                                                <p><i>{{ i.commentaire }}</i></p>
                                                                <div class="entry-content">

                                                                    <a href="{{ path('comment_Update',{'id':i.id}) }}"  class="more-link">Update</a></p>
                                                                    <a href="{{ path('comment_Delete',{'id':i.id}) }}"  class="more-link">Delete</a></p>


                                                                </div>
                                                                {% endif %}



                                                                {% endfor %}<span class="required">*</span></label>
                                                            </div>

                                                        </div>









                                                    </div>
                                                </div>




                                            </div><!-- eof .item-content -->
                                </div><!-- eof .col-md-* -->
                            </div>
                            <!-- .author-info -->


                    </div><!-- eof author-meta -->





            <aside class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
                <div class="pull-right postreply">
                    <!-- main aside sidebar -->

                    <a href="{{ path('forum_signal',{'id':id}) }}"><i class="fa fa-smile-o">
                            <div class="pull-left">
                                {{ form_start(form) }}

                                <h5>Donnez une note</h5>
                                {{ form_widget(form.rating) }}

                                {{ form_end(form) }}
                                <input type="submit" class="btn btn-primary" value="Signaler un sujet">
                            </div></i>
                    </a>



                    <!-- eof main aside sidebar -->
                </div><!-- eof .row-->
            </aside>
            </div><!-- eof .container -->
        </section><!-- eof .page_content -->
    </div>

<script type="text/javascript">(function() {function addEventListener(element,event,handler) {
        if(element.addEventListener) {
            element.addEventListener(event,handler, false);
        } else if(element.attachEvent){
            element.attachEvent('on'+event,handler);
        }
    }function maybePrefixUrlField() {
        if(this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
            this.value = "http://" + this.value;
        }
    }

        var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
        if( urlFields && urlFields.length > 0 ) {
            for( var j=0; j < urlFields.length; j++ ) {
                addEventListener(urlFields[j],'blur',maybePrefixUrlField);
            }
        }/* test if browser supports date fields */
        var testInput = document.createElement('input');
        testInput.setAttribute('type', 'date');
        if( testInput.type !== 'date') {

            /* add placeholder & pattern to all date fields */
            var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
            for(var i=0; i<dateFields.length; i++) {
                if(!dateFields[i].placeholder) {
                    dateFields[i].placeholder = 'YYYY-MM-DD';
                }
                if(!dateFields[i].pattern) {
                    dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                }
            }
        }

    })();</script><script type='text/javascript' src='{{asset('wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4') }}'></script>
<script type='text/javascript' src={{ asset('wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4')}}></script>
<script type='text/javascript'>
    jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
</script>
<script type='text/javascript' src={{asset('wp-content/plugins/booked/assets/js/spin.min7406.js?ver=2.0.1') }}''></script>
<script type='text/javascript' src='{{asset('wp-content/plugins/booked/assets/js/spin.jquery7406.js?ver=2.0.1') }}'></script>
<script type='text/javascript' src='{{asset('wp-content/plugins/booked/assets/js/tooltipster/js/jquery.tooltipster.min9b70.js?ver=3.3.0') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var booked_js_vars = {"ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/wp-admin\/admin-ajax.php","profilePage":"","publicAppointments":"","i18n_confirm_appt_delete":"Are you sure you want to cancel this appointment?","i18n_please_wait":"Please wait ...","i18n_wrong_username_pass":"Wrong username\/password combination.","i18n_fill_out_required_fields":"Please fill out all required fields.","i18n_guest_appt_required_fields":"Please enter your name to book an appointment.","i18n_appt_required_fields":"Please enter your name, your email address and choose a password to book an appointment.","i18n_appt_required_fields_guest":"Please fill in all \"Information\" fields.","i18n_password_reset":"Please check your email for instructions on resetting your password.","i18n_password_reset_error":"That username or email is not recognized."};
    /* ]]> */
</script>
<script type='text/javascript' src='{{asset('wp-content/plugins/booked/assets/js/functions1717.js?ver=2.0.6') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"http:\/\/webdesign-finder.com\/pet-space\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
    /* ]]> */
</script>
<script type='text/javascript' src='{{asset('wp-content/plugins/contact-form-7/includes/js/scripts33a6.js?ver=4.9') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var sb_instagram_js_options = {"sb_instagram_at":"1745684104.3a81a9f.a81e0b476f3146d38e21ec9bf30bc5f0"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{asset('wp-content/plugins/instagram-feed/js/sb-instagram.min7ef2.js?ver=1.5') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/webdesign-finder.com\/pet-space\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{asset('../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript' src='{{asset('wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70') }}'></script>
<script type='text/javascript' src='{{asset('wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{asset('wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments_16bed13ee095dc6c6ced5e9fbeaae42d"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{asset('wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript' src='{{asset('wp-content/themes/pet-space/js/compressed20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{asset('wp-content/themes/pet-space/js/plugins20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{asset('wp-content/themes/pet-space/js/selectizef269.js?ver=1.0.1') }}'></script>
<script type='text/javascript' src='{{asset('wp-content/themes/pet-space/js/woo20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{asset('wp-content/themes/pet-space/js/main20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{asset('wp-includes/js/wp-embed.minee45.js?ver=4.8.4') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var mc4wp_forms_config = [];
    /* ]]> */
</script>
<script type='text/javascript' src='{{asset('wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.minf8f5.js?ver=4.1.10') }}'></script>
<!--[if lte IE 9]>
<script type='text/javascript' src='http://webdesign-finder.com/pet-space/wp-content/plugins/mailchimp-for-wp/assets/js/third-party/placeholders.min.js?ver=4.1.10'></script>
<![endif]-->

{% endblock %}