<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Admin{% endblock %}</title>

    {% block stylesheets %}
        <!-- JQuery must be put in the top of page/ other scripts must be put on bottom -->
        <script src="{{ asset('admin/js/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <link href="{{ asset('css/bootstrap.min8a54.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ asset('vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        {#<link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet">#}
        <!-- NProgress -->
        <link href="{{ asset('admin/nprogress.css') }}" rel="stylesheet">
        <!-- ColorPicker -->
        <link href="{{ asset('admin/colorPicker/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
        <!-- iCheck -->
        <link href="{{ asset('admin/green.css') }}" rel="stylesheet">
        {# ---To add if needed for notifications ----
        <!-- PNotify -->
        <link href="{{ asset('pnotify/dist/pnotify.buttons.css') }}" rel="stylesheet">
        <link href="{{ asset('pnotify/dist/pnotify.nonblock.css') }}" rel="stylesheet">#}
        <link href="{{ asset('pnotify/dist/pnotify.css') }}" rel="stylesheet">


        <!-- bootstrap-progressbar -->
        <link href="{{ asset('admin/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet">
        <!-- JQVMap -->
        <link href="{{ asset('admin/jqvmap.min.css') }}" rel="stylesheet"/>
        <!-- bootstrap-daterangepicker -->
        <link href="{{ asset('admin/daterangepicker.css') }}" rel="stylesheet">

        <!-- Custom Theme Style -->
        <link href="{{ asset('admin/custom.min.css') }}" rel="stylesheet">

        <!-- Data tables Style -->
        <link href="{{ asset('DataTables/DataTables-1.10.13/css/dataTables.bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('DataTables/Responsive-2.1.0/css/responsive.bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('DataTables/Buttons-1.2.4/css/buttons.bootstrap.css') }}" rel="stylesheet">
        <!-- JQuery UI -->
        <link href="{{ asset('jquery-ui-1.12.1.custom/jquery-ui.min.css') }}" rel="stylesheet">
        {#
        <!-- KiwiCalender -->
        <link href="{{ asset('Kiwi-Calender/kwik-events-calendar-style.css') }}" rel="stylesheet">
        #}


    {% endblock %}

</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="{#{{ path ('accueil') }}#}" class="site_title"><i class="fa fa-paw"></i>
                        <span>Zanimaux</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile clearfix">
                    <div class="profile_pic">
                        <img src="{{ asset('admin/images/img.jpg') }}" alt="admin image" class="img-circle profile_img">
                        {#<img src="{%  if app.user.imageName is null %}{{ asset('admin/images/img.jpg') }}
                                    {% else %}{{ asset('images/users/'~app.user.imageName) }}{%  endif %} " alt="..." class="img-circle profile_img">#}
                    </div>
                    <div class="profile_info">
                        <span>Bonjour</span>
                        <h2>{{ app.user.username }}</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br/>

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <ul class="nav side-menu">

                            <li><a><i class="fa fa-home"></i> Gestion des profils <span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="index.html">Dashboard</a></li>
                                    <li><a href="index2.html">Dashboard2</a></li>
                                    <li><a href="index3.html">Dashboard3</a></li>
                                </ul>
                            </li>

                            <li><a  href="{{ path('_affichageAdmin') }}" ><i class="fa fa-edit"></i>Gestion des annonces</a>
                            </li>

                            <li><a><i class="fa fa-desktop"></i> Gestion des services <span
                                            class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="general_elements.html">General Elements</a></li>
                                    <li><a href="media_gallery.html">Media Gallery</a></li>
                                    <li><a href="typography.html">Typography</a></li>
                                    <li><a href="icons.html">Icons</a></li>
                                    <li><a href="glyphicons.html">Glyphicons</a></li>
                                    <li><a href="widgets.html">Widgets</a></li>
                                    <li><a href="invoice.html">Invoice</a></li>
                                    <li><a href="inbox.html">Inbox</a></li>
                                    <li><a href="calendar.html">Calendar</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-table"></i> Gestion des RDV <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="tables.html">Tables</a></li>
                                    <li><a href="tables_dynamic.html">Table Dynamic</a></li>
                                </ul>
                            </li>


                            <li><a  href="{{ path('dalii_show1') }}" ><i class="fa fa-bar-chart-o"></i>Gestion des evenements</a>
                            </li>
                            <li><a  href="{{ path('administration_homepage') }}" ><i class="fa fa-clone"></i>Gestion des reclamations</a>
                            </li>


                                    <li><a href="{{ path('admin_forum_get_dataTables') }}">liste des Forum</a></li>
                                    <li><a href="{{ path('admin_forumAdmin_get_dataTables') }}">Liste des utilisateur pour bannir</a></li>






                            {# <li><a href={{ path('adminHostIndex') }}><i class="glyphicon glyphicon-king"></i> Gestion des Hosts </a></li>
                             <li><a href= '{{ path('adminRevendeurIndex') }}'><i class="glyphicon glyphicon-bishop"></i>Gestion des Revendeurs  </a></li>

                             <li><a href={{ path('adminGuestIndex') }} ><i class="glyphicon glyphicon-pawn"></i>Gestion des Guest</a></li>

                             <li><a href= 'adminEvenementIndex'><i class="glyphicon glyphicon-tag"></i>Gestion des Evenements </a></li>
                             <li><a href='{{ path('adminLocalIndex') }}'><i class="glyphicon glyphicon-map-marker"></i> Gestion des Locaux</a></li>

                             <li><a href={{ path('adminCategorieIndex') }}><i class="glyphicon glyphicon-list"></i> Gestion des categories</a></li>
                             <li><a><i class="fa fa-ticket"></i> Gestion des coupons <span class="fa fa-chevron-down"></span></a>
                                 <ul class="nav child_menu">
                                     <li><a href={{ path('generate_coupon') }}>G?n?rer Coupons</a></li>
                                     <li><a href="{{ path('list_coupon') }}">Consulter les Coupons</a></li>
                                 </ul>
                             </li>
                             <li><a href={{ path('adminTypeGuestIndex') }}><i class="glyphicon glyphicon-user"></i> Gestion type Guest</a></li>

                             <li><a href={{ path('statistiquesAdminIndex') }}><i class="fa fa-bar-chart-o"></i> Statistiques</a>
                             </li>
                             <li><a href='{{ path('tombola_algo') }}'><i class="glyphicon glyphicon-tag"></i>Resultat Tombola </a></li>
                             <li><a href='{{ path('admin_events') }}'><i class="fa fa-calendar"></i>Gestion des ?v?nements</a></li>#}
                        </ul>
                    </div>
                </div>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <!-- /menu footer buttons -->
            </div>
        </div>


        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    {# {{ mgilet_notification_count(app.user)}} #}

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown"
                               aria-expanded="false">
                                <img src="{{ asset('admin/images/img.jpg') }}" alt="">{{ app.user.username }}
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="{#{{ path('profile') }}#}"> Profile</a></li>


                                <li><a href="{#{{ path('fos_user_security_logout') }}#}"><i
                                                class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                        <li role="presentation" class="dropdown open">
                            <a href="" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false"/>
                            <i class="fa fa-envelope-o" ></i>
                            <span class="badge bg-green"
                                  id="nbrMessages">{{ mgilet_notification_count(app.user) }}</span>
                            </a>
                            <!------------------------------------>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                {{ mgilet_notification_render(app.user) }}

                            </ul>


                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->

        <div class="right_col" role="main">
            {% block content %}
            {% endblock %}
        </div>

        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>

<!-- jQuery -->
{% block scripts %}

    <!-- Bootstrap -->
    <script src="{{ asset('bootstrap-fileinput/js/bootstrap.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('admin/js/fastclick.js') }}"></script>
    <!-- NProgress -->
    <script src="{{ asset('admin/js/nprogress.js') }}"></script>
    <!-- Chart.js -->
    <script src="{{ asset('admin/js/Chart.min.js') }}"></script>
    <!-- gauge.js -->
    <script src="{{ asset('admin/js/gauge.min.js') }}"></script>
    <!-- bootstrap-progressbar -->
    <script src="{{ asset('admin/js/bootstrap-progressbar.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('admin/js/icheck.min.js') }}"></script>
    <!-- Skycons -->
    <script src="{{ asset('admin/js/skycons.js') }}"></script>
    <!-- Flot -->
    <script src="{{ asset('admin/js/jquery.flot.js') }}"></script>
    <!-- ColorPicker -->
    <script src="{{ asset('admin/colorPicker/js/bootstrap-colorpicker.min.js') }}"></script>
    {# ---To add if needed for notifications ----
    <!-- PNotify -->
    <script src="{{ asset('pnotify/dist/pnotify.buttons.js') }}"></script>
    <script src="{{ asset('pnotify/dist/pnotify.nonblock.css') }}"></script>#}
    <script src="{{ asset('pnotify/dist/pnotify.js') }}"></script>

    <!--
    <script src="../vendors/Flot/jquery.flot.pie.js"></script>
    <script src="../vendors/Flot/jquery.flot.time.js"></script>
    <script src="../vendors/Flot/jquery.flot.stack.js"></script>
    <script src="../vendors/Flot/jquery.flot.resize.js"></script>
    -->
    <!-- Flot plugins -->
    <!--
   <script src="../vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
   <script src="../vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
   <script src="../vendors/flot.curvedlines/curvedLines.js"></script>
   -->
    <!-- DateJS -->
    <script src="{{ asset('admin/js/date.js') }}"></script>
    <!-- JQVMap -->
    <script src="{{ asset('admin/js/jquery.vmap.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.vmap.world.js') }}"></script>
    <script src="{{ asset('admin/js/jquery.vmap.sampledata.js') }}"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="{{ asset('admin/js/moment.min.js') }}"></script>
    <script src="{{ asset('admin/js/daterangepicker.js') }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ asset('admin/js/custom.js') }}"></script>

    <!-- Data tables Script -->
    <script src="{{ asset('DataTables/DataTables-1.10.13/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('DataTables/DataTables-1.10.13/js/dataTables.bootstrap.js') }}"></script>
    <script src="{{ asset('DataTables/Responsive-2.1.0/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('DataTables/Responsive-2.1.0/js/responsive.bootstrap.min.js') }}"></script>
    <script src="{{ asset('DataTables/Buttons-1.2.4/js/dataTables.buttons.js') }}"></script>
    <script src="{{ asset('DataTables/Buttons-1.2.4/js/buttons.bootstrap.js') }}"></script>
    {# ---To add if needed for buttons ----
    <script src="{{ asset('DataTables/JSZip-2.5.0/jszip.js') }}"></script>
    <script src="{{ asset('DataTables/pdfmake-0.1.18/build/pdfmake.js') }}"></script>
    <script src="{{ asset('DataTables/pdfmake-0.1.18/build/vfs_fonts.js') }}"></script>
    <script src="{{ asset('DataTables/Buttons-1.2.4/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('DataTables/Buttons-1.2.4/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('DataTables/Buttons-1.2.4/js/buttons.colVis.min.js') }}"></script>
    #}
    <!-- JQuery UI -->
    <script src="{{ asset('jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
    {#
    <!-- KiwiCalender -->
    <script src="{{ asset('Kiwi-Calender/moment-with-locales.js') }}"></script>
    <script src="{{ asset('Kiwi-Calender/kwik-events-calendar-customm.js') }}"></script>
    <script src="{{ asset('Kiwi-Calender/kwik-date-picker.js') }}"></script>
    <script src="{{ asset('Kiwi-Calender/kwik-date-picker.js') }}"></script>
    <script src="{{ asset('Kiwi-Calender/kwik-date-picker.js') }}"></script>
    <script src="{{ asset('Kiwi-Calender/Isotop.js') }}"></script>
    #}

    <!-- HighCharts Script -->
    <script src="{{ asset('Highcharts/highcharts.js') }}"></script>
    <script src="{{ asset('Highcharts/modules/exporting.js') }}"></script>

{% endblock %}
</body>
</html>
