{% extends 'admin_base.html.twig' %}

{% block title %}{{ parent() }} - Gestion Reclamations{% endblock %}

{% block content %}
    <table border="1" id="reclamations_table_id" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Utilisateur</th>
            <th>Categorie</th>
            <th>Date de création</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Statut</th>
            <th>Action</th>
            <th>Réponse</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        <tfoot>
        <tr>
            <th>Utilisateur</th>
            <th>Categorie</th>
            <th>Date de création</th>
            <th>Titre</th>
            <th>Description</th>
            <th>Statut</th>
            <th>Action</th>
            <th>Réponse</th>
        </tr>
        </tfoot>
    </table>
    <script>
        $(document).ready(function () {
            /*-------------Reclamations DataTable-------------*/
            $('#reclamations_table_id').DataTable({
                    ajax: "{{ path('admin_reclamation_get_dataTables') }}",
                    columnDefs: [
                        {
                            "targets": 5,
                            "render": function (data, type, row) {
                                $dom="";
                                if (data == "En cours de traitement") {
                                    $dom = "<span style='color : #1abc9c'>"+ data +"</span>"
                                } else if (data == "Nouvelle"){
                                    $dom = "<span style='color : darkgreen'>"+ data +"</span>"
                                }
                                else if (data == "Cloturée")  {
                                    $dom = "<span style='color : red'>"+ data +"</span>";
                                }
                                else if (data == "Traitée")  {
                                    $dom = "<span style='color : #6a00ff'>"+ data +"</span>";
                                }
                                return $dom
                            }
                        },
                        {
                        "targets": 6,
                        "render":  function ( data, type, row ) {
                            if (row[5] == "Traitée" || row[5] == "Cloturée"){
                                $dom = '<form method="post" action="{{ path("admin_reclamation_traiter") }}"><button disabled="true" type="submit" class="btn btn-primary traiter_reclamation_btn_class" value="'+data+'" name="id">Traiter</button></form>';
                            }
                            else {
                                $dom = '<form method="post" action="{{ path("admin_reclamation_traiter") }}"><button type="submit" class="btn btn-primary traiter_reclamation_btn_class" value="'+data+'" name="id">Traiter</button></form>';
                            }

                            return $dom
                        }
                    }]
                }
            );
            /*-------------------------------------------------*/
        });
    </script>
{% endblock %}
