{% extends 'admin_base.html.twig' %}

{% block title %}{{ parent() }} - Gestion Reclamation{% endblock %}

{% block content %}

    <form class="form-horizontal form-label-left input_mask row">

        {#<div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Utilisateur</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" placeholder="Default Input">
            </div>
        </div>#}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Utilisateur</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled" value="{{ reclamation.user }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Creation</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled"
                       value="{{ reclamation.dateCreation|date('d-m-Y H:i:s') }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Titre</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled" value="{{ reclamation.titre }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Categorie</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled" value="{{ reclamation.categorie }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled" value="{{ reclamation.description }}">
            </div>
        </div>
    </form>
    <hr/>
    <div class="row">
        <div class="text-center">
            <div class="text-center col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="row">
                    <textarea id="reponseTextContentId" rows='1' placeholder='Reponse à envoyer concernant la reclamation'
                              class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">{{ reclamation.reponse }}</textarea>
                </div>
                <div class="row">
                    <button id="reponseButtonId" class="btn btn-success col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"
                            onclick="envoyerReponse()" disabled="true" value="{{ reclamation.id }}">Envoyer
                    </button>
                </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="text-center">
                    <button class="btn btn-success col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 actionButtonClass" id="validerButtonId">Notifier la prise en charge validé de la reclamation</button>
                    <button class="btn btn-danger col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 actionButtonClass" id="cloturerButtonId">Cloturer la reclamation sans traitement</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function () {
            $idToUpdate = {{ reclamation.id }};
            onFinishPageLoad();

            function onFinishPageLoad(){
                $reclamationStatus = "{{ reclamation.statut }}";
                if ( $reclamationStatus == 'Cloturée'){
                    jQuery(".actionButtonClass").each(function (index) {
                        jQuery(this).prop("disabled",true);
                    });
                }else{
                    jQuery(".actionButtonClass").each(function (index) {
                        jQuery(this).prop("disabled",false);
                    });
                }
            }

            jQuery("#validerButtonId").on('click', function () {
                jQuery.ajax({
                    type: 'POST',
                    url: '{{ path('admin_reclamation_update_statut') }}',
                    data: {
                        "id": $idToUpdate,
                        "statut": "Traitée"
                    },
                    success: function (response) {
                        alert("Reclamation Traitée avec succés")
                    }
                });
            });

            jQuery("#cloturerButtonId").on('click', function () {
                jQuery.ajax({
                    type: 'POST',
                    url: '{{ path('admin_reclamation_update_statut') }}',
                    data: {
                        "id": $idToUpdate,
                        "statut": "Cloturée"
                    },
                    success: function (response) {
                        alert("Reclamation Cloturée avec succés")
                    }
                });
            });

            jQuery("#reponseButtonId").on('click', function () {
                jQuery.ajax({
                    type: 'POST',
                    url: '{{ path('admin_reclamation_update_reponse') }}',
                    data: {
                        "id": $idToUpdate,
                        "reponse": jQuery('#reponseTextContentId').val()
                    },
                    success: function (response) {
                        alert("Reponse envoyée avec succés")
                    }
                });
            });

            var textarea = document.querySelector('textarea');
            jQuery('#reponseTextContentId').on('input', function() {
                if (!jQuery(this).val()){
                    jQuery("#reponseButtonId").prop("disabled",true);
                }else {
                    jQuery("#reponseButtonId").prop("disabled",false);
                }
            });
        });

    </script>
    <style>
        textarea {
            /* box-sizing: padding-box; */
            overflow: hidden;
            /* demo only: */
            resize: none;
            padding: 10px;
            width: 250px;
            font-size: 14px;
            display: block;
            border-radius: 10px;
            border: 6px solid #556677;
        }
    </style>
{% endblock %}