{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}
    <section class="intro_section page_mainslider">
        <div class="flexslider">
            <ul class="slides">
                <li class="ls ms text-left">
                    <img src="{{   asset('Picture/slide01.jpg')}}" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer "
                                             data-animation="fadeInLeft">
                                            <h2											class=" black normal 											">
                                                Every Pet Deserves										</h2>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="fadeInRight">
                                            <h2											class=" black bold 											">
                                                Celebrity Care										</h2>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="fadeIn">
                                            <p											class="small  normal 											">
                                            </p>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="pullUp">
                                            <p											class="small black thin 											">
                                                Strip steak short ribs picanha shoulder bresaola. Pork belly brisket shankle short loin.										</p>
                                        </div>
                                        <div class="intro-layer"
                                             data-animation="fadeIn">
                                            <a href="{{ path('RDV') }}"
                                               class="theme_button color3">Make an Appointment</a>
                                        </div>

                                    </div> <!-- eof .slide_description -->
                                </div> <!-- eof .slide_description_wrapper -->
                            </div> <!-- eof .col-* -->
                        </div><!-- eof .row -->
                    </div><!-- eof .container -->
                </li>
                <li class="ls ms text-left">
                    <img src="{{ asset('Picture/slide02.jpg') }}" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer "
                                             data-animation="pullUp">
                                            <h2											class=" black normal 											">
                                                Qualified Personal										</h2>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="pullDown">
                                            <h2											class=" black bold 											">
                                                Care For Your Pets										</h2>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="fadeIn">
                                            <p											class="small  normal 											">
                                            </p>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="slideRight">
                                            <p											class="small black thin 											">
                                                Strip steak short ribs picanha shoulder bresaola. Pork belly brisket shankle short loin.										</p>
                                        </div>
                                        <div class="intro-layer"
                                             data-animation="fadeIn">
                                            <a href="{{ path('RDV') }}"
                                               class="theme_button color3">Make an Appointment</a>
                                        </div>

                                    </div> <!-- eof .slide_description -->
                                </div> <!-- eof .slide_description_wrapper -->
                            </div> <!-- eof .col-* -->
                        </div><!-- eof .row -->
                    </div><!-- eof .container -->
                </li>
                <li class="ls ms text-left">
                    <img src="{{ asset('Picture/slide03.jpg') }}" alt="">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="slide_description_wrapper">
                                    <div class="slide_description">
                                        <div class="intro-layer "
                                             data-animation="pullDown">
                                            <h2											class=" black normal 											">
                                                Every Pet Deserves										</h2>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="pullUp">
                                            <h2											class=" black bold 											">
                                                Celebrity Care										</h2>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="fadeIn">
                                            <p											class="small  normal 											">
                                            </p>
                                        </div>
                                        <div class="intro-layer "
                                             data-animation="fadeInUp">
                                            <p											class="small black thin 											">
                                                Strip steak short ribs picanha shoulder bresaola. Pork belly brisket shankle short loin.										</p>
                                        </div>
                                        <div class="intro-layer"
                                             data-animation="expandUp">
                                            <a href="{{ path('RDV') }}"
                                               class="theme_button color3">Make an Appointment</a>
                                        </div>

                                    </div> <!-- eof .slide_description -->
                                </div> <!-- eof .slide_description_wrapper -->
                            </div> <!-- eof .col-* -->
                        </div><!-- eof .row -->
                    </div><!-- eof .container -->
                </li>
            </ul>
        </div> <!-- eof flexslider -->
        <div class="scroll_button_wrap">
            <a href="#about" class="scroll_button">
                <span class="sr-only">scroll down</span>
            </a>
        </div>
    </section> <!-- eof intro_section -->
{% endblock %}