<div class="col-sm-4 header_right_buttons text-center text-sm-right hidden-xs">

    {% if is_granted('ROLE_DRE') %}
        <span> </span>
        <a href="{{ path('listproalui') }}"><span style="color: #133a4a">Mes rendez-vous à moi </span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span>
        <a href="{{ path('listeprovalid') }}"><span style="color: #133a4a">Mes rendez-vous</span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span>
        <a href="{{ path('listeuserprodipo') }}"><span style="color: #133a4a">Les rendez-vous à validés</span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span><span> </span>
    {% endif %}

    {% if is_granted('ROLE_VET') %}
        <span> </span>
        <a href="{{ path('listproalui') }}"><span style="color: #133a4a">Mes rendez-vous à moi </span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span>
        <a href="{{ path('listeprovalid') }}"><span style="color: #133a4a">Mes rendez-vous</span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span>
        <a href="{{ path('listeuserprodipo') }}"><span style="color: #133a4a">Les rendez-vous à validés</span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span><span> </span>
    {% endif %}

    {% if is_granted('ROLE_PET') %}
        <span> </span>
        <a href="{{ path('listproalui') }}"><span style="color: #133a4a">Mes rendez-vous à moi </span> <span style="color: #008CBA;font-weight: bold">
                        <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span>
        <a href="{{ path('listeprovalid') }}"><span style="color: #133a4a">Mes rendez-vous</span> <span style="color: #008CBA;font-weight: bold">
                            <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span>
        <a href="{{ path('listeuserprodipo') }}"><span style="color: #133a4a">Les rendez-vous à validés</span> <span style="color: #008CBA;font-weight: bold">
                            <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span><span> </span>
    {% endif %}

    {% if is_granted("ROLE_SIMPLE-USER") %}
        <span> </span>
        <a href="{{ path('listrdvnon') }}"><span style="color: #133a4a">Mes rendez-vous en attente</span> <span style="color: #008CBA;font-weight: bold">
                    <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span>
        <a href="{{ path('listrdv') }}"><span style="color: #133a4a">Mes rendez-vous</span> <span style="color: #008CBA;font-weight: bold">
                    <i class="glyphicons glyphicons-log-out"></i> </span></a>
        <span> </span><span> </span>
    {% endif %}

    {% if is_granted("ROLE_USER") %}

        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
         {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
        <a href="{{ path('fos_user_registration_register') }}">Inscription</a>
    {% endif %}

</div>