<nav class="mainmenu_wrapper primary-navigation">
    <ul id="menu-main-menu" class="sf-menu nav-menu nav">
        {% for menu in menus %}
        <li id="menu-item-126" class="menu-item {{ menu.active }}"><a href="{{ path(menu.path) }}" >{{ menu.title }} </a></li>
        {% endfor %}
        <li id="menu-item-212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-212"><a href={{ path('Servicesuser') }} class="sf-with-ul">Services</a>
            <ul class="sub-menu" style="display: none; margin-top: 5px;">

                {% if false %}
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('servicefavoriadmin') }}>Favoris</a>

                    </li>

                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('addserviceadmin') }}>Ajouter un service</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('categorieadmin') }}>Catégories</a>

                    </li>
                {% endif %}
                {% if true %}
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('servicefavoriuser') }}>Favoris</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('Messervicesvetuser') }}>Mes services</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('addserviceuser') }}>Ajouter un service</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('listecategorieuser') }}>Catégories</a>

                    </li>
                {% endif %}
                {% if (is_granted('ROLE_PET')) %}
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('servicefavoriuser') }}>Favoris</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('Messervicesgarduser') }}>Mes services</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('addserviceuser') }}>Ajouter un service</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('listecategorieuser') }}>Catégories</a>

                    </li>
                {% endif %}
                {% if (is_granted('ROLE_DRE')) %}
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('servicefavoriuser') }}>Favoris</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('Messerviceseduser') }}>Mes services</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('addserviceuser') }}>Ajouter un service</a>

                    </li>
                    <li id="menu-item-2765" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2765"><a href={{ path('listecategorieuser') }}>Catégories</a>
                    </li>
                {% endif %}
            </ul>
        </li>


            <li id="menu-item-212" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-212"><a href={{ path('listecategorieuser') }} class="sf-with-ul">Contact</a>
                </li>
    </ul>
</nav>
