


{% extends 'TemplateBundle:Template:Annonces.html.twig' %}





{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight">
                    Mes propres annonces				</h2>

            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">
                        {% block contenu %}


                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center breadcrumbs_inner">
                                        <form method="Post" action="">
                                            <h2>Recherche d'un animal</h2>
                                            <table>
                                                <tr>
                                                    <td>Categorie :</td>
                                                    <td>
                                                        <SELECT name="categorie" size="1">
                                                            <OPTION>LostAndFound
                                                            <OPTION>Adoption
                                                            <OPTION>Vente

                                                        </SELECT>
                                                    </td>
                                                    <td>Animal :</td>
                                                    <td><input type="text" name="animal" id="animal"></td></tr>

                                                </tr>
                                            </table>
                                        </form>
                                        <br>
                                        <br>
                                        <br>
                                        <table border="0">
                                            <tr>
                                                <td> Categorie</td>
                                                <td> Animal</td>
                                                <td> Race</td>
                                                <td>Image</td>
                                                <td>Prix</td>
                                                <td> Date</td>
                                                <td> Description</td>
                                                <td> Valide</td>
                                                <td>Supprimer</td>
                                                <td>Modifier</td>

                                            </tr>




                                            {% for annonces in annonces %}
                                            {% if annonces.categorie=="Vente" %}


                                            <tr><td> {{ annonces.categorie }} </td>


                                                <td>{{ annonces.animal }}  </td>
                                                <td>{{ annonces.race }}</td>
                                                <td><img src ="{{ asset('images/') }}{{ annonces.image }}"  >       </td>
                                                <td>{{ annonces.prix }}</td>

                                                <td>{{ annonces.datecreation.format('Y-m-d') }}</td>

                                                <td>{{ annonces.description }}</td>
                                                <td>
                                                    {% if annonces.estvalide==1 %}
                                                        <img src="{{ asset('picture/Valider.jpg') }}"  style="width:42px;height:42px;border:0">

                                                    {% else %}
                                                        <img src="{{ asset('picture/NonValider.jpg') }}"  style="width:42px;height:42px;border:0">



                                                    {% endif %}

                                                </td>




                                                <td>
                                                    <a href="{{ path('_supprimer',{'id':annonces.id}) }} ">
                                                        <img src="{{ asset('picture/delete.jpg') }}"  style="width:42px;height:42px;border:0">
                                                    </a>
                                                </td>

                                                <td>
                                                    <a href="{{ path('_modifier',{'id':annonces.id}) }}">
                                                        <img src="{{ asset('picture/Update.jpg') }}"  style="width:42px;height:42px;border:0">
                                                    </a>
                                                </td>
                                                {% else %}
                                            <tr><td> {{ annonces.categorie }} </td>


                                                <td>{{ annonces.animal }}  </td>
                                                <td>{{ annonces.race }}</td>
                                                <td><img src ="{{ asset('images/') }}{{ annonces.image }}"  >       </td>
                                                <td>{{ annonces.prix }}</td>
                                                <td>{{ annonces.datecreation.format('Y-m-d') }}</td>

                                                <td>{{ annonces.description }}</td>
                                                <td>
                                                    {% if annonces.estvalide==1 %}
                                                     <img src="{{ asset('picture/Valider.jpg') }}"  style="width:42px;height:42px;border:0">

                                                    {% else %}
                                                        <img src="{{ asset('picture/NonValider.jpg') }}"  style="width:42px;height:42px;border:0">

                                                    {% endif %}

                                                </td>
                                                <td>
                                                    <a href="{{ path('_supprimer',{'id':annonces.id}) }} ">
                                                        <img src="{{ asset('picture/delete.jpg') }}"  style="width:42px;height:42px;border:0">
                                                    </a>
                                                </td>

                                                <td>
                                                    <a href="{{ path('_modifier1',{'id':annonces.id}) }}">
                                                        <img src="{{ asset('picture/Update.jpg') }}"  style="width:42px;height:42px;border:0">
                                                    </a>
                                                </td>
                                                {% endif %}






                                                {% endfor %}
                                            </tr>

                                        </table>
                                        <br><br><br>
                                        <table>


                                        <tr>
                                            <td><a href="{{ path('_ajoutVente') }}">mettre a vendre mon animal</a></td>
                                            <td><a href="{{ path('_ajoutAutre') }}">mettre a adopter mon animal</a></td>
                                            <td><a href="{{ path('_ajoutAutre') }}">rechercher mon animal perdu</a></td>
                                        </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        {% endblock %}





                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock %}





