<!DOCTYPE html>
<html lang="en-US" class="no-js">

<!-- Mirrored from webdesign-finder.com/pet-space/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Feb 2018 20:13:54 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {font-family: Arial, Helvetica, sans-serif;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>Animaux</title>
    <link rel='dns-prefetch' href='http://maxcdn.bootstrapcdn.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Pet Space &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Pet Space &raquo; Comments Feed" href="comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.3\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/webdesign-finder.com\/pet-space\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.8.4"}};
        !function(a,b,c){function d(a){var b,c,d,e,f=String.fromCharCode;if(!k||!k.fillText)return!1;switch(k.clearRect(0,0,j.width,j.height),k.textBaseline="top",k.font="600 32px Arial",a){case"flag":return k.fillText(f(55356,56826,55356,56819),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,56826,8203,55356,56819),0,0),c=j.toDataURL(),b!==c&&(k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447),0,0),b=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447),0,0),c=j.toDataURL(),b!==c);case"emoji4":return k.fillText(f(55358,56794,8205,9794,65039),0,0),d=j.toDataURL(),k.clearRect(0,0,j.width,j.height),k.fillText(f(55358,56794,8203,9794,65039),0,0),e=j.toDataURL(),d!==e}return!1}function e(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i,j=b.createElement("canvas"),k=j.getContext&&j.getContext("2d");for(i=Array("flag","emoji4"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='booked-icons-css'  href='{{asset('css/icons8a54.css?ver=1.0.0') }}' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-tooltipster-css'  href='{{asset('css/tooltipster8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-tooltipster-theme-css'  href='{{asset('css/tooltipster-light8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-animations-css'  href='{{ asset('css/animations8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  href='{{ asset('css/styles8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_styles-css'  href='{{ asset('css/sb-instagram.min8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='sb-font-awesome-css'  href='{{ asset('css/font-awesome.min.css')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  href='{{ asset('css/font-awesome.min8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-icon-fonts-css'  href='{{ asset('css/fonts8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-font-css'  href='{{ asset('css/font1.css')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-woo-css'  href='{{ asset('wp-content/themes/pet-space/css/woo8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-booked-css'  href='{{ asset('wp-content/themes/pet-space/css/booked8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-accesspress-css'  href='{{ asset('wp-content/themes/pet-space/css/accesspress8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-css-style-css'  href='{{ asset('wp-content/themes/pet-space/style8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-bootstrap-css'  href='{{ asset('wp-content/themes/pet-space/css/bootstrap.min8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-animations-css'  href='{{ asset('wp-content/themes/pet-space/css/animations8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='pet-space-main-css'  href='{{ asset('wp-content/themes/pet-space/css/main8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet' id='fw-shortcode-divider-css'  href='{{ asset('wp-content/plugins/unyson/framework/extensions/shortcodes/shortcodes/divider/static/css/styles8a54.css?ver=1.0.0')}}' type='text/css' media='all' />
    <link rel='stylesheet'   href='{{ asset('wp-content/plugins/DataTable/jquery.dataTables.min.css')}}' type='text/css'  />
    <script type='text/javascript' src='{{ asset('wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4')}}'></script>
    <script type='text/javascript' src='{{ asset('wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1')}}'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var SnazzyDataForSnazzyMaps = [];
        SnazzyDataForSnazzyMaps={"id":25,"name":"Blue water","description":"A simple map with blue water and roads\/landscape in grayscale. ","url":"https:\/\/snazzymaps.com\/style\/25\/blue-water","imageUrl":"https:\/\/snazzy-maps-cdn.azureedge.net\/assets\/25-blue-water.png?v=20170621023229","json":"[{\"featureType\":\"administrative\",\"elementType\":\"labels.text.fill\",\"stylers\":[{\"color\":\"#444444\"}]},{\"featureType\":\"landscape\",\"elementType\":\"all\",\"stylers\":[{\"color\":\"#f2f2f2\"}]},{\"featureType\":\"poi\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"road\",\"elementType\":\"all\",\"stylers\":[{\"saturation\":-100},{\"lightness\":45}]},{\"featureType\":\"road.highway\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"simplified\"}]},{\"featureType\":\"road.arterial\",\"elementType\":\"labels.icon\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"transit\",\"elementType\":\"all\",\"stylers\":[{\"visibility\":\"off\"}]},{\"featureType\":\"water\",\"elementType\":\"all\",\"stylers\":[{\"color\":\"#46bcec\"},{\"visibility\":\"on\"}]}]","views":234226,"favorites":567,"createdBy":{"name":"Xavier","url":"http:\/\/www.xavierfoucrier.fr"},"createdOn":"2013-11-05T16:09:45.02","tags":["light","simple"],"colors":["blue","gray"]};
        /* ]]> */
    </script>
    <!-- *******************data tables -->

    <script type='text/javascript' src='{{ asset('wp-content/plugins/snazzy-maps/snazzymapsc358.js?ver=1.1.3') }}'></script>
    <script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/vendor/modernizr-2.6.2.min61da.js?ver=2.6.2') }}'></script>
    <link rel='https://api.w.org/' href='{{ asset('wp-json/index.html')}}' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.8.4" />
    <meta name="generator" content="WooCommerce 3.2.1" />
    <link rel="canonical" href="app_dev.php/" />
    <link rel='shortlink' href='app_dev.php/' />
    <link rel="alternate" type="application/json+oembed" href="{{ asset('wp-json/oembed/1.0/embed3f60.json?url=http%3A%2F%2Fwebdesign-finder.com%2Fpet-space%') }}" />
    <link rel="alternate" type="text/xml+oembed" href="{{ asset('wp-json/oembed/1.0/embed3375?url=http%3A%2F%2Fwebdesign-finder.com%2Fpet-space%2F&amp;format=xml') }}" />
    <noscript><style>.woocommerce-product-gallery{ opacity: 1 !important; }</style></noscript>
    <link rel="icon" href="{{ asset('wp-content/uploads/2017/08/cropped-favicon-1-150x150.png')}}" sizes="32x32" />
    <link rel="icon" href="{{ asset('wp-content/uploads/2017/08/cropped-favicon-1-300x300.png')}}" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="{{ asset('wp-content/uploads/2017/08/cropped-favicon-1-180x180.png')}}" />
    <meta name="msapplication-TileImage" content="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/cropped-favicon-1-300x300.png" />
</head>

<link rel='stylesheet' id='date-timepicker-css-css'  href='{{ asset('wp-content/themes/pet-space/framework-customizations/extensions/forms/includes/builder-items/date-time/static/css/bootstrap-datetimepicker.min.css') }}' type='text/css' media='all' />
<script type='text/javascript' src='{{ asset('wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4')}}'></script>
<script type='text/javascript' src='{{ asset('wp-includes/js/jquery/ui/datepicker.mine899.js?ver=1.11.4')}}'></script>
<script type='text/javascript'>
    jQuery(document).ready(function(jQuery){jQuery.datepicker.setDefaults({"closeText":"Close","currentText":"Today","monthNames":["January","February","March","April","May","June","July","August","September","October","November","December"],"monthNamesShort":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"],"nextText":"Next","prevText":"Previous","dayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"dayNamesShort":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"dayNamesMin":["S","M","T","W","T","F","S"],"dateFormat":"MM d, yy","firstDay":1,"isRTL":false});});
</script>

<script type='text/javascript' src='{{ asset('wp-content/plugins/DataTable/jquery.dataTables.min.js')}}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/booked/assets/js/spin.min7406.js?ver=2.0.1')}}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/booked/assets/js/spin.jquery7406.js?ver=2.0.1')}}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/booked/assets/js/tooltipster/js/jquery.tooltipster.min9b70.js?ver=3.3.0')}}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var booked_js_vars = {"ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/wp-admin\/admin-ajax.php","profilePage":"","publicAppointments":"","i18n_confirm_appt_delete":"Are you sure you want to cancel this appointment?","i18n_please_wait":"Please wait ...","i18n_wrong_username_pass":"Wrong username\/password combination.","i18n_fill_out_required_fields":"Please fill out all required fields.","i18n_guest_appt_required_fields":"Please enter your name to book an appointment.","i18n_appt_required_fields":"Please enter your name, your email address and choose a password to book an appointment.","i18n_appt_required_fields_guest":"Please fill in all \"Information\" fields.","i18n_password_reset":"Please check your email for instructions on resetting your password.","i18n_password_reset_error":"That username or email is not recognized."};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/booked/assets/js/functions1717.js?ver=2.0.6')}}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wpcf7 = {"apiSettings":{"root":"http:\/\/webdesign-finder.com\/pet-space\/wp-json\/contact-form-7\/v1","namespace":"contact-form-7\/v1"},"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/contact-form-7/includes/js/scripts33a6.js?ver=4.9') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var sb_instagram_js_options = {"sb_instagram_at":"1745684104.3a81a9f.a81e0b476f3146d38e21ec9bf30bc5f0"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/instagram-feed/js/sb-instagram.min7ef2.js?ver=1.5') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_add_to_cart_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%","i18n_view_cart":"View cart","cart_url":"http:\/\/webdesign-finder.com\/pet-space\/cart\/","is_cart":"","cart_redirect_after_add":"no"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min44fd.js?ver=2.70') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min6b25.js?ver=2.1.4') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var woocommerce_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var wc_cart_fragments_params = {"ajax_url":"\/pet-space\/wp-admin\/admin-ajax.php","wc_ajax_url":"http:\/\/webdesign-finder.com\/pet-space\/?wc-ajax=%%endpoint%%","fragment_name":"wc_fragments_16bed13ee095dc6c6ced5e9fbeaae42d"};
    /* ]]> */
</script>
<script type='text/javascript' src='{{ asset('wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.mindeae.js?ver=3.2.1') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/compressed20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/plugins20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/selectizef269.js?ver=1.0.1') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/woo20b9.js?ver=1.0.2') }}wp-content/themes/pet-space/js/woo20b9.js?ver=1.0.2'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/js/main20b9.js?ver=1.0.2') }}'></script>
<script type='text/javascript' src='{{ asset('wp-includes/js/wp-embed.minee45.js?ver=4.8.4') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/framework-customizations/extensions/forms/includes/builder-items/date-time/static/js/moment-with-locales.min.js') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/framework-customizations/extensions/forms/includes/builder-items/date-time/static/js/bootstrap.min.js') }}'></script>
<script type='text/javascript' src='{{ asset('wp-content/themes/pet-space/framework-customizations/extensions/forms/includes/builder-items/date-time/static/js/bootstrap-datetimepicker.min.js') }}'></script>

<body class="home page-template page-template-page-templates page-template-full-width page-template-page-templatesfull-width-php page page-id-7 masthead-fixed full-width with-slider grid light-body"><!--tc: test cache -->


<script type='text/javascript' src='{{ asset('https://bqra.github.io/jalendar2/jalendar/js/jalendar.min.js') }}'></script>
<!-- KiwiCalender -->
<link href="{{ asset('Kiwi-Calender/kwik-events-calendar-style.css') }}" rel="stylesheet">
<!-- KiwiCalender -->
<script src="{{ asset('Kiwi-Calender/moment-with-locales.js') }}"></script>
<script src="{{ asset('Kiwi-Calender/kwik-events-calendar-customm.js') }}"></script>
<script src="{{ asset('Kiwi-Calender/kwik-date-picker.js') }}"></script>
<script src="{{ asset('Kiwi-Calender/kwik-date-picker.js') }}"></script>
<script src="{{ asset('Kiwi-Calender/kwik-date-picker.js') }}"></script>
<script src="{{ asset('Kiwi-Calender/Isotop.js') }}"></script>
<script src="{{ asset('js/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('js/check.js') }}"></script>











<!-- page preloader -->
<!--<div class="preloader">
    <div class="preloader_image fa-spin"></div>
</div>-->

<!-- search modal -->
<div class="modal" tabindex="-1" role="dialog" aria-labelledby="search_modal" id="search_modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		<span aria-hidden="true">
			<i class="rt-icon2-cross2"></i>
		</span>
    </button>

</div>
<!-- Unyson messages modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
    <div class="fw-messages-wrap ls with_padding">
    </div>
</div><!-- eof .modal -->

<!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas" class="wide">
    <div id="box_wrapper">
        <!-- template sections -->
        <section class="page_topline with_search ls ms section_padding_10 table_section">
            <h3 class="hidden">Page Topline</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 text-center text-sm-left">
                        <p class="divided-content greylinks">
                    </div>

                {{ render(controller('TemplateBundle:Default:InfoUser')) }}
                </div>
            </div>
        </section><!-- .page_topline -->
        <section class="page_toplogo table_section table_section_md section_padding_top_15 section_padding_bottom_15 ls">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 text-center text-md-left">
                        <a href="{{ path('template_homepage') }}"
                           rel="home" class="logo logo_image_only">
                            <img src="{{ asset('Picture/logo-2.png')}}" alt="">
                        </a>			</div>
                    <div class="col-md-9 text-center text-md-right">
                        <div class="inline-teasers-wrap">

                            <div class="small-teaser text-left">
                                <p class="small-text grey margin_0">
                                    CALL US TODAY: 								</p>
                                <p class="highlight2 fontsize_20 medium">
                                    ********							</p>
                            </div>

                            <div class="small-teaser text-left">
                                <p class="small-text grey margin_0">
                                    OUR LOCATION:								</p>
                                <p class="highlight2 fontsize_20 medium">
                                    Tunis,Tunisie							</p>
                            </div>

                            <div class="small-teaser text-left">
                                <p class="small-text grey margin_0">
                                    OPEN HOURS:								</p>
                                <p class="highlight2 fontsize_20 medium">
                                    Mon - Sat 							</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- eof .col- -->
        </section>
        <header class="page_header ls toggler_left with_top_border item_with_border affix-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 display_table">
                        <div class="col-md-12 header_mainmenu display_table_cell">
                            {{ render(controller('TemplateBundle:Default:Menu')) }}
                            <!-- header toggler -->
                            <span class="toggle_menu"><span></span></span>
                        </div>

                    </div><!--	eof .col-sm-* -->
                </div><!--	eof .row-->
            </div> <!--	eof .container-->
        </header>
        {% block body %}

        {% endblock  %}
        <footer id="footer" class="page_footer section_padding_top_100 section_padding_bottom_90 columns_padding_25 ds"  style="background-image: url(wp-content/uploads/2017/08/footer-image.jpg)">
            <div class="container">

                <div class="row">
                    <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                        <div id="pet_space_banner-2" class="widget-odd widget-first widget-1 text-center widget widget_banner">	<img src="{{ asset('wp-content/uploads/2017/10/logo-2.png') }}" alt="">
                        </div><div id="text-2" class="widget-even widget-2 text-center widget widget_text">			<div class="textwidget"><p>Pork loin venison andouille filet mignon picanha. Prosciutto brisket chuck, ham sausage beef ribs corned.</p>
                            </div>
                        </div><div id="pet_space_icons_list-2" class="widget-odd widget-3 text-center widget widget_icons_list">		<div class="widget-icons-list no-bullets no-top-border no-bottom-border grey">
                                <div class="media small-teaser inline-block margin_0">
                                    <div class="media-left">
                                        <i class="fa fa-map-marker highlight"></i>
                                    </div>
                                    <div class="media-body darklinks color3">
                                        253 Adams Ave, Iowa						</div>
                                </div>
                                <div class="media small-teaser inline-block margin_0">
                                    <div class="media-left">
                                        <i class="fa fa-phone highlight"></i>
                                    </div>
                                    <div class="media-body darklinks color3">
                                        8 800 269 8469 						</div>
                                </div>
                                <div class="media small-teaser inline-block margin_0">
                                    <div class="media-left">
                                        <i class="fa fa-envelope highlight"></i>
                                    </div>
                                    <div class="media-body darklinks color3">
                                        <a href="mailto:example@example.com">example@examplecom</a>						</div>
                                </div>
                                <div class="media small-teaser inline-block margin_0">
                                    <div class="media-left">
                                        <i class="fa fa-internet-explorer highlight"></i>
                                    </div>
                                    <div class="media-body darklinks color3">
                                        <a href="#">www.example.com</a>						</div>
                                </div>
                            </div>
                        </div><div id="pet_space_socials-2" class="widget-even widget-last widget-4 text-center widget widget_socials">		<div class="widget-socials no-bullets no-top-border no-bottom-border topmargin_20">
                                <a href="http://www.facebook.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-facebook"></a>
                                <a href="http://twitter.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-twitter"></a>
                                <a href="http://plus.google.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-google"></a>
                            </div>
                        </div>			</div>
                    <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                        <div id="text-3" class="widget-odd widget-last widget-first widget-1 text-center widget widget_text"><h3 class="widget-title"><span class="first-word">Contact</span> <span class="last-word">Form</span></h3>			<div class="textwidget"><div role="form" class="wpcf7" id="wpcf7-f43-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form action="http://webdesign-finder.com/pet-space/#wpcf7-f43-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                        <div style="display: none;">
                                            <input type="hidden" name="_wpcf7" value="43" /><br />
                                            <input type="hidden" name="_wpcf7_version" value="4.9" /><br />
                                            <input type="hidden" name="_wpcf7_locale" value="en_US" /><br />
                                            <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f43-o1" /><br />
                                            <input type="hidden" name="_wpcf7_container_post" value="0" />
                                        </div>
                                        <p><span class="fa fa-user highlight3"></span><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Full Name" /></span></p>
                                        <p><span class="fa fa-envelope highlight3"></span><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span></p>
                                        <p><span class="fa fa-comment highlight3"></span><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="45" rows="3" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="Message..."></textarea></span></p>
                                        <div class="footer_contact-form-submit topmargin_20"><input type="submit" value="Send Now" class="wpcf7-form-control wpcf7-submit theme_button wide_button color3" /></div>
                                        <div class="wpcf7-response-output wpcf7-display-none"></div>
                                    </form>
                                </div>
                            </div>
                        </div>			</div>
                    <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                        <div id="pet_space_theme_posts-3" class="widget-odd widget-last widget-first widget-1 text-center widget widget_popular_entries">	<h3 class="widget-title"><span class="first-word">Recent</span> <span class="last-word">Posts</span></h3>	<ul id="theme_posts_5a737509b0d87" class="media-list">
                                <li class="media post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                    <div class="media-body">
                                        <h6 class="title"><a href="shankle-doner-ribeye-ham-hock-shank/index.html">Shankle doner ribeye ham hock shank</a></h6>
                                        <p>Veniam pastrami sirloin, andouille aliqua consequat incididunt eu. Prosciutto pork belly excepteur strip steak in tongue venison nisi sunt landjaeger</p>
                                        <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 11, 2017                            </span>
                                        </div>
                                    </div>
                                </li>
                                <li class="media post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                    <div class="media-body">
                                        <h6 class="title"><a href="t-bone-capicola-kevin-pancetta/index.html">T-bone capicola kevin pancetta</a></h6>
                                        <p>Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop.</p>
                                        <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 7, 2017                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>				</div>
                </div>

            </div>
        </footer><!-- .page_footer -->
        <section class="ls page_copyright section_padding_15">
            <h3 class="hidden">Page Copyright</h3>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>&copy; Copyright 2017 All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </section><!-- .copyrights -->	</div><!-- eof #box_wrapper -->
</div><!-- eof #canvas -->
</body>
<!-- Mirrored from webdesign-finder.com/pet-space/ by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 01 Feb 2018 20:15:43 GMT -->
</html>