{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}


{% block body %}
    <head>
        <script>
            $(document).ready(function () {
                $('#daliibundle_evenements_valider').hover(function () {

                    if ($('#daliibundle_evenements_endDate_year').val() + $('#daliibundle_evenements_endDate_month').val()
                        + $('#daliibundle_evenements_endDate_day').val() < $('#daliibundle_evenements_startDate_year').val() +
                        $('#daliibundle_evenements_startDate_month').val()
                        + $('#daliibundle_evenements_startDate_day').val()) {
                        alert('date invalide');
                    }


                });
            });

        </script>
    </head>

    <!-- eof .page_header -->
    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url(../../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Services Category: </span>Evenements </h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item"><br>
                            <a href="{{ path('template_homepage') }}">Home</a></li>
                        <li class="last-item">Evenements</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="fw-main-row  ls section_padding_top_5 section_padding_bottom_5 columns_padding_25">
        <div class="container">
            <div class="row">
                <div class="fw-divider-space " style="padding-top: 5px;"></div>
                <div class="col-xs-12 col-md-6 to_animate text-left animated fadeInRight" data-animation="fadeInRight">
                    <div class="shortcode-icon">
                        <div class="icon-wrap size_normal default_icon color_4">
                            <i class="fa fa-paw"></i>
                        </div>
                    </div>

                    <div class="fw-divider-space " style="padding-top: 20px;"></div>
                    <div class="special-heading text-left">
                        <h2 class="section_header margin_0  ">Ajouter Evenement</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section>
        {{form_start(form)}}
        {{ form_row(form.title) }}
        {{ form_row(form.description) }}

        {{ form_row(form.startDate) }}

        {{ form_row(form.endDate) }}

        {{ form_row(form.nbrePlaceDispo) }}
        {{ form_rest(form) }}

        </table>
    </section>









{% endblock %}



