{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}
    <!DOCTYPE html>
    <html>
    <head>
        <script>
            var my_events = {
                    "events": [{
                        "title": "hover",
                        "start": "2018-02-18 00:00:00",
                        "id": "20"
                    }, {"title": "Hover 2 days", "start": "2018-02-07 00:00:00", "id": "21"}, {
                        "title": "l44444",
                        "start": "2018-02-17 00:00:00",
                        "id": "22"
                    }, {"title": "Evenement 6", "start": "2017-02-01 00:00:00", "id": "23"}, {
                        "title": "wdvsd",
                        "start": "2013-01-01 00:00:00",
                        "id": "24"
                    }, {"title": "Titre 69", "start": "2015-03-14 00:00:00", "id": "25"}, {
                        "title": "Title 1",
                        "start": "2014-01-01 00:00:00",
                        "id": "26"
                    }, {"title": "Title 2", "start": "2017-07-01 00:00:00", "id": "27"}, {
                        "title": "ghchg",
                        "start": "2016-05-15 00:00:00",
                        "id": "28"
                    }, {"title": "lhcmkv", "start": "2013-01-01 00:00:00", "id": "29"}, {
                        "title": "titre 55",
                        "start": "2018-02-05 00:00:00",
                        "id": "30"
                    }]
                }
            ;
            $(document).ready(function () {


                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev, today, ',
                        center: 'title',
                        right: 'next'
                    },
                    defaultDate: '{{ 'now'|date('Y-m-d') }}',
                    navLinks: true, // can click day/week names to navigate views
                    editable: false,
                    eventLimit: true, // allow "more" link when too many events
                    eventSources: [

                        {
                            url: "{{ path('dalii_calendardata') }}",
                            color: 'yellow',    // an option!
                            textColor: 'black'  // an option!
                        }
                    ]


                })
                {#$("#calendar").fullCalendar('addEventSource', {{ render(controller("DaliiBundle:event:loadCalendrierData")) }} );#}
            })


        </script>


        <style>

            /*body {*/
            /*margin: 40px 10px;*/
            /*padding: 0;*/
            /*font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;*/
            /*font-size: 14px;*/
            /*}*/
            .hover {
                background-color: #92a8d1;

            }

            #calendar {
                max-width: 900px;
                margin: 0 auto;
            }

        </style>
    </head>
    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url(../../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Services Category: </span>Calendrier </h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item"><br>
                            <a href="{{ path('template_homepage') }}">Home</a></li>
                        <li class="last-item">Evenements</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    {% block content %}

        <div class="container">
            <div class="bootstrap-accordion">
                <div id='calendar'></div>
            </div>
        </div>
        </html>

    {% endblock %}
{% endblock %}