{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}


    <body class="blog masthead-fixed archive-list-view full-width light-body"><!--tc: test cache -->
    {#<!-- page preloader -->#}
    {#<div class="preloader">#}
    {#<div class="preloader_image fa-spin"></div>#}
    {#</div>#}

    <!-- search modal -->


    <!-- Unyson messages modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="messages_modal">
        <div class="fw-messages-wrap ls with_padding">

        </div>
    </div>
    <!-- eof .modal -->

    <!-- wrappers for visual page editor and boxed version of template -->
<div id="canvas" class="wide">
    <div id="box_wrapper">
    <!-- template sections -->
    {#<!-- .page_topline -->#}
    <section class="page_toplogo table_section table_section_md section_padding_top_15 section_padding_bottom_15 ls">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-center text-md-left">
                    <a href="http://webdesign-finder.com/pet-space/"
                       rel="home" class="logo logo_image_only">
                        <img src="//webdesign-finder.com/pet-space/wp-content/uploads/2017/10/logo-2.png" alt="">
                    </a></div>

            </div>
        </div><!-- eof .col- -->
    </section>

    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url(http://webdesign-finder.com/pet-space/wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        Evenements </h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item">
                            <a href="http://webdesign-finder.com/pet-space/">Home</a></li>
                        <li class="last-item">events</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    {% block section %}
        <section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
            <div class="container">
                <div class="row">
                    <div class="before-loop-area col-xs-12">
                    </div>

                    {% block content %}
                    <div id="content"
                         class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">
                        {% block article %}


                        {% for event in allevents %}
                            <article id='{{ event.id }}' class='vertical-item content-padding big-padding with_shadow
                                     rounded overflow-hidden post-2768 post type-post status-publish format-standard
                                     has-post-thumbnail hentry category-uncategorized'>

                                <div class="item-media-wrap">
                                    <div class="item-media entry-thumbnail post-thumbnail">
                                        <div class="entry-meta-corner">
						<span>
									{{ event.startDate|date }}                                {{ event.endDate|date }}

                        </span>
                                        </div>
                                        <img width="1170" height="780"
                                             src="{{ asset('Pictures/') }}{{ event.monImage }}"
                                             class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image"
                                             alt="" sizes="(max-width: 1170px) 100vw, 1170px"/>
                                        <div class="media-links">
                                            <a class="abs-link" title=""
                                               href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"></a>
                                        </div>
                                    </div> <!-- .item-media -->
                                </div> <!-- .item-media-wrap -->

                                <div class="item-content">

                                    <header class="entry-header">
                                        <div class="item-meta content-justify">
                                            {% for event in allevents %}
                                                --{{ event.id }}
                                            {% endfor %}
                                            <span class="entry-date post-date highlight3"><a
                                                        href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"
                                                        rel="bookmark"><time class="entry-date"
                                                                             datetime="2017-08-06T09:54:58+00:00">{{ event.startDate|date }}</time></a></span>
                                            <!-- .item cats -->
                                            <!-- .item cats -->
                                        </div>
                                        <h4 class="entry-title hover-color3"><a
                                                    href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"
                                                    rel="bookmark">{{ event.title }}</a></h4></header>
                                    <!-- .entry-header -->
                                </div>
                                <div class="entry-content">
                                    <p>{{ event.description }}<br/>
                                        <a href={{ path('dalii_more',{ 'id' : event.id  }) }} class="more-link">More&#8230;</a>
                                    </p>
                                    {#<a href="{{ path('dalii_delete',{ 'id' : event.id  })}}">Delete</a>#}
                                    {#
                                                                        <form action="{{ url('participer',{ 'id':event.id }) }}">
                                                                            <button type="submit" value="participer">Participer</button>
                                                                        </form>
                                    #}
                                </div>
                                {% block button %}
                                    <div>
                                        {% if event.estReserve %}
                                            <button class="btn btn-danger annulerButtonClass"
                                                    id="participer_btn_{{ event.id }}"
                                                    value="{{ event.id }}">Annuler Participation
                                            </button>
                                        {% else %}
                                            {% if event.nbrePlaceDispo > 0 %}
                                                <button class="btn btn-valid participerButtonClass"
                                                        id="participer_btn_{{ event.id }}"
                                                        value="{{ event.id }}">Participer
                                                </button>
                                            {% else %}
                                                <button class="btn btn-warning participerButtonClass"
                                                        id="participer_btn_{{ event.id }}"
                                                        value="{{ event.id }}" disabled="true">Evenement Complet
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endblock %}
                                <!-- .entry-content -->
                                <!-- eof .item-content -->


                            </article><br>
                        {% endfor %}

                        {% endblock %}<!-- #post-## -->


                        <!-- #scriptdate -->
                        {#<nav class="loop-pagination text-center">#}
                        {#<ul class="pagination">#}
                        {#<li class="prev active disabled"><span class="prev page-numbers">Prev</span></li>#}
                        {#<li class='active'><span class='page-numbers current'>1</span></li>#}
                        {#<li><a class='page-numbers' href='http://webdesign-finder.com/pet-space/blog/page/2/'>2</a>#}
                        {#</li>#}
                        {#<li class="next "><a class="next page-numbers"#}
                        {#href="http://webdesign-finder.com/pet-space/blog/page/2/">Next</a></li>#}
                        {#</ul>#}
                        {#</nav><!-- .navigation -->#}
                    </div>
                    {% endblock %}<!--eof #content -->
                    <!-- main aside sidebar -->
                    <aside class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
                        <div id="apsc_widget-2" class="widget-even widget-6 widget widget_apsc_widget"><h3
                                    class="widget-title"><span class="first-word"></span> <span
                                        class="last-word"></span></h3>
                            <div class="apsc-icons-wrapper clearfix apsc-theme-1">
                                <div class="apsc-each-profile">
                                    {% if (is_granted('ROLE_USER')) %}

                                    <a class="apsc-facebook-icon clearfix" href="{{ path("dalii_add") }}">
                                        {% else %}
                                        <a class="apsc-facebook-icon clearfix" href="{{ path("user_homepage") }}">

                                            {% endif %}
                                            {#{% if (is_granted('ROLE_USER')) %}#}

                                            {#<a class="apsc-facebook-icon clearfix" href="{{ path("dalii_add") }}">#}
                                            {#{% endif %}#}

                                            <div class="apsc-inner-block">
                                        <span class="social-icon"><i class="fa fa-plus" aria-hidden="true"></i>
                                            <span class="media-name">Ajouter evenement</span>
                                        </span>
                                            </div>
                                        </a>
                                </div>
                                <div class="apsc-each-profile">
                                    {% if (is_granted('ROLE_USER')) %}

                                    <a class="apsc-twitter-icon clearfix" href="{{ path("dalii_myevents") }}">
                                        {% else %}
                                        <a class="apsc-twitter-icon clearfix" href="{{ path("user_homepage") }}">

                                            {% endif %}
                                            {#{% if (is_granted('ROLE_USER')) %}#}

                                            {#<a class="apsc-facebook-icon clearfix" href="{{ path("dalii_add") }}">#}
                                            {#{% endif %}#}

                                            <div class="apsc-inner-block">
                                        <span class="social-icon"><i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                            <span class="media-name">Mes evenements</span>
                                        </span>
                                            </div>
                                        </a>
                                </div>
                                <div class="apsc-each-profile">
                                    {% if (is_granted('ROLE_USER')) %}

                                    <a class="apsc-google-plus-icon clearfix" href="{{ path("dalii_calendar") }}">
                                        {% else %}
                                        <a class="apsc-google-plus-icon clearfix" href="{{ path("user_homepage") }}">

                                            {% endif %}
                                            {#{% if (is_granted('ROLE_USER')) %}#}

                                            {#<a class="apsc-facebook-icon clearfix" href="{{ path("dalii_add") }}">#}
                                            {#{% endif %}#}

                                            <div class="apsc-inner-block">
                                        <span class="social-icon"><i class="fa fa-calendar" aria-hidden="true"></i>
                                            <span class="media-name">Calendrier</span>
                                        </span>
                                            </div>
                                        </a>
                                </div>
                            </div>

                        </div>


                        <div id="pet_space_theme_posts-2" class="widget-odd widget-9 widget widget_popular_entries"><h3
                                    class="widget-title"><span class="first-word">Recent</span> <span
                                        class="last-word">Posts</span>
                            </h3>
                            <ul id="theme_posts_5a8ea8cb1c55a" class="media-list">
                                {% for event in evenements %}
                                    <li class="media post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                        <a href="http://webdesign-finder.com/pet-space/shankle-doner-ribeye-ham-hock-shank/"
                                           class="media-left">
                                            <img width="150" height="150"
                                                 src="{{ asset('Pictures/') }}{{ event.monImage }}"
                                                 class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
                                                 sizes="(max-width: 150px) 100vw, 150px"/> </a>
                                        <div class="media-body">
                                            <h6 class="title"><a
                                                        href="http://webdesign-finder.com/pet-space/shankle-doner-ribeye-ham-hock-shank/">{{ event.title }}</a>
                                            </h6>
                                            <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                {{ event.startDate|date }}                             </span><span
                                                        class="widget-post-date small-text highlight3">
                                                         </span>

                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}

                            </ul>
                        </div>
                        <!-- eof main aside sidebar -->
                </div><!-- eof .row-->
            </div><!-- eof .container -->
        </section><!-- eof .page_content -->
    {% endblock %}
    <footer id="footer"
            class="page_footer section_padding_top_100 section_padding_bottom_90 columns_padding_25 ds"
            style="background-image: url(//webdesign-finder.com/pet-space/wp-content/uploads/2017/08/footer-image.jpg)">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                <div id="pet_space_banner-2"
                     class="widget-odd widget-first widget-1 text-center widget widget_banner"><img
                            src="//webdesign-finder.com/pet-space/wp-content/uploads/2017/10/logo-2.png" alt="">
                </div>
                <div id="text-2" class="widget-even widget-2 text-center widget widget_text">
                    <div class="textwidget"><p>Pork loin venison andouille filet mignon picanha. Prosciutto
                            brisket
                            chuck, ham sausage beef ribs corned.</p>
                    </div>
                </div>
                <div id="pet_space_icons_list-2"
                     class="widget-odd widget-3 text-center widget widget_icons_list">
                    <div class="widget-icons-list no-bullets no-top-border no-bottom-border grey">
                        <div class="media small-teaser inline-block margin_0">
                            <div class="media-left">
                                <i class="fa fa-map-marker highlight"></i>
                            </div>
                            <div class="media-body darklinks color3">
                                253 Adams Ave, Iowa
                            </div>
                        </div>
                        <div class="media small-teaser inline-block margin_0">
                            <div class="media-left">
                                <i class="fa fa-phone highlight"></i>
                            </div>
                            <div class="media-body darklinks color3">
                                8 800 269 8469
                            </div>
                        </div>
                        <div class="media small-teaser inline-block margin_0">
                            <div class="media-left">
                                <i class="fa fa-envelope highlight"></i>
                            </div>
                            <div class="media-body darklinks color3">
                                <a href="mailto:example@example.com">example@examplecom</a></div>
                        </div>
                        <div class="media small-teaser inline-block margin_0">
                            <div class="media-left">
                                <i class="fa fa-internet-explorer highlight"></i>
                            </div>
                            <div class="media-body darklinks color3">
                                <a href="#">www.example.com</a></div>
                        </div>
                    </div>
                </div>
                <div id="pet_space_socials-2"
                     class="widget-even widget-last widget-4 text-center widget widget_socials">
                    <div class="widget-socials no-bullets no-top-border no-bottom-border topmargin_20">
                        <a href="http://www.facebook.com/#" target="_blank"
                           class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-facebook"></a>
                        <a href="http://twitter.com/#" target="_blank"
                           class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-twitter"></a>
                        <a href="http://plus.google.com/#" target="_blank"
                           class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-google"></a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                <div id="text-3"
                     class="widget-odd widget-last widget-first widget-1 text-center widget widget_text"><h3
                            class="widget-title"><span class="first-word">Contact</span> <span
                                class="last-word">Form</span>
                    </h3>
                    <div class="textwidget">
                        <div role="form" class="wpcf7" id="wpcf7-f43-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="/pet-space/blog/#wpcf7-f43-o1" method="post" class="wpcf7-form"
                                  novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="43"/><br/>
                                    <input type="hidden" name="_wpcf7_version" value="4.9"/><br/>
                                    <input type="hidden" name="_wpcf7_locale" value="en_US"/><br/>
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f43-o1"/><br/>
                                    <input type="hidden" name="_wpcf7_container_post" value="0"/>
                                </div>
                                <p><span class="fa fa-user highlight3"></span><span
                                            class="wpcf7-form-control-wrap your-name"><input type="text"
                                                                                             name="your-name"
                                                                                             value="" size="40"
                                                                                             class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                                                                                             aria-required="true"
                                                                                             aria-invalid="false"
                                                                                             placeholder="Full Name"/></span>
                                </p>
                                <p><span class="fa fa-envelope highlight3"></span><span
                                            class="wpcf7-form-control-wrap your-email"><input type="email"
                                                                                              name="your-email"
                                                                                              value="" size="40"
                                                                                              class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                                                                                              aria-required="true"
                                                                                              aria-invalid="false"
                                                                                              placeholder="Email Address"/></span>
                                </p>
                                <p><span class="fa fa-comment highlight3"></span><span
                                            class="wpcf7-form-control-wrap your-message"><textarea
                                                name="your-message" cols="45" rows="3"
                                                class="wpcf7-form-control wpcf7-textarea form-control"
                                                aria-invalid="false" placeholder="Message..."></textarea></span>
                                </p>
                                <div class="footer_contact-form-submit topmargin_20"><input type="submit"
                                                                                            value="Send Now"
                                                                                            class="wpcf7-form-control wpcf7-submit theme_button wide_button color3"/>
                                </div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                <div id="pet_space_theme_posts-3"
                     class="widget-odd widget-last widget-first widget-1 text-center widget widget_popular_entries">
                    <h3 class="widget-title"><span class="first-word">Recent</span> <span
                                class="last-word">Posts</span></h3>
                    <ul id="theme_posts_5a8ea8cb1ff69" class="media-list">
                        <li class="media post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                            <div class="media-body">
                                <h6 class="title"><a
                                            href="http://webdesign-finder.com/pet-space/shankle-doner-ribeye-ham-hock-shank/">Shankle
                                        doner ribeye ham hock shank</a></h6>
                                <p>Veniam pastrami sirloin, andouille aliqua consequat incididunt eu. Prosciutto
                                    pork belly excepteur strip steak in tongue venison nisi sunt landjaeger</p>
                                <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 11, 2017                            </span>
                                </div>
                            </div>
                        </li>
                        <li class="media post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                            <div class="media-body">
                                <h6 class="title"><a
                                            href="http://webdesign-finder.com/pet-space/t-bone-capicola-kevin-pancetta/">T-bone
                                        capicola kevin pancetta</a></h6>
                                <p>Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder
                                    tongue
                                    pig venison pork chop.</p>
                                <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 7, 2017                            </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function () {

            function participerAction(button) {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('participer') }}',
                    data: {
                        "id": button.val()
                    },
                    success: function (response) {
                        alert("Participation Validée");
                        $buttonId = '#participer_btn_' + response.id;
                        //alert($buttonId);//participerButtonClass
                        $("" + $buttonId).attr('class', 'btn btn-danger annulerButtonClass');
                        $("" + $buttonId).text("Annuler Participation");
                        $("" + $buttonId).attr('enabled');
                        $("" + $buttonId).unbind("click");
                        $("" + $buttonId).bind("click", function () {
                            $buttonObject = $("" + $buttonId);
                            annulerAction($buttonObject)
                        });
                    }
                });
            }

            function annulerAction(button) {
                $.ajax({
                    type: 'POST',
                    url: '{{ path('annparticiper') }}',
                    data: {
                        "id": button.val()
                    },
                    success: function (response) {
                        alert("Participation annulée");
                        $buttonId = '#participer_btn_' + response.id;
                        if (response.nbrePlaceDispo = 0) {
                            //alert($buttonId);//participerButtonClass
                            $("" + $buttonId).attr('class', 'btn btn-alert');
                            $("" + $buttonId).text("Evenement Complet");
                            $("" + $buttonId).unbind("click");
                            $("" + $buttonId).attr('disabled', 'true');
                        } else {
                            //alert($buttonId);//participerButtonClass
                            $("" + $buttonId).attr('class', 'btn btn-primary participerButtonClass');
                            $("" + $buttonId).text("Participer");
                            $("" + $buttonId).unbind("click");
                            $("" + $buttonId).attr('enabled');
                            $("" + $buttonId).bind("click", function () {
                                $buttonObject = $("" + $buttonId);
                                participerAction($buttonObject)
                            });
                        }


                    }
                });
            }


            $('.participerButtonClass').bind('click', function (ev) {
                $button = $(this);
                participerAction($button);
            });

            $('.annulerButtonClass').bind('click', function (ev) {
                $button = $(this);
                annulerAction($button);
                ev.preventDefault();
            })


        })


    </script>
{% endblock %}