{% extends 'TemplateBundle:Default:Layout.html.twig' %}

{% block body %}

<!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight">
                    <span class="taxonomy-name-title">Services Category: </span>Services				</h2>
                <ol class="breadcrumb darklinks">
                    <li class="first-item">
                        <a href="{{ path('template_homepage') }}">Home</a></li>
                    <li class="last-item">Services</li>
                </ol>
            </div>
        </div>
    </div>






</section>	{% block Contenu %}	<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">

    {#<div class="container" >#}

        {#<div class="row">#}
            {#<div id="content" class="services-grid col-sm-12">#}

                {#<div class="isotope_container isotope row masonry-layout">#}
                    {#<div class="isotope-item bottommargin_20 col-lg-4 col-md-4 col-sm-6 col-xs-12">#}
                        {#<div class="service_item vertical-item content-padding with_shadow text-center rounded overflow-hidden">#}
    <table class="-feed"       >
    {% for event in evenements %}
<div class="services-grid col-sm-12">
        <div class="row">
            <div class=""
        {#<tr>#}
                                <div class="item-media">
                                <img width="775" height="517" src="{{ asset('Pictures/')}}{{ event.monImage }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" />			</div>
                            <div class="item-content">
                                <div class="teaser media  color_4">
                                    <div class="media-left media-top">
                                        <div class="teaser_icon size_normal default_icon color_4">
                                            <i class="fa fa-paperclip"></i>
                                        </div>
                                    </div>


                                <h4 class="entry-title hover-color3">
                                    <a href="../../service/teeth-brushing/index.html">
                                        {{ event.title }}			</a>
                                </h4>
                                <div class="excerpt">
                                    <p></p>
                                </div>
                                <div class="excerpt">
                                    <p>Starts: {{ event.startDate|date }}   </p>
                                </div>
                                <div class="excerpt">
                                    <p>Ends: {{ event.endDate|date }}   </p>
                                </div>


                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a class="collapsed" href="#collapse-785a4aa90931d2b3768cb88a04b84805-0" data-toggle="collapse" data-parent="#accordion-785a4aa90931d2b3768cb88a04b84805" aria-expanded="false">
                                                        <i class="fa fa-comment"></i>
                                                        See More					</a>
                                                </h4>
                                            </div>
                                            <div id="collapse-785a4aa90931d2b3768cb88a04b84805-0" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                                <div class="panel-body">
                                                    {{ event.description }}											</div>
                                            </div>




                                <div class="excerpt">
                                    <p>{{ event.description }}</p>
                                </div>
                                    <div class="isotope_container isotope row masonry-layout">
                                        <h5 class="theme_button color3 wide_button">
                                            <a >
                                                Supprimer
                                            </a>
                                        </h5>
                                        <h5 class="theme_button color2 wide_button">
                                            <a >
                                                Modifier
                                            </a>
                                        </h5>
                                    </div>
                                <a href="../../service/teeth-brushing/index.html" class="read-more"></a>

                                </div><!-- eof .item-content -->
                        </div><!-- eof .teaser --> {% endfor %}
{#</tr>#}
        </div>
</div>
    </table>




    {#</div><!-- eof services -->#}
            {#</div><!--eof #content -->#}


        {#</div><!-- eof .row-->#}
    {#</div><!-- eof .container -->#}

{#</section><!-- eof .page_content -->#}
{% endblock %}
<footer id="footer" class="page_footer section_padding_top_100 section_padding_bottom_90 columns_padding_25 ds"  style="background-image: url(../../wp-content/uploads/2017/08/footer-image.jpg)">
    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                <div id="pet_space_banner-2" class="widget-odd widget-first widget-1 text-center widget widget_banner">	<img src="../../wp-content/uploads/2017/10/logo-2.png" alt="">
                </div><div id="text-2" class="widget-even widget-2 text-center widget widget_text">			<div class="textwidget"><p>Pork loin venison andouille filet mignon picanha. Prosciutto brisket chuck, ham sausage beef ribs corned.</p>
                    </div>
                </div><div id="pet_space_icons_list-2" class="widget-odd widget-3 text-center widget widget_icons_list">		<div class="widget-icons-list no-bullets no-top-border no-bottom-border grey">
                        <div class="media small-teaser inline-block margin_0">
                            <div class="media-left">
                                <i class="fa fa-map-marker highlight"></i>
                            </div>
                            <div class="media-body darklinks color3">
                                253 Adams Ave, Iowa						</div>
                        </div>
                        <div class="media small-teaser inline-block margin_0">
                            <div class="media-left">
                                <i class="fa fa-phone highlight"></i>
                            </div>
                            <div class="media-body darklinks color3">
                                8 800 269 8469 						</div>
                        </div>
                        <div class="media small-teaser inline-block margin_0">
                            <div class="media-left">
                                <i class="fa fa-envelope highlight"></i>
                            </div>
                            <div class="media-body darklinks color3">
                                <a href="mailto:example@example.com">example@examplecom</a>						</div>
                        </div>
                        <div class="media small-teaser inline-block margin_0">
                            <div class="media-left">
                                <i class="fa fa-internet-explorer highlight"></i>
                            </div>
                            <div class="media-body darklinks color3">
                                <a href="#">www.example.com</a>						</div>
                        </div>
                    </div>
                </div><div id="pet_space_socials-2" class="widget-even widget-last widget-4 text-center widget widget_socials">		<div class="widget-socials no-bullets no-top-border no-bottom-border topmargin_20">
                        <a href="http://www.facebook.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-facebook"></a>
                        <a href="http://twitter.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-twitter"></a>
                        <a href="http://plus.google.com/#" target="_blank" class="social-icon border-icon fontsize_12 rounded-icon social-icon soc-google"></a>
                    </div>
                </div>			</div>
            <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                <div id="text-3" class="widget-odd widget-last widget-first widget-1 text-center widget widget_text"><h3 class="widget-title"><span class="first-word">Contact</span> <span class="last-word">Form</span></h3>			<div class="textwidget"><div role="form" class="wpcf7" id="wpcf7-f43-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response"></div>
                            <form action="http://webdesign-finder.com/pet-space/services/services/#wpcf7-f43-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                <div style="display: none;">
                                    <input type="hidden" name="_wpcf7" value="43" /><br />
                                    <input type="hidden" name="_wpcf7_version" value="4.9" /><br />
                                    <input type="hidden" name="_wpcf7_locale" value="en_US" /><br />
                                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f43-o1" /><br />
                                    <input type="hidden" name="_wpcf7_container_post" value="0" />
                                </div>
                                <p><span class="fa fa-user highlight3"></span><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Full Name" /></span></p>
                                <p><span class="fa fa-envelope highlight3"></span><span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Email Address" /></span></p>
                                <p><span class="fa fa-comment highlight3"></span><span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="45" rows="3" class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false" placeholder="Message..."></textarea></span></p>
                                <div class="footer_contact-form-submit topmargin_20"><input type="submit" value="Send Now" class="wpcf7-form-control wpcf7-submit theme_button wide_button color3" /></div>
                                <div class="wpcf7-response-output wpcf7-display-none"></div>
                            </form>
                        </div>
                    </div>
                </div>			</div>
            <div class="col-xs-12 col-md-4 text-center to_animate" data-animation="fadeInUp">
                <div id="pet_space_theme_posts-3" class="widget-odd widget-last widget-first widget-1 text-center widget widget_popular_entries">	<h3 class="widget-title"><span class="first-word">Recent</span> <span class="last-word">Posts</span></h3>	<ul id="theme_posts_5a7376ea6e0c3" class="media-list">
                        <li class="media post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                            <div class="media-body">
                                <h6 class="title"><a href="../../shankle-doner-ribeye-ham-hock-shank/index.html">Shankle doner ribeye ham hock shank</a></h6>
                                <p>Veniam pastrami sirloin, andouille aliqua consequat incididunt eu. Prosciutto pork belly excepteur strip steak in tongue venison nisi sunt landjaeger</p>
                                <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 11, 2017                            </span>
                                </div>
                            </div>
                        </li>
                        <li class="media post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                            <div class="media-body">
                                <h6 class="title"><a href="../../t-bone-capicola-kevin-pancetta/index.html">T-bone capicola kevin pancetta</a></h6>
                                <p>Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop.</p>
                                <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 7, 2017                            </span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>				</div>
        </div>

    </div>

    {% endblock %}

