{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}
{% for event in evenements %}
    <article id='{{ event.id }}' class='vertical-item content-padding big-padding with_shadow
                                     rounded overflow-hidden post-2768 post type-post status-publish format-standard
                                     has-post-thumbnail hentry category-uncategorized'>

        <div class="item-media-wrap">
            <div class="item-media entry-thumbnail post-thumbnail">
                <div class="entry-meta-corner">
						<span>
									{{ event.startDate|date }}                                {{ event.endDate|date }}

                        </span>
                </div>
                <img width="1170" height="780"
                     src="{{ asset('Pictures/') }}{{ event.monImage }}"
                     class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image"
                     alt="" sizes="(max-width: 1170px) 100vw, 1170px"/>
                <div class="media-links">
                    <a class="abs-link" title=""
                       href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"></a>
                </div>
            </div> <!-- .item-media -->
        </div> <!-- .item-media-wrap -->

        <div class="item-content">

            <header class="entry-header">
                <div class="item-meta content-justify">
                    {% for event in evenements %}
                        --{{ event.id }}
                    {% endfor %}
                    <span class="entry-date post-date highlight3"><a
                                href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"
                                rel="bookmark"><time class="entry-date"
                                                     datetime="2017-08-06T09:54:58+00:00">{{ event.startDate|date }}</time></a></span>
                    <!-- .item cats -->
                    <!-- .item cats -->
                </div>
                <h4 class="entry-title hover-color3"><a
                            href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"
                            rel="bookmark">{{ event.title }}</a></h4></header>
            <!-- .entry-header -->
        </div>
        <div class="entry-content">
            <p>{{ event.description }}<br/>
                <a href={{ path('dalii_more',{ 'id' : event.id  }) }} class="more-link">More&#8230;</a>
            </p>
            {#<a href="{{ path('dalii_delete',{ 'id' : event.id  })}}">Delete</a>#}
            {#
                                                <form action="{{ url('participer',{ 'id':event.id }) }}">
                                                    <button type="submit" value="participer">Participer</button>
                                                </form>
            #}
        </div>
        {% block button %}
            <div>
                {% if event.estReserve %}
                    <button class="btn btn-danger annulerButtonClass"
                            id="participer_btn_{{ event.id }}"
                            value="{{ event.id }}">Annuler Participation
                    </button>
                {% else %}
                    {% if event.nbrePlaceDispo > 0 %}
                        <button class="btn btn-valid participerButtonClass"
                                id="participer_btn_{{ event.id }}"
                                value="{{ event.id }}">Participer
                        </button>
                    {% else %}
                        <button class="btn btn-warning participerButtonClass"
                                id="participer_btn_{{ event.id }}"
                                value="{{ event.id }}" disabled="true">Evenement Complet
                        </button>
                    {% endif %}
                {% endif %}
            </div>
        {% endblock %}
        <!-- .entry-content -->
        <!-- eof .item-content -->


    </article><br>
{% endfor %}
{% endblock %}
