{% extends 'TemplateBundle:Default:Layout.html.twig' %}

{% block body %}
    <div class="container">



    <table class="table table-striped table-responsive w-auto btn-table">
        <tr></tr>
        <tbody>

        <thead>
        <tr>
            <th>Event</th>
            <th>Starts</th>
            <th>Ends</th>
            <th>Pic</th>
        </tr>
        </thead>
        {% for event in evenements %}
            <tbody>
            <tr>
                <td>{{ event.title }}</td>
                <td>{{ event.startDate|date }}</td>
                <td>{{ event.endDate|date }}</td>
                <td><img width="50" height="50" src="{{ asset('Pictures/') }}{{ event.monImage }}"
                         class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
                         sizes="(max-width: 150px) 100vw, 150px"/>                    </a>
                </td>
                <td>
                    <a href="{{ path('dalii_delete', {'id' : event.id}) }}" class="btn btn-danger annulerButtonClass"
                            id="delete_btn_{{ event.id }}"
                            value="{{ event.id }}">Supprimer 🗑
                    </a>

                </td>
                <td> <a href="{{ path('dalii_update', {'id' : event.id}) }}" class="btn btn-alert annulerButtonClass"
                        id="update_btn_{{ event.id }}"
                        value="{{ event.id }}">update 🗑
                    </a></td>
            </tr>

            </tbody>
        {% endfor %}
        </tbody>
    </table>
    <script>


    </script>

    </div>{% endblock %}