    {% block article %}
          {% for eve in allevents %}
            <article id={{ eve.id }} class='vertical-item'>
              {% for eve in allevents %}

                  <div {{ eve.id }}>

                <div class="item-media-wrap">
                    <div class="item-media entry-thumbnail post-thumbnail">
                        <div class="entry-meta-corner">
						<span>
									{{ eve.startDate|date }}
                        </span>
                            <span>
									{{ eve.endDate|date }}
                        </span>
                        </div>
                        <img width="1170" height="780" src="{{ asset('Pictures/') }}{{ eve.monImage }}"
                             class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image"
                             alt="" sizes="(max-width: 1170px) 100vw, 1170px"/>
                        <div class="media-links">
                            <a class="abs-link" title=""
                               href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"></a>
                        </div>
                    </div> <!-- .item-media -->
                </div> <!-- .item-media-wrap -->
{{ eve.id }}

                {#<div class="item-content">#}

                    {#<header class="entry-header">#}
                        {#<div class="item-meta content-justify">#}

                            {#<span class="entry-date post-date highlight3"><a#}
                                        {#href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"#}
                                        {#rel="bookmark"><time class="entry-date"#}
                                                             {#datetime="2017-08-06T09:54:58+00:00">{{ eve.startDate|date }}</time></a></span>#}
                            {#<!-- .item cats -->#}
                            {#<!-- .item cats -->#}
                        {#</div>#}
                        {#<h4 class="entry-title hover-color3"><a#}
                                    {#href="http://webdesign-finder.com/pet-space/beef-tri-tip-brisket-jerky-boudin/"#}
                                    {#rel="bookmark">{{ eve.title }}</a></h4></header><!-- .entry-header -->#}
                {#</div>#}
                {#<div class="entry-content">#}
                    {#<p>{{ eve.description }}<br/>#}
                        {#<a href={{ path('dalii_more',{ 'id' : eve.id  }) }} class="more-link">More&#8230;</a>#}
                    {#</p>#}
                    {#<a href="{{ path('dalii_delete',{ 'id' : event.id  })}}">Delete</a>#}
                    {##}
                                                        {#<form action="{{ url('participer',{ 'id':event.id }) }}">#}
                                                            {#<button type="submit" value="participer">Participer</button>#}
                                                        {#</form>#}
                    {##}
                {#</div>#}
                {#{% block button %}#}
                    {#<div>#}
                        {#{% if eve.estReserve %}#}
                            {#<button class="btn btn-danger annulerButtonClass"#}
                                    {#id="participer_btn_{{ eve.id }}"#}
                                    {#value="{{ eve.id }}">Annuler Participation#}
                            {#</button>#}
                        {#{% else %}#}
                            {#{% if eve.nbrePlaceDispo <= 0 %}#}
                                {#<button class="btn btn-valid participerButtonClass"#}
                                        {#id="participer_btn_{{ eve.id }}"#}
                                        {#value="{{ eve.id }}">Participer#}
                                {#</button>#}
                            {#{% else %}#}
                                {#<button class="btn btn-warning participerButtonClass"#}
                                        {#id="participer_btn_{{ eve.id }}"#}
                                        {#value="{{ eve.id }}" disabled="true">Evenement Complet#}
                                {#</button>#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                    {#</div>#}
                {#{% endblock %}#}
                {#<!-- .entry-content -->#}
                {#<!-- eof .item-content -->#}
        </div>{% endfor %}

            </article>
{% endfor %}

    <!-- #post-## -->

    {% endblock %}