{% extends 'default/LayoutBackOffice.html.twig' %}
{% block body %}
{% block content %}
    <form method="post">
        <table>
            <tr><td>title</td><td><input type="text" name="title" id="title"/></td></tr><br>
        </table>

    </form>
    <br>
    <br>

    <div id="res"></div>
    <div id="affichage">
        <table border="1" >
            <tr><td>Id</td><td>user</td><td>title</td><td>description</td><td></td><td></td></tr>
            {% for i in l %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.user }}</td>
                    <td>{{ i.title }}</td>
                    <td>{{ i.description }}</td>



                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <br>
    {#<script src="{{ asset('jquery-3.2.1.min.js') }}"></script>#}
    <script>
        $("#title").keyup(
            function(){
                var title = $("#title").val();

                $.ajax({
                    type: "POST",
                    url:   "{{ path('dalii_search') }}",

                    success: function (data) {
                        console.log(data);
                        $("#affichage").hide();
                        $("#res").html("<table border = '1'>"+
                            "<td>Id</td> <td>Nom</td>" +
                            "<td>Addresse</td><td>Prix Pack</td>"+
                            "<td>Email</td><td>Numéro Téléphonne</td></table>");
                        $.each(data,function (k,el) {
                            //    console.log(el);
                            $('#res').append(
                                "<tr>"+
                                    "<td>"+el.id+"</td>"+
//                                    "<td>"+el.user+"</td>"+
                                    "<td>"+el.title+"</td>"+
                                    "<td>"+el.description+"</td>"+
                                "</tr>"


                            );

                        })
                        $('#res').append("</table>");

                    }
                })
            }
        )
    </script>
{% endblock %}
{% endblock %}
