{% extends 'admin_base.html.twig' %}
{% block body %}
{% block content%}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Forms</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1> Liste des Events </h1>
                </div>
                <div class="panel-body">
                    <table border="1" class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>

                        <tr>
                            <th>User</th>
                            <th>Title</th>
                            <th>Starts</th>
                            <th>Ends</th>
                        </thead>
                        <tbody>
                        {% for i in l %}
                            <tr>

                                <td>{{ i.user }}</td>
                                <td>{{ i.title }}</td>
                                <td>{{ i.startDate|date('Y-m-d') }}</td>
                                <td>{{ i.endDate|date('Y-m-d') }}</td>
                                <td>
                                    <a href="{{ path('dalii_admin_delete', {'id' : i.id}) }}" class="btn btn-danger annulerButtonClass"
                                       id="delete_btn_{{ i.id }}"
                                       value="{{ i.id }}"> 🗑
                                    </a>

                                </td>



                            </tr>
                        {% endfor %}
                        </tbody>


                     </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% endblock %}
{% block myscript %}
    <!-- DataTables JavaScript -->
    <script src=" {{ asset('BackOffice/vendor/datatables/js/jquery.dataTables.min.js') }} " ></script>
    <script src=" {{ asset('BackOffice/vendor/datatables-plugins/dataTables.bootstrap.min.js') }}"></script>
    <script src=" {{ asset('BackOffice/vendor/datatables-responsive/dataTables.responsive.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });
    </script>
{% endblock %}