{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}



<!-- eof .page_header -->

<section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight">
                    <span class="taxonomy-name-title">Archives: </span> service: {{title}}	</h2>

                <ol class="breadcrumb darklinks">
                    <li class="first-item">
                        <a href="{{ path('template_homepage') }}">Acceuil</a></li>
                    <li class="0-item">
                        <a href="{{ path('listecategorieuser') }}">Catégorie</a></li>
                    <li class="last-item">{{ title }}</li>
                </ol>
            </div>
        </div>
    </div>
</section>



    <section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
        <div class="container">
            <div class="row">
                <div id="content" class="col-xs-12 col-sm-7 col-md-8 col-lg-8">


                    <div id="post-562" class="vertical-item content-padding big-padding with_shadow rounded overflow-hidden post-562 post type-post status-publish format-standard has-post-thumbnail hentry category-chat tag-sem tag-smo">
                        <div class="item-media-wrap">
                            <div class="item-media entry-thumbnail post-thumbnail">
                                <div class="entry-meta-corner">
						<span class="date">
								</span>
                                </div>
                                                                    <a class="abs-link" title="" href="../../post-format-chat/index.html"></a>
                            </div> <!-- .item-media -->
                        </div> <!-- .item-media-wrap -->


                        <div class="item-content">

                                <header class="entry-header">
                                    <div class="item-media">
                                        <img width="50" height="50" src="{{ asset('Pictures/') }}{{ image }}"
                                             class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
                                             sizes="(max-width: 150px) 100vw, 150px"/>  </div>
                                    <div class="item-meta content-justify">
                                    <span class="entry-date post-date highlight3">Créer le	{{ createDt|date('d/m/Y') }}</span>				<!-- .item cats -->
                                    <!-- .item cats -->
                                    </div>
                                <h4 class="entry-title hover-color3">{{ title }}</h4>
                                </header><!-- .entry-header -->
                                {#<span class="posted_in">Catégorie: <a href="#" rel="tag">{{ catservice.name }}</a></span>#}

                                <div class="entry-content">
                                    <p><b>Description:</b> {{ description }}</p>
                                    <p><b>Nom de l'utilisateur:</b> {{ userservice}}</p>
                                    <p><b>Numéro de téléphone:</b> {{ numtel }}</p>
                                    <p><b>Adresse:</b> {{ adresseS }}</p>
                                    <div id="map-canvas" style="height: 350px;">
                                    </div>




                                    <a class="star-1" href="{{ path('favoriserserviceuser', {'id':id}) }}">Ajouter comme favoris</a>
                                </div><!-- .entry-content -->

                        </div><!-- eof .item-content -->
                    </div><!-- #post-## -->

                    <a href="#"><input type="button" value="Prendre un rendez-vous" align="center" ></a>

                    <div id="comments" class="comments-area with_shadow overflow-hidden rounded with_padding big-padding">

                        <div id="respond" class="comment-respond">
                            <h3>Leave Comment <small><a rel="nofollow" id="cancel-comment-reply-link" href="index.html#respond" style="display:none;">Cancel reply</a></small></h3>			<form action="http://webdesign-finder.com/pet-space/wp-comments-post.php" method="post" id="commentform" class="comment-form row columns_padding_10" novalidate="">
                                <div class="col-sm-4">
                                    <div class="form-group comment-form-author"><label for="author">Name <span class="required">*</span></label><i class="fa fa-user highlight3" aria-hidden="true"></i> <input id="author" class="form-control" name="author" type="text" value="" size="30" aria-required="true" required="required" placeholder="Full Name"></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group comment-form-phone"><label for="phone">Phone Number <span class="required">*</span></label><i class="fa fa-phone highlight3" aria-hidden="true"></i> <input id="phone" class="form-control" name="phone" type="text" size="30" aria-required="true" required="required" placeholder="Phone Number"></div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group comment-form-email"><label for="email">Email <span class="required">*</span></label><i class="fa fa-envelope highlight3" aria-hidden="true"></i> <input id="email" class="form-control" name="email" type="email" value="" size="30" aria-required="true" required="required" placeholder="Email Address"></div>
                                </div>
                                <div class="col-sm-12"><div class="form-group comment-form-comment"><label for="comment">Comment</label> <i class="fa fa-comment highlight3" aria-hidden="true"></i><textarea id="comment" class="form-control" name="comment" cols="45" rows="5" aria-required="true" required="required" placeholder="Comment"></textarea></div></div>
                                <div class="col-sm-12"><p class="form-submit text-left"><input name="submit" type="submit" id="submit" class="theme_button wide_button color3 submit" value="Send Now"><input type="reset" id="reset_submit" class="theme_button wide_button" value="Clear Form"> <input type="hidden" name="comment_post_ID" value="2846" id="comment_post_ID">
                                        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                    </p></div>			</form>
                        </div><!-- #respond -->
                    </div>




                </div><!--eof #content -->
                <!-- main aside sidebar -->
                <aside class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                    <div id="apsc_widget-2" class="widget-odd widget-first widget-1 widget widget_apsc_widget"><h3 class="widget-title"><span class="first-word">Get</span> In <span class="last-word">touch</span></h3><div class="apsc-icons-wrapper clearfix apsc-theme-1">
                            <div class="apsc-each-profile">
                                <a class="apsc-facebook-icon clearfix" href="https://facebook.com/" target="_blank">
                                    <div class="apsc-inner-block">
                                        <span class="social-icon"><i class="fa fa-facebook apsc-facebook"></i><span class="media-name">Facebook</span></span>
                                        <span class="apsc-count">35</span><span class="apsc-media-type">Fans</span>
                                    </div>
                                </a>
                            </div>            <div class="apsc-each-profile">
                                <a class="apsc-twitter-icon clearfix" href="https://twitter.com/" target="_blank">
                                    <div class="apsc-inner-block">
                                        <span class="social-icon"><i class="fa fa-twitter apsc-twitter"></i><span class="media-name">Twitter</span></span>
                                        <span class="apsc-count">0</span><span class="apsc-media-type">Followers</span>
                                    </div>
                                </a>
                            </div>            <div class="apsc-each-profile">
                                <a class="apsc-google-plus-icon clearfix" href="https://plus.google.com/" target="_blank">
                                    <div class="apsc-inner-block">
                                        <span class="social-icon"><i class="apsc-googlePlus fa fa-google-plus"></i><span class="media-name">google+</span></span>
                                        <span class="apsc-count">0</span><span class="apsc-media-type">Followers</span>
                                    </div>
                                </a>
                            </div></div>

                    </div><div id="mc4wp_form_widget-3" class="widget-even widget-2 widget widget_mc4wp_form_widget"><h3 class="widget-title">Newsletter</h3><script type="text/javascript">(function() {
                                if (!window.mc4wp) {
                                    window.mc4wp = {
                                        listeners: [],
                                        forms    : {
                                            on: function (event, callback) {
                                                window.mc4wp.listeners.push({
                                                    event   : event,
                                                    callback: callback
                                                });
                                            }
                                        }
                                    }
                                }
                            })();
                        </script><!-- MailChimp for WordPress v4.1.10 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-445" method="post" data-id="445" data-name="Form"><div class="mc4wp-form-fields"><p class="mc4wp-form-inner">
                                    <label>Email Address </label>
                                    <input class="form-control" type="email" name="EMAIL" placeholder="Email address" required="">
                                    <button type="submit" value="Sign up"></button>
                                </p>
                                <p class="sidebar-visible">
                                    Subscribe to our Newsletter right now to be updated. We promice not to spam!
                                </p><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off"></label><input type="hidden" name="_mc4wp_timestamp" value="1517516713"><input type="hidden" name="_mc4wp_form_id" value="445"><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1"></div><div class="mc4wp-response"></div></form><!-- / MailChimp for WordPress Plugin --></div><div id="text-4" class="widget-odd widget-3 widget widget_text"><h3 class="widget-title"><span class="first-word">Instagram</span> <span class="last-word">widget</span></h3>			<div class="textwidget"><div id="sb_instagram" class="sbi sbi_col_2 sbi_medium" style="width:100%; padding-bottom: 10px; " data-id="524549267" data-num="4" data-res="auto" data-cols="2" data-options="{&quot;sortby&quot;: &quot;none&quot;, &quot;showbio&quot;: &quot;true&quot;, &quot;headercolor&quot;: &quot;&quot;, &quot;imagepadding&quot;: &quot;5&quot;}" data-sbi-index="0">
                                <div id="sbi_images" style="padding: 5px;">

                                    <div class="sbi_item sbi_type_video" id="sbi_1719097900234810112_524549267" data-date="1519152555000"><div class="sbi_photo_wrap"><a class="sbi_photo sbi_imgLiquid_bgSize sbi_imgLiquid_ready" href="https://www.instagram.com/p/Bfbdm6dnaMA/" target="_blank" style="background-image: url(&quot;https://scontent.cdninstagram.com/vp/3b9f69beb8db48cb815eef7e592f864a/5A91FE4C/t51.2885-15/s320x320/e15/27893661_328802930976526_5644676484053336064_n.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 158.5px; opacity: 1;"><img src="https://scontent.cdninstagram.com/vp/3b9f69beb8db48cb815eef7e592f864a/5A91FE4C/t51.2885-15/s320x320/e15/27893661_328802930976526_5644676484053336064_n.jpg" alt="When Hurricane Maria struck Puerto Rico Microsoft employees stepped in to map the island to aid recovery efforts Learn more about our philanthropic work by clicking the link in our bio" width="200" height="200" style="display: none;"><i class="fa fa-play sbi_playbtn"></i></a></div></div><div class="sbi_item sbi_type_image" id="sbi_1709749201604152779_524549267" data-date="1518038009000"><div class="sbi_photo_wrap"><a class="sbi_photo sbi_imgLiquid_bgSize sbi_imgLiquid_ready" href="https://www.instagram.com/p/Be6P9cYn43L/" target="_blank" style="background-image: url(&quot;https://scontent.cdninstagram.com/vp/acbb0298563fb5a099da2cc5eb8fd589/5B2B4311/t51.2885-15/s320x320/e35/26870163_331922730645507_2356505520019341312_n.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 158.5px; opacity: 1;"><img src="https://scontent.cdninstagram.com/vp/acbb0298563fb5a099da2cc5eb8fd589/5B2B4311/t51.2885-15/s320x320/e35/26870163_331922730645507_2356505520019341312_n.jpg" alt="The future of artificial intelligence is huge To make sure we can grasp it Microsoft researchers are developing a new class of machine learning tools to embed AI onto breadcrumbsized computer processors  Dan DeLong" width="200" height="200" style="display: none;"></a></div></div><div class="sbi_item sbi_type_image" id="sbi_1706224338058826008_524549267" data-date="1517617812000"><div class="sbi_photo_wrap"><a class="sbi_photo sbi_imgLiquid_bgSize sbi_imgLiquid_ready" href="https://www.instagram.com/p/Betuf7ZH1EY/" target="_blank" style="background-image: url(&quot;https://scontent.cdninstagram.com/vp/6cee283ac9101d29cd8e15546cf3b683/5B0D32EF/t51.2885-15/s320x320/e35/26866118_366649093802716_5660699894638182400_n.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 158.5px; opacity: 1;"><img src="https://scontent.cdninstagram.com/vp/6cee283ac9101d29cd8e15546cf3b683/5B0D32EF/t51.2885-15/s320x320/e35/26866118_366649093802716_5660699894638182400_n.jpg" alt="We partnered with six NFL superstars including LarryFitzgerald to share powerful stories of how they are working to make an impact in their local communities The Larry Fitzgerald First Down Fund was established to help kids and their families by funding positive activities for kids during the summer and throughout the year supporting kids and families in crisis and supporting healthrelated organizations that work with familiesLearn more by clicking the link in our bio" width="200" height="200" style="display: none;"></a></div></div><div class="sbi_item sbi_type_image" id="sbi_1703927385564252065_524549267" data-date="1517343994000"><div class="sbi_photo_wrap"><a class="sbi_photo sbi_imgLiquid_bgSize sbi_imgLiquid_ready" href="https://www.instagram.com/p/BelkO3rngeh/" target="_blank" style="background-image: url(&quot;https://scontent.cdninstagram.com/vp/93eebfcccad3096f62d0732f6db741e2/5B14D470/t51.2885-15/s320x320/e35/26864616_156558175131033_741979793934778368_n.jpg&quot;); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 158.5px;"><img src="https://scontent.cdninstagram.com/vp/93eebfcccad3096f62d0732f6db741e2/5B14D470/t51.2885-15/s320x320/e35/26864616_156558175131033_741979793934778368_n.jpg" alt="After winning the th annual ImagineCup last summer Team XGlu participated in a mentoring session with Microsoft CEO Satya Nadella to discuss their project a device that makes diabetes management easier and more accessible" width="200" height="200" style="display: none;"></a></div></div></div>
                                <div id="sbi_load"></div>
                            </div>
                        </div>
                    </div>	<div id="pet_space_theme_posts-2" class="widget-even widget-4 widget widget_popular_entries">	<h3 class="widget-title"><span class="first-word">Recent</span> <span class="last-word">Posts</span></h3>	<ul id="theme_posts_5a7377a94fa26" class="media-list">
                            <li class="media post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                <a href="../../shankle-doner-ribeye-ham-hock-shank/index.html" class="media-left">
                                    <img width="150" height="150" src="../../wp-content/uploads/2017/08/11-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px">					</a>
                                <div class="media-body">
                                    <h6 class="title"><a href="../../shankle-doner-ribeye-ham-hock-shank/index.html">Shankle doner ribeye ham hock shank</a></h6>
                                    <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 11, 2017                            </span>
                                    </div>
                                </div>
                            </li>
                            <li class="media post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                <a href="../../t-bone-capicola-kevin-pancetta/index.html" class="media-left">
                                    <img width="150" height="150" src="../../wp-content/uploads/2017/08/04-1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px">					</a>
                                <div class="media-body">
                                    <h6 class="title"><a href="../../t-bone-capicola-kevin-pancetta/index.html">T-bone capicola kevin pancetta</a></h6>
                                    <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 7, 2017                            </span>
                                    </div>
                                </div>
                            </li>
                            <li class="media post-2773 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                <a href="../../beef-tri-tip-brisket-jerky-boudin/index.html" class="media-left">
                                    <img width="150" height="150" src="../../wp-content/uploads/2017/08/08-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px">					</a>
                                <div class="media-body">
                                    <h6 class="title"><a href="../../beef-tri-tip-brisket-jerky-boudin/index.html">Beef tri-tip brisket jerky boudin</a></h6>
                                    <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 6, 2017                            </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>	<div id="search-3" class="widget-odd widget-last widget-5 widget widget_search"><h3 class="widget-title"><span class="first-word">Search</span> on <span class="last-word">Website</span></h3>
                        <form role="search" method="get" class="search-form form-inline" action="http://webdesign-finder.com/pet-space/">
                            <div class="form-group">
                                <label>
                                    <input type="search" class="search-field form-control" placeholder="Search Keyword" value="" name="s" title="Search for:">
                                </label>
                            </div>
                            <button type="submit" class="search-submit theme_button">
                                <span class="screen-reader-text">Search</span>
                            </button>
                        </form>
                    </div>	</aside>
                <!-- eof main aside sidebar -->
            </div><!-- eof .row-->
        </div><!-- eof .container -->
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZL72zG-8qoQipgaQ97aC1rxYuxuyDYX0"
            type="text/javascript"></script>
    <script>
        var myCenter =new google.maps.LatLng({{ laltitude }},{{ longitude }});
        var marker;
        function initialize() {
            var mapProp= {
                center: myCenter,
                zoom: 15,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map(document.getElementById('map-canvas'),
                mapProp);
            var marker = new google.maps.Marker({
                position: myCenter,
                animation: google.maps.Animation.BOUNCE
            });
            marker.setMap(map);
        }
        google.maps.event.addDomListner(window,'load',initialize());
    </script>

{% endblock %}
