{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}
    <!-- eof .page_header -->

    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Archives: </span>Les services disponibles</h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item">
                            <a href="{{ path('template_homepage') }}">Acceuil</a></li>
                        <li class="last-item">
                            <a href="{{ path('listecategorieuser') }}">Catégories</a></li>
                        </li>
                    </ol>

                </div>
            </div>
        </div>
    </section>


    <section class="">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 col-md-12">
                    <form method="POST">
                        <div class="lis-relative">
                            <h5 class="mb-2">Vous cherchez quoi?</h5>
                            <p>Chercher par le nom du service:</p>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form-group lis-relative">

                                        <input type="text" name="name"
                                               class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4"
                                               placeholder="Vous cherchez quoi?">
                                        <div class="lis-search"><i class="fa fa-search lis-primary lis-left-0"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12 col-md-12"><input type="submit" class="btn btn-primary btn-default"
                                                                     value="Chercher"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!--End Page Inner -->
    <!-- Blog -->
    <section>
        <div class="container">


        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(services) }}
        </div>
    </section>

    <script>
        jQuery(document).ready(function () {

            loadServiceList();
        });

        jQuery("#searchButton").bind('click', function () {
            loadServiceList();
        })


        function loadServiceList() {
            jQuery("#servicesContainer").empty();
            jQuery.ajax({
                type: 'POST',
                url: '{{ path('loadServiceData') }}',
                data: {
                    "name": jQuery("#rechercheInput").val()
                },
                success: function (response) {
                    jQuery.each(response.listeServices, function (key, value) {
                        var url1 = '{{ path("Servicedetailsuser", {'id': 'service_id'}) }}';
                        url1 = url1.replace("service_id", value.idService);

                        var url2 = '{{ path('Servicedetailsuser',{'id':'service_id'}) }}';
                        url2 = url2.replace("service_id", value.idService);

                        var img = '{{ asset('Pictures/') }}';
                        img = img + value.image;
                        //alert(img)


                        $dom = '<div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">' +
                            '<div class="card border-0 lis-relative">' +
                            '<div class="item-media">' +
                            '<img width="775" height="517" src="' + img + '" alt="image" class="img-fluid rounded" sizes="(max-width: 775px) 100vw, 775px" >' +
                            '</div>' +
                            '<div class="item-meta content-justify">' +
                            '<span class="entry-date post-date highlight3"><span class="lis-light">' + value.createDt + '"</span></span>' +
                            '</div>' +
                            '<div class="pt-4">  <a href="' + url1 + '" class="lis-dark"><h6 class="mt-2">' + value.title + '</h6></a>' +
                            '<p>' + value.adresseS + '</p>' +
                            '</div>' +
                            '<a href="' + url2 + '" class="read-more"></a>' +
                            '</div>' +
                            '</div>';
                        jQuery("#servicesContainer").append($dom);
                    })
                }
            })
        }


    </script>


{% endblock %}

