{% extends 'TemplateBundle:Default:Layout.html.twig'%}
{% block body %}
    {{ form_start(form) }}

    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Archives: </span>Modifier le service</h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item">
                            <a href="{{ path('admin_template_homepage') }}">Acceuil</a></li>
                        <li class="last-item">Modifier un service</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-9 mb-5 mb-lg-0">
                    <div class="card lis-brd-light wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="card-body p-0">
                            <div class="row p-4">
                                <div class="col-12 col-sm-12 mb-3">
                                    <h6 class="lis-font-weight-500"><i class="fa fa-align-left pr-2 lis-f-14"></i>  Modification d'un service</h6>

                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-12 col-md-2 col-form-label">Catégorie:</label>
                                        <div class="col-12 col-md-10">

                                            {{ form_widget(form.catservice) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-12 col-md-2 col-form-label">Titre</label>
                                        <div class="col-12 col-md-10">
                                            {{ form_widget(form.title, {'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0','placeholder':'title'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-12 col-md-2 col-form-label">Description</label>
                                        <div class="col-12 col-md-10">
                                            {{ form_widget(form.description, {'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0','placeholder':'description'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-12 col-md-2 col-form-label">Numéro de téléphone</label>
                                        <div class="col-12 col-md-10">
                                            {{ form_widget(form.numtel, {'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0','placeholder':'numéro de téléphone'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-12 col-md-2 col-form-label">Adresse</label>
                                        <div class="col-12 col-md-10">
                                            {{ form_widget(form.adresseS, {'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0','placeholder':'Adresse'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-12 col-md-2 col-form-label">Altitude</label>
                                        <div class="col-12 col-md-10">
                                            {{ form_widget(form.laltitude, {'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0','placeholder':'Altitude'}}) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-12 col-md-2 col-form-label">Longitude</label>
                                        <div class="col-12 col-md-10">
                                            {{ form_widget(form.longitude, {'attr': {'class': 'form-control border-top-0 border-left-0 border-right-0 rounded-0','placeholder':'longitude'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr/>


                            <div class="row p-4">
                                <div class="col-12 col-sm-12 mb-3">
                                    <h6 class="lis-font-weight-500"><i class="fa fa-align-left pr-2 lis-f-14"></i>  Image </h6>

                                </div>
                                <div class="col-12 col-sm-12">
                                    <div class="form-group row">
                                        <label for="example-text-input" class="col-12 col-md-2 col-form-label">Image</label>
                                        <div class="col-12 col-md-10">
                                            {{ form_rest(form) }}
                                        </div>
                                </div>
                            </div>


                            <div class="col-12 col-sm-12"> <input type="submit" class="btn btn-primary btn-default mt-3" value="Save"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </section>

{% endblock %}