{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}

    <!-- eof .page_header -->

    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight">
                        <span class="taxonomy-name-title">Archives: </span>Les catégories des services disponibles</h2>
                    <ol class="breadcrumb darklinks">
                        <li class="first-item">
                            <a href="{{ path('template_homepage') }}">Home</a></li>
                        <li class="last-item"><a href="{{ path('listecategorieuser') }}">Catégories</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>


    <section class="">
        <div class="container">
            <div class="row pt-5">
                <div class="col-12 col-md-12">
                    <form method="POST">
                        <div class="lis-relative">
                            <h5 class="mb-2">Vous cherchez quoi?</h5>
                            <p>Chercher par le nom de la catégorie:</p>
                            <div class="row">
                                <div class="col-12 col-sm-6 col-lg-3">
                                    <div class="form-group lis-relative">

                                        <input type="text" name="name"
                                               class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4"
                                               placeholder="Vous cherchez quoi?">
                                        <div class="lis-search"><i class="fa fa-search lis-primary lis-left-0"></i>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="row my-4">
                                <div class="col-12 col-md-12"><input type="submit" class="btn btn-primary btn-default"
                                                                     value="Chercher"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </section>


    <section>


        <div class="container">

            <div class="row">
                {% for categorie in categorie %}
                    <div class="col-12 col-md-6 col-lg-4 wow fadeInUp mb-5">
                        <div class="card border-0 lis-relative">
                            <div class="item-media">
                                <div class="item-media">
                                    <img width="50" height="50" src="{{ asset('Pictures/') }}{{ categorie.image }}"
                                         class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
                                         sizes="(max-width: 150px) 100vw, 150px"/></div>
                            </div>
                            <div class="item-content">
                                <h4 class="entry-title hover-color3" align="center">
                                    {% if (categorie.name=='Vétérinaires') %}
                                        <a href="{{ path('servicesvetuser') }}">
                                            {{ categorie.name }}            </a>
                                    {% endif %}
                                    {% if categorie.name=="Garde pour animaux" %}
                                        <a href="{{ path('servicesgarduser') }}">
                                            {{ categorie.name }}            </a>
                                    {% endif %}
                                    {% if categorie.name=="Education canine" %}
                                        <a href="{{ path('serviceseducatuser') }}">
                                            {{ categorie.name }}            </a>
                                    {% endif %}

                                </h4>
                            </div><!-- eof .item-content -->


                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>


{% endblock %}

