{% extends 'admin_base.html.twig' %}

{% block title %}{{ parent() }} - Gestion du Forum{% endblock %}

{% block content %}
    <table border="1" id="annoncesTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th >Utilisateur Nom</th>
            <th>Prenom</th>
            <th>Banir</th>

        </tr>
        </thead>
    <tbody>
        {% for i in m %}
        <tr>

            <th>{{ i.username }}</th>
            <th>{{ i.prenom }}</th>

            <th>   <a href="{{ path('admin_forum_Banir',{'id':i.id}) }}"  class="more-link"> Banir</a> </th>

        </tr>
        {% endfor %}


        </tbody>


    </table>
    <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable').DataTable(

            );
        });
    </script>

    <script type='text/javascript' src='{{ asset('DataTable/jquery.dataTables.min.js') }}'></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('DataTable/jquery.dataTables.min.css') }}" />

{% endblock %}
