{% extends 'admin_base.html.twig' %}

{% block title %}{{ parent() }} - Gestion du Forum{% endblock %}

{% block content %}
    <table border="1" id="annoncesTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th >Utilisateur</th>
            <th>Titre</th>
            <th>Cree</th>
            <th>Modifiee</th>
            <th>tag</th>
            <th>Signal</th>
            <th>Banir</th>
        </tr>
        </thead>
    <tbody>
        {% for i in m %}
        <tr>

            <th>{{ i.auteur }}</th>
            <th>{{ i.titre }}</th>
            <th>{{ i.cree|date('Y-m-d') }}</th>
            <th>{{ i.modifiee |date('Y-m-d')}}</th>
            <th>{{ i.tags }}</th>
            <th>{{ i.signe }}</th>
            <th>   <a href="{{ path('admin_forum_Banir',{'id':i.auteur}) }}"  class="more-link"> Banir</a> </th>

        </tr>
        {% endfor %}


        </tbody>


    </table>
    <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable').DataTable(

            );
        });
    </script>

    <script type='text/javascript' src='{{ asset('DataTable/jquery.dataTables.min.js') }}'></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('DataTable/jquery.dataTables.min.css') }}" />

{% endblock %}
