{% extends 'admin_base.html.twig' %}

{% block title %}{{ parent() }} - Gestion Reclamation{% endblock %}

{% block content %}

    <form class="form-horizontal form-label-left input_mask row">

        {#<div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Utilisateur</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" placeholder="Default Input">
            </div>
        </div>#}
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Utilisateur</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled" value="{{ forum.Utilisateur }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Creation</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled"
                       value="{{ forum.Cree }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Titre</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled" value="{{ forum.Modifiee }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Categorie</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled" value="{{ forum.tag }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" disabled="disabled" value="{{ forum.Signal }}">
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Description</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" class="form-control" disabled="disabled" value="{{ forum.Action }}">
                </div>
        </div>
    </form>
    <hr/>


    <script>
        jQuery(document).ready(function () {
            $idToUpdate = {{ forum.id }};
            onFinishPageLoad();



            jQuery("#validerButtonId").on('click', function () {
                jQuery.ajax({
                    type: 'POST',
                    url: '{{ path('admin_reclamation_update_statut') }}',
                    data: {
                        "id": $idToUpdate,
                        "statut": "Traitée"
                    },
                    success: function (response) {
                        alert("Reclamation Traitée avec succés")
                    }
                });
            });

            jQuery("#cloturerButtonId").on('click', function () {
                jQuery.ajax({
                    type: 'POST',
                    url: '{{ path('admin_reclamation_update_statut') }}',
                    data: {
                        "id": $idToUpdate,
                        "statut": "Cloturée"
                    },
                    success: function (response) {
                        alert("Reclamation Cloturée avec succés")
                    }
                });
            });

            jQuery("#reponseButtonId").on('click', function () {
                jQuery.ajax({
                    type: 'POST',
                    url: '{{ path('admin_reclamation_update_reponse') }}',
                    data: {
                        "id": $idToUpdate,
                        "reponse": jQuery('#reponseTextContentId').val()
                    },
                    success: function (response) {
                        alert("Reponse envoyée avec succés")
                    }
                });
            });

            var textarea = document.querySelector('textarea');
            jQuery('#reponseTextContentId').on('input', function() {
                if (!jQuery(this).val()){
                    jQuery("#reponseButtonId").prop("disabled",true);
                }else {
                    jQuery("#reponseButtonId").prop("disabled",false);
                }
            });
        });

    </script>
    <style>
        textarea {
            /* box-sizing: padding-box; */
            overflow: hidden;
            /* demo only: */
            resize: none;
            padding: 10px;
            width: 250px;
            font-size: 14px;
            display: block;
            border-radius: 10px;
            border: 6px solid #556677;
        }
    </style>
{% endblock %}