
{% extends 'TemplateBundle:Default:Layout.html.twig' %}


{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight">
                    Annonces				</h2>
                <ol class="breadcrumb darklinks">
                    <li class="first-item">
                        <a href="../index.html">Annonces</a></li>
                    <li class="last-item">Mes Annonces</li>
                </ol>
            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">

                        {% block contenu %}
                            <table>
                                <tr>
                                    <td>    <img src="{{ asset('picture/Vente.jpg') }}"  style="width:500px;height:300px;border:0"> > </a> </td>
                                    <td>    <img src="{{ asset('picture/Adoption.jpg') }}" style="width:500px;height:300px;border:0"> ></a> </td>
                                    <td>    <img src="{{ asset('picture/Lost1.jpg') }}" style="width:500px;height:300px;border:0"> ></a> </td>
                                </tr>
                                <tr>


                                    <td><center> <a href="{{ path('_affichageVente') }} " > <input type="submit" value="Animaux a vendre"> </a></center></td>
                                    <td> <center><a href="{{ path('_affichageAdoption') }} " > <input type="submit" value="Animaux a adopter"> </a></center></td>
                                    <td><center><a href="{{ path('_affichageLostAndFound') }} " > <input type="submit" value="Animaux Lost&Found"> </a></center></td>
                                </tr>



                            </table>


                        {% endblock %}


                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock %}

