{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}


        <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center breadcrumbs_inner">
                        <h2 class="highlight">
                            Contacts				</h2>
                        <ol class="breadcrumb darklinks">
                            <li class="first-item">
                                <a href="{{ path('Index') }}">Home</a></li>
                            <li class="last-item">Contacts</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section><div class="fw-page-builder-content"><section class="fw-main-row  ds section_padding_top_150 section_padding_bottom_150 columns_padding_15 background_cover" style="background-image:url(../wp-content/uploads/2017/06/map.jpg);">
                <h3 class="hidden"> Contacts</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 to_animate text-center col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2"  data-animation="slideDown">
                            <div class="form-wrapper with_padding overflow-hidden transp_black_bg columns_padding_10">
                                <form data-fw-form-id="fw_form" method="post" action="http://webdesign-finder.com/pet-space/contacts/" class="fw_form_fw_form" data-fw-ext-forms-type="contact-forms"><input type="hidden" name="fwf" value="fw_form" /><input type="hidden" id="_nonce_58c577620657fca0553560bd67c789a1" name="_nonce_58c577620657fca0553560bd67c789a1" value="ac246c5913" /><input type="hidden" name="_wp_http_referer" value="/pet-space/contacts/" /><input type="hidden" name="fw_ext_forms_form_type" value="contact-forms" /><input type="hidden" name="fw_ext_forms_form_id" value="df3081fcf40a16f5b9b9570c61283646" /><div class="wrap-forms">
                                        <div class="row"></div><div class="row"><div class="col-xs-12 col-md-6 form-builder-item color3">
                                                <div class="form-group has-placeholder">
                                                    <label for="id-1">Full name			<sup>*</sup>		</label>
                                                    <i class="fa fa-user color3"></i>		<input class="form-control" type="text" name="text_3ae5a7c" placeholder="Full name" value="" id="id-1" required="required">
                                                </div>
                                            </div><div class="col-xs-12 col-md-6 form-builder-item color3">
                                                <div class="form-group has-placeholder">
                                                    <label for="id-2">Phone number			<sup>*</sup>		</label>
                                                    <i class="fa fa-phone color3"></i>		<input class="form-control" type="text" name="text_a3fe85a" placeholder="Phone number" value="" id="id-2" required="required">
                                                </div>
                                            </div></div><div class="row"><div class="col-xs-12 col-md-6 form-builder-item">
                                                <div class="form-group has-placeholder">
                                                    <label for="id-3">Email Address			<sup>*</sup>		</label>
                                                    <i class="fa fa-envelope color3"></i>		<input class="form-control" type="text" name="email_435a14b" placeholder="Email Address" value="" id="id-3" required="required">
                                                </div>
                                            </div><div class="col-xs-12 col-md-6 form-builder-item color3">
                                                <div class="form-group has-placeholder">
                                                    <label for="id-4">Subject			<sup>*</sup>		</label>
                                                    <i class="fa fa-flag color3"></i>		<input class="form-control" type="text" name="text_c846d76" placeholder="Subject" value="" id="id-4" required="required">
                                                </div>
                                            </div></div><div class="row"><div class="col-xs-12 form-builder-item">
                                                <div class="form-group has-placeholder">
                                                    <label for="id-5">Message			<sup>*</sup>		</label>
                                                    <i class="fa fa-comment color3"></i>		<textarea class="form-control" rows="4" name="textarea_4d623ee" placeholder="Message" id="id-5" required="required"></textarea>
                                                </div>
                                            </div></div><div class="row"></div></div><div class="wrap-forms wrap-forms-buttons topmargin_10">
                                        <div class="row">
                                            <div class="col-sm-12 wrap-buttons text-center">
                                                <input class="theme_button color3 wide_button" type="submit" value="Send now" />
                                                <input class="theme_button color3 wide_button" type="reset" value="Clear" />
                                            </div>
                                        </div>
                                    </div></form></div></div>
                    </div>
                </div>
            </section>
            <section class="fw-main-row  cs main_color3 section_padding_top_50 section_padding_bottom_50 columns_padding_0" >
                <h3 class="hidden"> Banners</h3>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 to_animate"  data-animation="pullUp">
                            <div class="media small-teaser shortcode-icon">
                                <div class="media-left">
                                    <div
                                            class="icon-wrap size_small bg_color round color_light">
                                        <i class="fa fa-phone"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="title">
                                        Call us today:				</h4>
                                    <span class="text">
				8 800 269 8469			</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 to_animate"  data-animation="pullUp">
                            <div class="media small-teaser shortcode-icon">
                                <div class="media-left">
                                    <div
                                            class="icon-wrap size_small bg_color round color_light">
                                        <i class="fa fa-map-marker"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="title">
                                        Our Location:				</h4>
                                    <span class="text">
				253 Adams Ave, Iowa			</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-4 to_animate"  data-animation="pullUp">
                            <div class="media small-teaser shortcode-icon">
                                <div class="media-left">
                                    <div
                                            class="icon-wrap size_small bg_color round color_light">
                                        <i class="fa fa-clock-o"></i>
                                    </div>
                                </div>
                                <div class="media-body">
                                    <h4 class="title">
                                        Open Hours:				</h4>
                                    <span class="text">
				Mon - Sat 8am - 6pm			</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
{% endblock  %}
