<<<<<<< HEAD
{% extends 'TemplateBundle:Default:Layout.html.twig' %}
=======
{% extends 'TempBundle:Default:index.html.twig' %}
>>>>>>> origin/master

{% block body %}
 <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center breadcrumbs_inner">
                            <h2 class="highlight">
                               Forum			</h2>
                            <ol class="breadcrumb darklinks">
                                <li class="first-item">
                                    <a href="{{ path('Index') }}">Home</a></li>
                                <li class="last-item">Forum</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
                <div class="container">
                    <div class="row">
                        <div class="blog-slider col-xs-12">
                            <section class="intro_section page_mainslider">
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li class="ds text-center">
                                            <img src="../wp-content/uploads/2017/08/01-1.jpg" alt="">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="slide_description_wrapper">
                                                            <div class="slide_description">
                                                                <div class="intro-layer "
                                                                     data-animation="slideUp">
                                                                    <h2											class=" light normal 											">
                                                                        Every Pet Deserves										</h2>
                                                                </div>
                                                                <div class="intro-layer "
                                                                     data-animation="slideUp">
                                                                    <h2											class=" light bold 											">
                                                                        Celebrity Care										</h2>
                                                                </div>
                                                                <div class="intro-layer"
                                                                     data-animation="">
                                                                    <a href="#"
                                                                       class=""></a>
                                                                </div>

                                                            </div> <!-- eof .slide_description -->
                                                        </div> <!-- eof .slide_description_wrapper -->
                                                    </div> <!-- eof .col-* -->
                                                </div><!-- eof .row -->
                                            </div><!-- eof .container -->
                                        </li>
                                        <li class="ds text-center">
                                            <img src="../wp-content/uploads/2017/08/02-1.jpg" alt="">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="slide_description_wrapper">
                                                            <div class="slide_description">
                                                                <div class="intro-layer "
                                                                     data-animation="pullDown">
                                                                    <h2											class=" light normal 											">
                                                                        Qualified Personal Care										</h2>
                                                                </div>
                                                                <div class="intro-layer "
                                                                     data-animation="pullUp">
                                                                    <h2											class=" light bold 											">
                                                                        For Your Pets										</h2>
                                                                </div>
                                                                <div class="intro-layer"
                                                                     data-animation="fadeInRight">
                                                                    <a href="#"
                                                                       class=""></a>
                                                                </div>

                                                            </div> <!-- eof .slide_description -->
                                                        </div> <!-- eof .slide_description_wrapper -->
                                                    </div> <!-- eof .col-* -->
                                                </div><!-- eof .row -->
                                            </div><!-- eof .container -->
                                        </li>
                                        <li class="ds text-center">
                                            <img src="../wp-content/uploads/2017/08/03-1.jpg" alt="">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="slide_description_wrapper">
                                                            <div class="slide_description">
                                                                <div class="intro-layer "
                                                                     data-animation="slideLeft">
                                                                    <h2											class=" light normal 											">
                                                                        Every Pet Deserves										</h2>
                                                                </div>
                                                                <div class="intro-layer "
                                                                     data-animation="slideRight">
                                                                    <h2											class=" light bold 											">
                                                                        Celebrity Care										</h2>
                                                                </div>
                                                                <div class="intro-layer"
                                                                     data-animation="fadeInRight">
                                                                    <a href="#"
                                                                       class=""></a>
                                                                </div>

                                                            </div> <!-- eof .slide_description -->
                                                        </div> <!-- eof .slide_description_wrapper -->
                                                    </div> <!-- eof .col-* -->
                                                </div><!-- eof .row -->
                                            </div><!-- eof .container -->
                                        </li>
                                    </ul>
                                </div> <!-- eof flexslider -->
                                <div class="scroll_button_wrap">
                                    <a href="#" class="scroll_button">
                                        <span class="sr-only">scroll down</span>
                                    </a>
                                </div>
                            </section> <!-- eof intro_section -->
                        </div>
                        <div class="before-loop-area col-xs-12">
                        </div>

                        <div id="content" class="col-xs-12 col-sm-7 col-md-8 col-lg-8 col-sm-push-5 col-md-push-4 col-lg-push-4">

                            <article id="post-2768" class="vertical-item content-padding big-padding with_shadow rounded overflow-hidden post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                <div class="item-media-wrap">
                                    <div
                                            class="item-media entry-thumbnail post-thumbnail">
                                        <div class="entry-meta-corner">
						<span class="date">
									<time class="entry-date" datetime="2017-08-11T13:52:21+00:00">
										<strong>11</strong>Aug
									</time>
								</span>					</div>
                                        <div class="embed-responsive embed-responsive-3by2">
                                            <a href="#" data-iframe="&lt;iframe width=&quot;1170&quot; height=&quot;658&quot; src=_https_/www.youtube.com/embed/mcixldqDIEQ250f.html?feature=oembed%22 frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;" class="embed-placeholder">
                                                <img width="1170" height="780" src="{{ asset('wp-content/uploads/2017/08/11.jpg') }}" class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11.jpg 1170w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-775x517.jpg 775w" sizes="(max-width: 1170px) 100vw, 1170px" />							</a><!-- eof image link -->
                                        </div>
                                    </div> <!-- .item-media -->
                                </div> <!-- .item-media-wrap -->


                                <div class="item-content">

                                    <header class="entry-header">
                                        <div class="item-meta content-justify">
                                            <span class="entry-date post-date highlight3"><a href="../shankle-doner-ribeye-ham-hock-shank/index.html" rel="bookmark"><time class="entry-date" datetime="2017-08-11T13:52:21+00:00">August 11, 2017</time></a></span>				<!-- .item cats -->
                                            <!-- .item cats -->
                                        </div>
                                        <h4 class="entry-title hover-color3"><a href="../shankle-doner-ribeye-ham-hock-shank/index.html" rel="bookmark">Shankle doner ribeye ham hock shank</a></h4>		</header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Veniam pastrami sirloin, andouille aliqua consequat incididunt eu. Prosciutto pork belly excepteur strip steak in tongue venison nisi sunt landjaeger shank turkey. Incididunt in velit, flank pig nostrud shoulder aliqua.<br />
                                            <a href="../shankle-doner-ribeye-ham-hock-shank/index.html#more-2768" class="more-link">More&#8230;</a></p>


                                    </div><!-- .entry-content -->
                                </div><!-- eof .item-content -->
                            </article><!-- #post-## -->

                            <article id="post-2772" class="vertical-item content-padding big-padding with_shadow rounded overflow-hidden post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                <div class="item-media-wrap">
                                    <div
                                            class="item-media entry-thumbnail post-thumbnail">
                                        <div class="entry-meta-corner">
						<span class="date">
									<time class="entry-date" datetime="2017-08-07T09:54:50+00:00">
										<strong>7</strong>Aug
									</time>
								</span>					</div>
                                        <img width="1170" height="780" src="../wp-content/uploads/2017/08/04-1.jpg" class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1.jpg 1170w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-775x517.jpg 775w" sizes="(max-width: 1170px) 100vw, 1170px" />						<div class="media-links">
                                            <a class="abs-link" title="" href="../t-bone-capicola-kevin-pancetta/index.html"></a>
                                        </div>
                                    </div> <!-- .item-media -->
                                </div> <!-- .item-media-wrap -->


                                <div class="item-content">

                                    <header class="entry-header">
                                        <div class="item-meta content-justify">
                                            <span class="entry-date post-date highlight3"><a href="../t-bone-capicola-kevin-pancetta/index.html" rel="bookmark"><time class="entry-date" datetime="2017-08-07T09:54:50+00:00">August 7, 2017</time></a></span>				<!-- .item cats -->
                                            <!-- .item cats -->
                                        </div>
                                        <h4 class="entry-title hover-color3"><a href="../t-bone-capicola-kevin-pancetta/index.html" rel="bookmark">T-bone capicola kevin pancetta</a></h4>		</header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop.<br />
                                            <a href="../t-bone-capicola-kevin-pancetta/index.html#more-2772" class="more-link">More&#8230;</a></p>


                                    </div><!-- .entry-content -->
                                </div><!-- eof .item-content -->
                            </article><!-- #post-## -->

                            <article id="post-2773" class="vertical-item content-padding big-padding with_shadow rounded overflow-hidden post-2773 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                <div class="item-media-wrap">
                                    <div
                                            class="item-media entry-thumbnail post-thumbnail">
                                        <div class="entry-meta-corner">
						<span class="date">
									<time class="entry-date" datetime="2017-08-06T09:54:58+00:00">
										<strong>6</strong>Aug
									</time>
								</span>					</div>
                                        <img width="1170" height="780" src="../wp-content/uploads/2017/08/08.jpg" class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08.jpg 1170w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-775x517.jpg 775w" sizes="(max-width: 1170px) 100vw, 1170px" />						<div class="media-links">
                                            <a class="abs-link" title="" href="../beef-tri-tip-brisket-jerky-boudin/index.html"></a>
                                        </div>
                                    </div> <!-- .item-media -->
                                </div> <!-- .item-media-wrap -->


                                <div class="item-content">

                                    <header class="entry-header">
                                        <div class="item-meta content-justify">
                                            <span class="entry-date post-date highlight3"><a href="../beef-tri-tip-brisket-jerky-boudin/index.html" rel="bookmark"><time class="entry-date" datetime="2017-08-06T09:54:58+00:00">August 6, 2017</time></a></span>				<!-- .item cats -->
                                            <!-- .item cats -->
                                        </div>
                                        <h4 class="entry-title hover-color3"><a href="../beef-tri-tip-brisket-jerky-boudin/index.html" rel="bookmark">Beef tri-tip brisket jerky boudin</a></h4>		</header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Fatback jerky pig sirloin. Beef landja pork beef ribs kielbasa shoulder tongue pig venison pork chop.<br />
                                            <a href="../beef-tri-tip-brisket-jerky-boudin/index.html#more-2773" class="more-link">More&#8230;</a></p>


                                    </div><!-- .entry-content -->
                                </div><!-- eof .item-content -->
                            </article><!-- #post-## -->

                            <article id="post-110" class="vertical-item content-padding big-padding with_shadow rounded overflow-hidden post-110 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                <div class="item-media-wrap">
                                    <div
                                            class="item-media entry-thumbnail post-thumbnail">
                                        <div class="entry-meta-corner">
						<span class="date">
									<time class="entry-date" datetime="2017-06-10T10:14:59+00:00">
										<strong>10</strong>Jun
									</time>
								</span>							<span class="comments-link">
								<i class="rt-icon2-bubble highlight"></i>
								<a href="../post-with-video/index.html#comments">3</a>						</span>
                                        </div>
                                        <div class="embed-responsive embed-responsive-3by2">
                                            <a href="#" data-iframe="&lt;iframe width=&quot;1170&quot; height=&quot;658&quot; src=_https_/www.youtube.com/embed/mcixldqDIEQ250f.html?feature=oembed%22 frameborder=&quot;0&quot; allowfullscreen&gt;&lt;/iframe&gt;" class="embed-placeholder">
                                                <img width="1170" height="780" src="../wp-content/uploads/2017/08/10.jpg" class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10.jpg 1170w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10-300x200.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10-768x512.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10-1024x683.jpg 1024w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/10-775x517.jpg 775w" sizes="(max-width: 1170px) 100vw, 1170px" />							</a><!-- eof image link -->
                                        </div>
                                    </div> <!-- .item-media -->
                                </div> <!-- .item-media-wrap -->


                                <div class="item-content">

                                    <header class="entry-header">
                                        <div class="item-meta content-justify">
                                            <span class="entry-date post-date highlight3"><a href="../post-with-video/index.html" rel="bookmark"><time class="entry-date" datetime="2017-06-10T10:14:59+00:00">June 10, 2017</time></a></span>				<!-- .item cats -->
                                            <!-- .item cats -->
                                        </div>
                                        <h4 class="entry-title hover-color3"><a href="../post-with-video/index.html" rel="bookmark">Post With Video</a></h4>		</header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Salami rump meatball beef. Turducken porchetta picanha pork belly, chicken ground round tri-tip pork loin boudin sirloin pastrami tenderloin cupim flank. Shankle rump biltong pork loin, sirloin porchetta salami. Tongue ham t-bone, ham hock leberkas kevin ball tip tenderloin tri-tip.<br />
                                            <a href="../post-with-video/index.html#more-110" class="more-link">More&#8230;</a></p>


                                    </div><!-- .entry-content -->
                                </div><!-- eof .item-content -->
                            </article><!-- #post-## -->
                            <article id="post-2358" class="format-small-image post-2358 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                <div class="side-item content-padding big-padding with_shadow rounded overflow-hidden">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="item-media-wrap">
                                                <div
                                                        class="item-media entry-thumbnail post-thumbnail">
                                                    <div class="entry-meta-corner">
						<span class="date">
									<time class="entry-date" datetime="2017-06-08T23:34:44+00:00">
										<strong>8</strong>Jun
									</time>
								</span>					</div>
                                                    <img width="780" height="780" src="../wp-content/uploads/2017/08/05-2-780x780.jpg" class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05-2.jpg 780w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05-2-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05-2-300x300.jpg 300w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05-2-768x768.jpg 768w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05-2-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05-2-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/05-2-600x600.jpg 600w" sizes="(max-width: 780px) 100vw, 780px" />						<div class="media-links">
                                                        <a class="abs-link" title="" href="../post-with-small-image/index.html"></a>
                                                    </div>
                                                </div> <!-- .item-media -->
                                            </div> <!-- .item-media-wrap -->
                                        </div> <!-- eof .col-md-6 -->

                                        <div class="col-md-6">


                                            <div class="item-content">

                                                <header class="entry-header">
                                                    <div class="item-meta content-justify">
                                                        <span class="entry-date post-date highlight3"><a href="../post-with-small-image/index.html" rel="bookmark"><time class="entry-date" datetime="2017-06-08T23:34:44+00:00">June 8, 2017</time></a></span>				<!-- .item cats -->
                                                        <!-- .item cats -->
                                                    </div>
                                                    <h4 class="entry-title hover-color3"><a href="../post-with-small-image/index.html" rel="bookmark">Post With Small Image</a></h4>		</header><!-- .entry-header -->

                                                <div class="entry-content">
                                                    <p>Stet clita kasd gubergren, no sea takimata sanctus sed diam voluptua.<br />
                                                        <a href="../post-with-small-image/index.html#more-2358" class="more-link">More&#8230;</a></p>


                                                </div><!-- .entry-content -->
                                            </div><!-- eof .item-content -->
                                        </div><!-- eof .col-md-6 -->
                                    </div><!-- eof .row -->
                                </div><!-- eof .side-item -->
                            </article><!-- #post-## -->

                            <article id="post-2307" class="vertical-item content-padding big-padding with_shadow rounded overflow-hidden post-2307 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                <div class="item-media-wrap">
                                    <div
                                            class="item-media entry-thumbnail post-thumbnail">
                                        <div class="entry-meta-corner">
						<span class="date">
									<time class="entry-date" datetime="2017-06-08T19:17:04+00:00">
										<strong>8</strong>Jun
									</time>
								</span>							<span class="comments-link">
								<i class="rt-icon2-bubble highlight"></i>
								<a href="../post-with-image/index.html#comments">3</a>						</span>
                                        </div>
                                        <img width="1170" height="780" src="../wp-content/uploads/2017/08/features-1170x780.jpg" class="attachment-pet-space-full-width size-pet-space-full-width wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/features-1170x780.jpg 1170w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/features-775x517.jpg 775w" sizes="(max-width: 1170px) 100vw, 1170px" />						<div class="media-links">
                                            <a class="abs-link" title="" href="../post-with-image/index.html"></a>
                                        </div>
                                    </div> <!-- .item-media -->
                                </div> <!-- .item-media-wrap -->


                                <div class="item-content">

                                    <header class="entry-header">
                                        <div class="item-meta content-justify">
                                            <span class="entry-date post-date highlight3"><a href="../post-with-image/index.html" rel="bookmark"><time class="entry-date" datetime="2017-06-08T19:17:04+00:00">June 8, 2017</time></a></span>				<!-- .item cats -->
                                            <!-- .item cats -->
                                        </div>
                                        <h4 class="entry-title hover-color3"><a href="../post-with-image/index.html" rel="bookmark">Post With Image</a></h4>		</header><!-- .entry-header -->

                                    <div class="entry-content">
                                        <p>Andouille ball tip turducken landjaeger cupim tail. Ball tip shankle shank kevin, bacon prosciutto drumstick short loin ham hock leberkas biltong spare ribs meatloaf tenderloin burgdoggen. Pastrami burgdoggen ham corned beef short ribs shankle tri-tip shoulder venison chuck pork.<br />
                                            <a href="../post-with-image/index.html#more-2307" class="more-link">More&#8230;</a></p>


                                    </div><!-- .entry-content -->
                                </div><!-- eof .item-content -->
                            </article><!-- #post-## -->
                            <nav class="loop-pagination text-center">
                                <ul class="pagination"><li class="prev active disabled"><span class="prev page-numbers">Prev</span></li>
                                    <li class='active'><span class='page-numbers current'>1</span></li>
                                    <li><a class='page-numbers' href='page/2/index.html'>2</a></li>
                                    <li class="next "> <a class="next page-numbers" href="page/2/index.html">Next</a> </li></ul>			</nav><!-- .navigation -->
                        </div><!--eof #content -->
                        <!-- main aside sidebar -->
                        <aside class="col-xs-12 col-sm-5 col-md-4 col-lg-4 col-sm-pull-7 col-md-pull-8 col-lg-pull-8">
                            <div id="apsc_widget-2" class="widget-even widget-6 widget widget_apsc_widget"><h3 class="widget-title"><span class="first-word">Get</span> In <span class="last-word">touch</span></h3><div class="apsc-icons-wrapper clearfix apsc-theme-1" >
                                    <div class="apsc-each-profile">
                                        <a  class="apsc-facebook-icon clearfix" href="https://facebook.com/" target="_blank" >
                                            <div class="apsc-inner-block">
                                                <span class="social-icon"><i class="fa fa-facebook apsc-facebook"></i><span class="media-name">Facebook</span></span>
                                                <span class="apsc-count">35</span><span class="apsc-media-type">Fans</span>
                                            </div>
                                        </a>
                                    </div>            <div class="apsc-each-profile">
                                        <a  class="apsc-twitter-icon clearfix"  href="https://twitter.com/" target="_blank"  >
                                            <div class="apsc-inner-block">
                                                <span class="social-icon"><i class="fa fa-twitter apsc-twitter"></i><span class="media-name">Twitter</span></span>
                                                <span class="apsc-count">0</span><span class="apsc-media-type">Followers</span>
                                            </div>
                                        </a>
                                    </div>            <div class="apsc-each-profile">
                                        <a  class="apsc-google-plus-icon clearfix" href="https://plus.google.com/" target="_blank"  >
                                            <div class="apsc-inner-block">
                                                <span class="social-icon"><i class="apsc-googlePlus fa fa-google-plus"></i><span class="media-name">google+</span></span>
                                                <span class="apsc-count">0</span><span class="apsc-media-type">Followers</span>
                                            </div>
                                        </a>
                                    </div></div>

                            </div><div id="mc4wp_form_widget-3" class="widget-odd widget-7 widget widget_mc4wp_form_widget"><h3 class="widget-title">Newsletter</h3><script type="text/javascript">(function() {
                                        if (!window.mc4wp) {
                                            window.mc4wp = {
                                                listeners: [],
                                                forms    : {
                                                    on: function (event, callback) {
                                                        window.mc4wp.listeners.push({
                                                            event   : event,
                                                            callback: callback
                                                        });
                                                    }
                                                }
                                            }
                                        }
                                    })();
                                </script><!-- MailChimp for WordPress v4.1.10 - https://wordpress.org/plugins/mailchimp-for-wp/ --><form id="mc4wp-form-2" class="mc4wp-form mc4wp-form-445" method="post" data-id="445" data-name="Form" ><div class="mc4wp-form-fields"><p class="mc4wp-form-inner">
                                            <label>Email Address </label>
                                            <input class="form-control" type="email" name="EMAIL" placeholder="Email address" required />
                                            <button type="submit" value="Sign up"></button>
                                        </p>
                                        <p class="sidebar-visible">
                                            Subscribe to our Newsletter right now to be updated. We promice not to spam!
                                        </p><label style="display: none !important;">Leave this field empty if you're human: <input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></label><input type="hidden" name="_mc4wp_timestamp" value="1517516064" /><input type="hidden" name="_mc4wp_form_id" value="445" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-2" /></div><div class="mc4wp-response"></div></form><!-- / MailChimp for WordPress Plugin --></div><div id="text-4" class="widget-even widget-8 widget widget_text"><h3 class="widget-title"><span class="first-word">Instagram</span> <span class="last-word">widget</span></h3>			<div class="textwidget"><div id="sb_instagram" class="sbi sbi_col_2" style="width:100%; padding-bottom: 10px; " data-id="524549267" data-num="4" data-res="auto" data-cols="2" data-options='{&quot;sortby&quot;: &quot;none&quot;, &quot;showbio&quot;: &quot;true&quot;, &quot;headercolor&quot;: &quot;&quot;, &quot;imagepadding&quot;: &quot;5&quot;}'>
                                        <div id="sbi_images" style="padding: 5px;">
                                            <div class="sbi_loader fa-spin"></div>
                                        </div>
                                        <div id="sbi_load"></div>
                                    </div>
                                </div>
                            </div>	<div id="pet_space_theme_posts-2" class="widget-odd widget-9 widget widget_popular_entries">	<h3 class="widget-title"><span class="first-word">Recent</span> <span class="last-word">Posts</span></h3>	<ul id="theme_posts_5a737520b87aa" class="media-list">
                                    <li class="media post-2768 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized">
                                        <a href="../shankle-doner-ribeye-ham-hock-shank/index.html" class="media-left">
                                            <img width="150" height="150" src="../wp-content/uploads/2017/08/11-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/11-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />					</a>
                                        <div class="media-body">
                                            <h6 class="title"><a href="../shankle-doner-ribeye-ham-hock-shank/index.html">Shankle doner ribeye ham hock shank</a></h6>
                                            <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 11, 2017                            </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media post-2772 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                        <a href="../t-bone-capicola-kevin-pancetta/index.html" class="media-left">
                                            <img width="150" height="150" src="../wp-content/uploads/2017/08/04-1-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/04-1-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />					</a>
                                        <div class="media-body">
                                            <h6 class="title"><a href="../t-bone-capicola-kevin-pancetta/index.html">T-bone capicola kevin pancetta</a></h6>
                                            <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 7, 2017                            </span>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="media post-2773 post type-post status-publish format-standard has-post-thumbnail hentry category-sem">
                                        <a href="../beef-tri-tip-brisket-jerky-boudin/index.html" class="media-left">
                                            <img width="150" height="150" src="../wp-content/uploads/2017/08/08-150x150.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" srcset="http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-150x150.jpg 150w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-180x180.jpg 180w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-400x400.jpg 400w, http://webdesign-finder.com/pet-space/wp-content/uploads/2017/08/08-600x600.jpg 600w" sizes="(max-width: 150px) 100vw, 150px" />					</a>
                                        <div class="media-body">
                                            <h6 class="title"><a href="../beef-tri-tip-brisket-jerky-boudin/index.html">Beef tri-tip brisket jerky boudin</a></h6>
                                            <div class="item-meta">
													<span class="widget-post-date small-text highlight3">
                                August 6, 2017                            </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>	<div id="search-3" class="widget-even widget-10 widget widget_search"><h3 class="widget-title"><span class="first-word">Search</span> on <span class="last-word">Website</span></h3>
                                <form role="search" method="get" class="search-form form-inline" action="http://webdesign-finder.com/pet-space/">
                                    <div class="form-group">
                                        <label>
                                            <input type="search" class="search-field form-control"
                                                   placeholder="Search"
                                                   value="" name="s"
                                                   title="Search for:"/>
                                        </label>
                                    </div>
                                    <button type="submit" class="search-submit theme_button">
                                        <span class="screen-reader-text">Search</span>
                                    </button>
                                </form>
                            </div>	</aside>
                        <!-- eof main aside sidebar -->
                    </div><!-- eof .row-->
                </div><!-- eof .container -->
            </section><!-- eof .page_content -->

{% endblock %}

