{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}
    <fieldset>
        <legend>Details</legend>
        <form method="Post" action="{{ path ('user_reclamation_add') }}"
              class="form-horizontal form-label-left input_mask row">
            <div class="form-group">
                <label for="categorie" class="control-label col-md-3 col-sm-3 col-xs-12">Quel problème avez vous?</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select name="categorie" id="categorie">
                        <option value="Technique">Technique</option>
                        <option value="Commercial" selected>Commercial</option>
                        <option value="Autre">Autre</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="titre" class="control-label col-md-3 col-sm-3 col-xs-12">Titre : </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" name="titre" id="titre" value="">
                </div>
            </div>

            <div class="form-group">
                <label for="description" class="control-label col-md-3 col-sm-3 col-xs-12">Description : </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea rows="5" name="description" id="description" value=""></textarea>
                </div>
            </div>
            <input type="submit" value="Valider">
        </form>
    </fieldset>
{% endblock %}