{% extends 'TemplateBundle:Default:Layout.html.twig' %}
{% block body %}
    <div class="row" style="margin: 2%">
        <table border="1" id="reclamations_table_id" class="table" cellspacing="0"
               width="100%">
            <thead>
            <tr>
                <th>Categorie</th>
                <th>Date de création</th>
                {#<th>Validité</th>#}
                <th>Titre</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Reponse</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
            <tr>
                <th>Categorie</th>
                <th>Date de création</th>
                {#<th>Validité</th>#}
                <th>Titre</th>
                <th>Description</th>
                <th>Statut</th>
                <th>Reponse</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <a href=""/>
    <a href="{{ path('user_reclamation_add_form') }}" class="btn btn-round btn-warning" role="button">Créer une nouvelle
        réclamation</a>
    {#<button type="submit" class=""></button>#}

    <script>
        jQuery(document).ready(function () {
            /*-------------Reclamations DataTable-------------*/
            $reclamationsTable = jQuery('#reclamations_table_id').DataTable({
                    ajax: "{{ path('user_reclamation_get_dataTables') }}",
                    columnDefs: [{
                        "targets": 4,
                        "render": function (data, type, row) {
                            if (data.status == "En cours de traitement") {
                                $dom = "<span style='color : #1abc9c'>"+ data.status +"</span>     <button class='btn btn-danger btn-xs cloturerReclamationButtonClass' value='" + data.id + "'>Cloturer</button>"
                            } else if (data.status == "Nouvelle"){
                                $dom = "<span style='color : darkgreen'>"+ data.status +"</span>      <button class='btn btn-danger btn-xs cloturerReclamationButtonClass' value='" + data.id + "'>Cloturer</button>"
                            }
                            else if (data.status == "Cloturée")  {
                                $dom = "<span style='color : red'>"+ data.status +"</span>";
                            }
                            else if (data.status == "Traitée")  {
                                $dom = "<span style='color : #6a00ff'>"+ data.status +"</span>";
                            }


                            return $dom
                        }
                    }],
                    initComplete: reclamationCallbackFunction
                }
            );

            /*-------------------------------------------------*/

            /*-------------Reclamations Cloture Event-------------*/
            function reclamationCallbackFunction() {

                jQuery(".cloturerReclamationButtonClass").each(function (index) {
                    jQuery(this).on('click', function () {
                        $idToUpdate = jQuery(this).val();
                        jQuery.ajax({
                            type: 'POST',
                            url: '{{ path('reclamation_update_statut') }}',
                            data: {
                                "id": $idToUpdate,
                                "statut": "Cloturée"
                            },
                            success: function (response) {
                                $reclamationsTable.ajax.reload(reclamationCallbackFunction);
                            }
                        });


                        //
                    });
                });
            }

            /*jQuery('.updateFormButtonClass').on('click', function() {
                $libelle=$(this).attr('id');
                $libelle=$libelle.replace('UpdateButtonId','');
                $couleur=$(this).data("couleur");
                $('#updateCategorieModalLibelleId').html('Modification de la categorie "'+$libelle+'"')
                $('#updateCategorieErrorResultDiv').empty();
                $('#updateCategorieErrorResultDiv').attr( "class", "" );
                $('#updateCategorieErrorResultDiv').attr( "role", "" );
                $id=$(this).attr('value');
                $('#idCategorieUpdateInput').val($id) ;
                $('#libelleCategorieUpdateInput').val($libelle) ;
                $('#couleurCategorieUpdateInput').val($couleur) ;
            });*/
        });


    </script>
{% endblock %}