{% extends 'admin_base.html.twig' %}

{% block title %}{{ parent() }} - Gestion Annonces{% endblock %}

{% block content %}
    <!-- eof .page_header -->

    <table border="1" id="annoncesTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0"
           width="100%">
        <thead>
        <tr>
            <th>Proprietaire</th>
            <th> Categorie</th>
            <th> Animal</th>
            <th> Race</th>
            <th> Date</th>
            <th> Description</th>
            <th>Prix(dt)</th>
            <th>Image</th>

            <th> Valide</th>
            <th>Supprimer</th>
            <th>Valider</th>
            <th>Signalement</th>


        </tr>
        </thead>
        <tbody>

        {% for annonces in annonces %}


            <tr>
                <td>{{ annonces.user.username }}</td>
                <td> {{ annonces.categorie }} </td>

                <td>{{ annonces.animal }}  </td>
                <td>{{ annonces.race }}</td>

                <td>{{ annonces.datecreation.format('Y-m-d') }}</td>

                <td>{{ annonces.description }}</td>

                <td>
                    {% if annonces.prix==NULL %}
                        <img src="{{ asset('picture/NoMonney2.png') }}" style="width:42px;height:42px;border:0">

                    {% else %}
                        {{ annonces.prix }}


                    {% endif %}


                </td>
                <td><img src="{{ asset('upload_directory/pic/' ~ annonces.image) }}" height="100px" width="250px">
                </td>
                <td>
                    {% if annonces.estvalide==1 %}
                        <img src="{{ asset('picture/valider2.png') }}" style="width:42px;height:42px;border:0">

                    {% else %}
                        <img src="{{ asset('picture/NonValider.jpg') }}" style="width:42px;height:42px;border:0">

                    {% endif %}

                </td>


                <td>
                    <a href="{{ path('_supprimer1',{'id':annonces.id}) }} ">
                        <img src="{{ asset('picture/delete2.png') }}" style="width:42px;height:42px;border:0">
                    </a>
                </td>

                <td>
                    <a href="{{ path('_valider',{'id':annonces.id}) }}">
                        Valider
                    </a>
                </td>
                <td>
                    {% if annonces.signalementCount>-1 and annonces.signalementCount<4 %}
                        <img src="{{ asset('picture/alerte2.png') }}" style="width:42px;height:42px;border:0">
                    {% endif %}
                    {% if annonces.signalementCount>=4 and annonces.signalementCount<10 %}
                        <img src="{{ asset('picture/alerte1.png') }}" style="width:42px;height:42px;border:0">
                    {% endif %}
                    {% if annonces.signalementCount>=10 and annonces.signalementCount<30 %}
                        <img src="{{ asset('picture/alerte2.png') }}" style="width:42px;height:42px;border:0">
                    {% endif %}
                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>

    <td><a href="{{ path('_stat2') }} "> <input type="submit" value="Statistique annonces"> </a></td>
    <td><a href="{{ path('_stat') }} "> <input type="submit" value="Statistiques signalements "></a></td>

    <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable').DataTable(
            );
        });
    </script>
{% endblock %}










