
{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}




{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight"style="color: white">
                    Mes annonces </h2>

            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">
                        {% block contenu %}


                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center breadcrumbs_inner">

                                        <table border="0" id="annoncesTable2">
                                            <thead>
                                            <tr>

                                                <th> Categorie</th>
                                                <th> Animal</th>
                                                <th> Race</th>
                                                <th>Image</th>
                                                <th>Prix(dt)</th>
                                               {#<th> Date</th>#}
                                                <th> Description</th>


                                                <th>Supprimer</th>
                                                <th>Modifier</th>

                                            </tr>
                                            </thead>
                                            <tbody>




                                            {% for annonces in annonces %}
                                            {% if annonces.categorie=="Vente" %}


                                            <tr><td> {{ annonces.categorie }} </td>


                                                <td>{{ annonces.animal }}  </td>
                                                <td>{{ annonces.race }}</td>
                                                <td style="height: 20px;width: 50px;"><img src="{{ asset('upload_directory/pic/' ~ annonces.image) }}" style="height: 20px;width: 50px;">
                                                </td>
                                                <td>{{ annonces.prix }}</td>

                                                {#<td>{{ annonces.datecreation.format('Y-m-d') }}</td>#}

                                                <td>{{ annonces.description }}</td>





                                                <td>
                                                    <a href="{{ path('_supprimer',{'id':annonces.id}) }} ">
                                                        <img src="{{ asset('picture/delete2.png') }}"  style="width:42px;height:42px;border:0">
                                                    </a>
                                                </td>

                                                <td>
                                                    <a href="{{ path('_modifier',{'id':annonces.id}) }}">
                                                        <img src="{{ asset('picture/update2.png') }}"  style="width:42px;height:42px;border:0">
                                                    </a>
                                                </td>
                                                {% else %}
                                            <tr><td> {{ annonces.categorie }} </td>


                                                <td>{{ annonces.animal }}  </td>
                                                <td>{{ annonces.race }}</td>
                                                <td style="height: 20px;width: 50px;"><img src="{{ asset('upload_directory/pic/' ~ annonces.image) }}" style="height: 20px;width: 50px;">
                                                </td>
                                                <td>
                                                    {% if annonces.prix==NULL %}
                                                        <img src="{{ asset('picture/NoMonney2.png') }}"  style="width:42px;height:42px;border:0">

                                                    {% else %}
                                                        {{ annonces.prix }}


                                                    {% endif %}

                                                </td>








                                                <td>{{ annonces.datecreation.format('Y-m-d') }}</td>

                                                <td>{{ annonces.description }}</td>

                                                <td>
                                                    <a href="{{ path('_supprimer',{'id':annonces.id}) }} ">
                                                        <img src="{{ asset('picture/delete2.png') }}"  style="width:42px;height:42px;border:0">
                                                    </a>
                                                </td>

                                                <td>
                                                    <a href="{{ path('_modifier1',{'id':annonces.id}) }}">
                                                        <img src="{{ asset('picture/update2.png') }}"  style="width:42px;height:42px;border:0">
                                                    </a>
                                                </td>
                                            </tr>
                                                {% endif %}






                                                {% endfor %}

                                            </tbody>

                                        </table><br>

                                        <table>



                                        <tr>
                                            <td><a href="{{ path('_ajoutVente') }} " > <input type="submit" value="mettre a vendre mon animal"> </a></td>
                                            <td><a href="{{ path('_ajoutAutre') }} " > <input type="submit" value="mettre a adopter mon animal"> </a></td>
                                            <td><a href="{{ path('_ajoutAutre') }} " > <input type="submit" value="mettre Lost&Found un animal"> </a></td>
                                            <td><a href="{{ path('_affichage3') }} " > <input type="submit" value=" Voir mes demandes"> </a></td>

                                        </tr>
                                        </table>




                                    </div>
                                </div>
                            </div>


                        {% endblock %}





                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->
    <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable2').DataTable(




            );
        });
    </script>

{% endblock %}





