{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}
{% block body %}
    <!-- eof .page_header -->
    <section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
             style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center breadcrumbs_inner">
                    <h2 class="highlight"style="color: white">
                        Animaux a adopter </h2>
                    <label> Recherche par animal :</label> <SELECT >
                        <OPTION > Chien
                        <OPTION > Chat
                        <OPTION > Oiseau
                        <OPTION >canard
                        <OPTION >Vache
                    </SELECT>
                    <label> Recherche par race :</label> <input type="text">

                </div>
            </div>
        </div>
    </section>
    <section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
        <div class="container">
            <div class="row">


                <header class="woocommerce-products-header">


                </header>


                <div id="content_products" class="col-sm-12">
                    <div class="columns-3">
                        <div class="storefront-sorting bottommargin_30 clearfix">
                            {% block contenu %}

    {% for annonce in annoncesA %}
        <ul class="products list-unstyled grid-view isotope_container-tcHIDE">




            <div class="vertical-item content-padding text-center with_shadow rounded">
                <div class="item-media with_background" style="border: solid">

                    ,

                    <td style="height: 200px;width: 200px;"><img src="{{ asset('upload_directory/pic/' ~ annonce.image) }}" style="height: 200px;width: 200px;">
                    </td>

                    <input type="submit" id="btn{{ annonce.id }}" value="Voir toutes les informations ">
                    <a href="{{ path('_JeAdopter',{'id':annonce.id}) }} " > <input type="submit" value="Je veux adopter"> </a>
                    <a href="{{ path('_Signaler',{'id':annonce.id}) }} " > <input type="submit" value="Signaler cette annonce"> </a>
                </div> <!-- eof .item-media -->
                <div class="item-content">

                    <!-- The Modal -->
                    <div id="{{ annonce.id }}" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                            <table border="0">
                                <tr>
                                    <td style="height: 200px;width: 200px;"><img src="{{ asset('upload_directory/pic/' ~ annonce.image) }}" style="height: 200px;width: 200px;">
                                    </td>
                                </tr>

                                <tr>

                                    <td> c'est un {{ annonce.animal }} de race : {{ annonce.race }} </td>
                                </tr>

                                <tr>
                                    <td> <h3>Description  </h3>
                                        {{ annonce.description }}</td>


                                </tr>






                            </table>

                                <script>
                                    // Get the modal
                                    var modal{{ annonce.id }} = document.getElementById('{{ annonce.id }}');

                                    // Get the button that opens the modal
                                    var btn{{ annonce.id }} = document.getElementById("btn{{ annonce.id }}");

                                    // Get the <span> element that closes the modal
                                    var span = document.getElementsByClassName("close")[0];

                                    // When the user clicks the button, open the modal
                                    btn{{ annonce.id }}.onclick = function() {
                                        modal{{ annonce.id }}.style.display = "block";
                                    }

                                    // When the user clicks on <span> (x), close the modal
                                    span.onclick = function() {
                                        modal{{ annonce.id }}.style.display = "none";
                                    }

                                    // When the user clicks anywhere outside of the modal, close it
                                    window.onclick = function(event) {
                                        if (event.target == modal{{ annonce.id }}) {
                                            modal{{ annonce.id }}.style.display = "none";
                                        }
                                    }
                                </script>







                        </div>

                    </div>

                </div>
            </div>

        </ul>
    {% endfor %}
                                {{ knp_pagination_render(annoncesA) }}
                                <script>
                                // When the user clicks anywhere outside of the modal, close it
                                window.onclick = function(event) {
                                {% for annonce in annoncesA %}
                                    if (event.target == document.getElementById('{{ annonce.id }}')) {
                                    document.getElementById('{{ annonce.id }}').style.display = "none";
                                    }
                                {% endfor %}
                                }
                                </script>
    </div><!-- eof .columns-2 -->

    </div><!-- eof #content_products -->




    </div><!-- eof .row-->
    </div><!-- eof .row-->
    </div><!-- eof .container -->
    </section><!-- eof .page_content -->


                            {% endblock %}


                        </div>

                    </div><!-- eof .columns-2 --></div><!-- eof #content_products -->


            </div><!-- eof .row-->
        </div><!-- eof .container -->
    </section><!-- eof .page_content -->

    <div class="modal fade customModal" id="pop">

    </div>


{% endblock %}





