


{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}





{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight"style="color: white">
                    Voir personnes interesses par mes annonces				</h2>
                <h4 style="color: black">remarque: veuillez s'il vous plait appeler les numero de vos demandes et apres apres avoir fait la transaction clicker sur valider demande pour qu'on retire l'annonce !!Merci</h4>

            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">
                        {% block contenu %}


                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center breadcrumbs_inner">
                                        <fieldset>
                                            <legend><h2></he> Mes demandes d'adoption</h2> </legend>
                                            <table border="0" id="annoncesTable1">
                                                <thead>
                                                <tr>


                                                    <th> Animal</th>
                                                    <th>Race</th>
                                                    <th> Pourquoi on veut adopter votre animal</th>
                                                    <th>Est ce que vous avez d'autres animaux a la maison?</th>
                                                    <th>Comment nous garantir que vous allez bien vous occupez de cet animal</th>
                                                    <th> Numero de la personne en question</th>
                                                    <th> Valide</th>
                                                    <th> Valider operation</th>
                                                    <th>Ignorer demande</th>


                                                </tr>
                                                {% for i in losts %}

                                                    {% if i.categorie=="Adoption" %}


                                                    <tr>

                                                        <td> {{ i.annonce.animal}}</td>
                                                        <td> {{ i.annonce.race}}</td>
                                                        <td> {{ i.q1}}</td>
                                                        <td> {{ i.q2}}</td>
                                                        <td>{{ i.q3}} </td>
                                                        <td> {{ i.numTel}}</td>
                                                        <td>
                                                            {% if i.valide==1 %}
                                                                <img src="{{ asset('picture/valider2.png') }}"  style="width:42px;height:42px;border:0">

                                                            {% else %}
                                                                <img src="{{ asset('picture/NonValider.jpg') }}"  style="width:42px;height:42px;border:0">

                                                            {% endif %}
                                                        </td>

                                                        <td>
                                                            <a href="{{ path('_valider2',{'id':i.id,'annonce':i.annonce.id}) }}">
                                                                Valider
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ path('_supprimerdemande',{'id':i.id}) }}">
                                                                Ignorer
                                                            </a>
                                                        </td>



                                                    </tr>

                                                {% endif %}
                                                {% endfor %}



                                                </thead>

                                            </table>
                                            <tbody>

                                        </fieldset>
                                        <br><br><br>
                                        <fieldset>
                                            <legend> <h2>Mes demandes D'achat</h2> </legend>
                                            <table border="0" id="annoncesTable3">
                                                <thead>
                                                <tr>
                                                    <th> Animal</th>
                                                    <th> Race</th>
                                                    <th> Comment comptez vous payez ?</th>
                                                    <th> c'est quoi les delais de paiement</th>

                                                    <th>Prix secondaire</th>
                                                    <th> Numero de la personne en question</th>
                                                    <th> Valide</th>
                                                    <th> Valider operation</th>
                                                    <th>Ignorer demande</th>
                                                </tr>
                                                {% for i in losts %}
                                                {% if i.categorie=="Vente" %}

                                                        <tr>

                                                            <td> {{ i.annonce.animal}}</td>
                                                            <td> {{ i.annonce.race}}</td>
                                                            <td> {{ i.q7}}</td>
                                                            <td> {{ i.q8}}</td>
                                                            <td>{{ i.prixSecondaire}} </td>
                                                            <td> {{ i.numTel}}</td>
                                                            <td>
                                                                {% if i.valide==1 %}
                                                                    <img src="{{ asset('picture/valider2.png') }}"  style="width:42px;height:42px;border:0">

                                                                {% else %}
                                                                    <img src="{{ asset('picture/NonValider.jpg') }}"  style="width:42px;height:42px;border:0">

                                                                {% endif %}
                                                            </td>
                                                            <td>
                                                                <a href="{{ path('_valider2',{'id':i.id,'annonce':i.annonce.id}) }}">
                                                                    Valider
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{{ path('_supprimerdemande',{'id':i.id}) }}">
                                                                    Ignorer
                                                                </a>
                                                            </td>




                                                        </tr>

                                                {% endif %}
                                                {% endfor %}


                                                </thead>
                                            </table>
                                            <tbody>

                                        </fieldset><br><br>
                                        <fieldset>
                                            <legend> <h2>Mes demandes LostAndFound </h2></legend>
                                            <table border="0" id="annoncesTable4">
                                                <thead>
                                                <tr>

                                                    <th> Animal</th>
                                                    <th> Race</th>
                                                    <th> PQu'est ce qui caracterise l' animal ?</th>
                                                    <th> vous l'animal a ete perdu et comment?</th>
                                                    <th>	Comment nous garantir que vous allez bien vous occupez de cet animal</th>
                                                    <th> Numero de la personne en question</th>
                                                    <th> Valide</th>
                                                    <th> Valider operation</th>
                                                    <th>Ignorer demande</th>


                                                </tr>
                                                {% for i in losts %}

                                                {% if i.categorie=="LostAndFound" %}

                                                    <tr>

                                                        <td> {{ i.annonce.animal}}</td>
                                                        <td> {{ i.annonce.race}}</td>
                                                        <td> {{ i.q4}}</td>
                                                        <td> {{ i.q5}}</td>
                                                        <td>{{ i.q6}} </td>
                                                        <td> {{ i.numTel}}</td>
                                                        <td>
                                                        {% if i.valide==1 %}
                                                            <img src="{{ asset('picture/valider2.png') }}"  style="width:42px;height:42px;border:0">

                                                        {% else %}
                                                            <img src="{{ asset('picture/NonValider.jpg') }}"  style="width:42px;height:42px;border:0">

                                                        {% endif %}
                                                        </td>
                                                        <td>
                                                            <a href="{{ path('_valider2',{'id':i.id,'annonce':i.annonce.id}) }}">
                                                                Valider
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="{{ path('_supprimerdemande',{'id':i.id}) }}">
                                                                Ignorer
                                                            </a>
                                                        </td>


                                                    </tr>

                                                {% endif %}
                                                {% endfor %}
                                                </thead>
                                            </table>
                                            <tbody>

                                        </fieldset>








                                    </div>
                                </div>
                            </div>


                        {% endblock %}







                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->
  <!--  <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable1').DataTable(




            );
        });
    </script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable3').DataTable(




            );
        });
    </script>
    <script>
        jQuery(document).ready(function () {
            jQuery('#annoncesTable4').DataTable(




            );
        });
    </script> -->

{% endblock %}





