


{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}




{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight"style="color: white">
                    Mettre mon animal a vendre				</h2>

            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">


                        {% block contenu %}


                            <fieldset>


                                {{ form_start(f) }}

                                <table>

                                    <tr>
                                        <td>Animal</td>
                                        <td>{{ form_widget(f.animal) }}</td>
                                    </tr>
                                    <tr>
                                        <td>Race</td>
                                        <td>{{ form_widget(f.race) }}</td>
                                    </tr>
                                    <tr>
                                        <td>Prix</td>
                                        <td>{{ form_widget(f.prix) }} Dt</td>
                                    </tr>
                                    <tr>
                                        <td>Description</td>
                                        <td>{{ form_widget(f.description) }}</td>
                                    </tr><tr>
                                        <td>Image</td>
                                        <td>{{ form_widget(f.image) }}</td>
                                    </tr>
                                    <tr><td>{{ form_widget(f.Ajouter) }}</td></tr>

                                </table>

                            </fieldset>

                            {{ form_end(f) }}

                        {% endblock %}





                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock %}





