

{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}




{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
               <h4> Veuillez please prouver que c'est votre animal en repondant a ces questions
                </h4>
                <td style="height: 200px;width: 200px;"><img src="{{ asset('upload_directory/pic/' ~ annonce.image) }}" style="height: 200px;width: 200px;">
                </td>



            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">
                        {% block contenu %}
                        <form method="post" action="{{ path('_demandeRecuperation',{'id' : annonce.id}) }}">
                            <table>

                                <td><label>Qu'est ce qui caracterise le plus votre animal  ?</label></td>
                                <td> <textarea  rows="4" value="" name="text4"></textarea> </td>

                                <td><label>OU vous avez perdu votre animal et comment?</label> </td>
                                <td> <textarea rows="4" value="" name="text5"></textarea> </td>

                                <td><label>Comment on peut croire que c'est votre animal?</label></td>
                                <td> <textarea rows="4" value="" name="text6"></textarea>  </td>
                            </table>
                            </table>

                            <label>Veuillez s'il vous plait inserer au moin deux photos de l'animal</label>


                            <td><input type="file" name="image" ></td><td><input type="file" name="image" ></td>

                            <label>Veuillez Laisser nous votre numero s'il vous plait pour vous contacter</label><input type="textarea" name="num2">
                            <br>

                            {% if annonce.demande %}
                                <input type="submit" value="Envoyer demande de recuperations" disabled>
                                <lable>Votre demande de recuperation est faite! veuillez s'il vous plait attendre un coup de fil  </lable>
                            {% else %}
                                <input type="submit" value="Envoyer demande de recuperations" >
                            {% endif %}


                        </form>





                        {% endblock %}




                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock %}

