

{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}




{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h4> Merci de bien vouloir adopter cet animal mais priere de repondre a ces questions dabord !
                </h4>
                <td><img src="{{ asset('upload_directory/pic/' ~ annonce.image) }}" height="100px" width="250px">
                </td>


            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">
                        {% block contenu %}

                                <form method="post" action="{{ path('_demandeAdoption',{'id' : annonce.id}) }}">
                                    <table>

                                <td><label>Pourquoi voulez vous adopter cet animal</label></td>
                                <td> <textarea  rows="4" value="" name="text1"></textarea> </td>

                                <td><label>Est ce que vous avez d'autres animaux a la maison?</label> </td>
                                <td> <textarea rows="4" value="" name="text2"></textarea> </td>

                                <td><label>Comment nous garantir que vous allez bien vous occupez de cet animal</label></td>
                                <td> <textarea rows="4" value="" name="text3"></textarea>  </td>
                            </table>





                            <label>Veuillez Laisser nous votre numero s'il vous plait pour vous contacter</label><input type="textarea" name="num">
                                    <br>

                                    {% if annonce.demande %}
                                        <input type="submit" value="Envoyer demande d'adoption" disabled>
                                        <lable>Votre demande d'adoption est faite! veuillez s'il vous plait attendre un coup de fil de la du proprietaire </lable>
                                    {% else %}
                                        <input type="submit" value="Envoyer demande d'adoption" >
                                    {% endif %}
                            </form>





                        {% endblock %}




                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock %}

