

{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}




{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h4> Achat/Vente
                </h4>
                <td style="height: 200px;width: 200px;"><img src="{{ asset('upload_directory/pic/' ~ annonce.image) }}" style="height: 200px;width: 200px;">
                </td>



            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">
                        {% block contenu %}
                            <form method="post" action="{{ path('_demandeAchat',{'id' : annonce.id}) }}">
                                <table>

                                    <td><label>Comment comptez vous payez ?</label></td>
                                    <td><SELECT  name="text7">
                                            <OPTION > Especes
                                            <OPTION > Cheques
                                            <OPTION > Autres

                                        </SELECT></td>

                                    <td><label>c'est quoi les delais de paiement</label> </td>

                                    <td><SELECT  name="text8">
                                        <OPTION > 4ours
                                        <OPTION > 1semaine
                                        <OPTION > 2 semaines
                                        <OPTION >3 semaines
                                        <OPTION >plus qu'un mois
                                    </SELECT></td>

                                    <td><label>Si le prix vous semble abuser vous pouvez proposez un prix secondaire</label></td>
                                    <td> <textarea rows="4" value="" name="text9"></textarea>Dt  </td>
                                </table>
                                </table>



                                <label>Veuillez Laisser nous votre numero s'il vous plait pour vous contacter</label><input type="textarea" name="num3">
                                <br>

                                {% if annonce.demande %}
                                    <input type="submit" value="Envoyer demande d'achat" disabled>
                                    <lable>Votre demande d'achat est faite! veuillez s'il vous plait attendre un coup de fil de la part du prorietaire  </lable>
                                {% else %}
                                    <input type="submit" value="Envoyer demande d'achat" >
                                {% endif %}

                            </form>





                        {% endblock %}




                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock %}

