


{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}




{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight"style="color: white">
                    Modifier votre annonce				</h2>

            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">
                        {% block contenu %}

                            <fieldset>

                                <form method="Post" action="">
                                    <table>
                                        <tr>
                                            <td>Categorie :</td>
                                            <td>
                                                <SELECT name="categorie" size="1">

                                                    <OPTION {% if annonces.categorie=="Vente"%} selected {% endif %}>Vente

                                                </SELECT>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Animal :</td>
                                            <td><input type="text" name="animal" id="animal" value="{{ annonces.animal }}"></td>
                                        </tr>
                                        <tr>
                                            <td>Description :</td>
                                            <td><input type="text" name="description" id="description " value={{ annonces.description }}></td>
                                        </tr>
                                        <tr>
                                            <td>Race :</td>
                                            <td><input type="text" name="race" id="race " value={{ annonces.race }}></td>
                                        </tr>
                                        <tr>
                                            <td>Prix(dt) :</td>
                                            <td><input type="text" name="prix" id="prix " value={{ annonces.prix }}></td>
                                        </tr>
                                        <tr>
                                            <td>Image :</td>
                                            <td><input type="file" name="image" ></td>
                                        </tr>

                                        <tr>
                                            <td><input type="submit" value="modifier" name="ajouter"></td>
                                        </tr>


                                    </table>
                                </form>
                            </fieldset>

                        {% endblock %}





                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock %}







