
{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}




{% block body %}
    <!-- eof .page_header --><section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay" style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h2 class="highlight"style="color: white">
                    Animaux a adopter				</h2>

            </div>
        </div>
    </div>
</section>		<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">



            </header>


            <div id="content_products" class="col-sm-12"><div class="columns-3"><div class="storefront-sorting bottommargin_30 clearfix">
                        {% block contenu %}

                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-12 text-center breadcrumbs_inner">


                                        <table border="0">
                                            <tr>
                                                <td> Categorie</td>
                                                <td> Animal</td>
                                                <td> Race</td>
                                                <td>Image</td>
                                                <td> Date</td>
                                                <td> Description</td>

                                            </tr>
                                            {% for annonce in annonces %}

                                                <tr>
                                                    <td> {{ annonce.categorie }} </td>


                                                    <td>{{ annonce.animal }}  </td>
                                                    <td>{{ annonce.race }}</td>
                                                    <td><img src ="{{ asset('images/') }}{{ annonces.image }}"  >       </td>
                                                    <td>{{ annonce.datecreation.format('Y-m-d') }}</td>

                                                    <td>{{ annonce.description }}</td>
                                                    <td><a href>Je veux Adopter</a></td>
                                                    <td><a href>Signaler cette annonce</a></td>


                                                </tr> {% endfor %}





                                        </table>





                                    </div>
                                </div>
                            </div>


                        {% endblock %}




                    </div>

                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->



        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->

{% endblock %}