{% extends 'AnnonceBundle:Default:Annonces.html.twig' %}{% block body %}
<!-- eof .page_header -->
<section class="page_breadcrumbs ds background_cover section_padding_65 section_overlay"
         style="background-image: url(../wp-content/themes/pet-space/img/parallax/breadcrumbs.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center breadcrumbs_inner">
                <h4> On va prendre en compte votre signal mais veuillez s'il vous plait mentionner les raisons!
                </h4>


            </div>
        </div>
    </div>
</section>
<section class="ls page_content section_padding_top_100 section_padding_bottom_90 columns_padding_25">
    <div class="container">
        <div class="row">


            <header class="woocommerce-products-header">
            </header>
            <div id="content_products" class="col-sm-12">
                <div class="columns-3">
                    <div class="storefront-sorting bottommargin_30 clearfix">
                        <form method="post" action="{{ path('_Signaler_creer',{'id' : annonce.id}) }}">
                            Veuillez choisir les raisons pour lequelles vous voulez signaler cette annonce s'il vous
                            plait: <br><br>
                            <SELECT id="signalement" name="signalement">
                                <OPTION value="1"> Contenu inaproprie
                                <OPTION value="2"> informations incorrects
                                <OPTION value="3"> ce n'est pas interessant
                                <OPTION value="4">spam
                                <OPTION value="5">Autres
                            </SELECT>
                            {% if annonce.hasBeenReported %}
                                <input type="submit" value="Signaler" disabled>
                                <lable>Signal !Votre signal sera pris en consideration</lable>
                            {% else %}
                                <input type="submit" value="Signaler" >
                            {% endif %}

                        </form>
                    </div>
                </div><!-- eof .columns-2 --></div><!-- eof #content_products -->
        </div><!-- eof .row-->
    </div><!-- eof .container -->
</section><!-- eof .page_content -->


{% endblock %}

