{% block body %}







    {% for annonce in annonces %}
        <ul class="products list-unstyled grid-view isotope_container-tcHIDE">




            <div class="vertical-item content-padding text-center with_shadow rounded">
                <div class="item-media with_background">

                    <img width="400" height="400" src="{{ asset('picture/Vente.jpg') }}"  style="width:500px;height:300px;border:0" ></a>
                </div> <!-- eof .item-media -->
                <div class="item-content">
                    <a href="" >
                        <h2 >Voir plus</h2>
                        <input type="submit" value="acheter">
                    </a>
                </div>
            </div>

        </ul>
    {% endfor %}

    </div><!-- eof .columns-2 -->

    </div><!-- eof #content_products -->




    </div><!-- eof .row-->
    </div><!-- eof .container -->
    </section><!-- eof .page_content -->

{% endblock %}