{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="login-container bg-white">
    <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">

        <br>

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}

            <div class="form-group form-group-default">
                <label>Login</label>
                <div class="controls">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control"/>

                </div>
            </div>


            <div class="form-group form-group-default">
                <label>Password</label>
                <div class="controls">
                    <input type="password" id="password" name="_password" required="required"class="form-control" />

                </div>
            </div>

            <div class="row">
                <div class="col-md-6 no-padding sm-p-l-10">
                    <div class="checkbox ">
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                        <label for="checkbox1">Keep Me Signed in</label>
                    </div>
                </div>

            </div>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}"class="btn btn-primary btn-cons m-t-10" />

        </form>

        <div class="pull-bottom sm-pull-bottom">
            <div class="m-b-30 p-r-80 sm-m-t-20 sm-p-r-15 sm-p-b-20 clearfix">
                <div class="col-sm-3 col-md-2 no-padding">

                </div>
                <div class="col-sm-9 no-padding m-t-10">

                </div>
            </div>
        </div>
    </div>
</div>
