<html>
<head>
    <link type="text/css" href="{{asset('css/lib/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{asset('css/lib/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet">

    <link type="text/css" href="{{asset('css/lib/bootstrap.min.css') }}" rel="stylesheet">
    <link type="text/css" href="{{asset('css/aaa.css') }}" rel="stylesheet">

</head>
<body>
<div class="container">

    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="login-form">

                    <img src="http://i.imgur.com/RcmcLv4.png" class="img-responsive" alt="" />




                {% if app.request.hasPreviousSession %}
                    {% for type, messages in app.session.flashbag.all() %}
                        {% for message in messages %}
                            <div class="flash-{{ type }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}

                <div>
                    {% block fos_user_content %}
                    {% endblock fos_user_content %}
                </div>



            </section>
        </div>




    </div>




</div>



<!-- Bootstrap -->

<script type="text/javascript" src="{{asset('js/lib/jquery.bootstrap-touchspin.min.js')}}"></script>




</body>
</html>